<div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
      <div class="card-header">
        Candidates
      </div>
        <div class="table-responsive shadow bg-white rounded  p-4">
          <table class="table" id="expenditures">
            <thead class="thead-light">
              <tr>
                <th>Jurisdiction</th>
                <th>District</th>
                <th>Name</th>
                <th>Raised</th>
                <th>Spent</th>
                <th>COH</th>
                <th>Net COH</th>
              </tr>
            </thead>

            <tbody>

                <% @candidates.each do |candidate| %>
                  <tr>
                    <% if candidate.former_candidate == false %>
                    <td class=""><%= candidate.district.jurisdiction.name%></td>
                    <td class="">
                        
                        <%if candidate.district.district != "At Large" && candidate.district.is_seat == false && candidate.district.is_area == false %>
                        <%= link_to "#{candidate.district.name} - #{candidate.district.district.to_i.ordinalize} District", candidate.district %>
                        <%elsif candidate.district.is_seat %>
                        <%= link_to "#{candidate.district.name} - Seat #{candidate.district.district}", candidate.district %>
                        <%elsif candidate.district.is_area %>
                        <%= link_to "#{candidate.district.name} - Trustee Area #{candidate.district.district}", candidate.district%>
                        <%elsif candidate.district.district == "At Large" %>
                        <%= link_to "#{candidate.district.name}", candidate.district%>
                        <%end%>
                    </td>
                   
                    <td class=""><%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate %></td>
                    <%if candidate.reports.present? %>
                    <% report = candidate.reports %>   
                    <td class="green-text text-right"><%= number_to_currency(candidate.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_receipts)) %></td>
                    <td class="red-text text-right"><%= number_to_currency(candidate.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_disbursements)) %></td>          
                    <td class="text-right "><span class="green-pill"><%= number_to_currency(report.order('period_end DESC').first.current_coh) %></span></td>
                    <td class=""><%if candidate.reports.order('period_end DESC').first.net_coh < 0 %><span class="float-right gop-text">(<%= number_to_currency(candidate.reports.order('period_end DESC').first.net_coh) %>)</span><%else%><span class="float-right"><%= number_to_currency(candidate.reports.order('period_end DESC').first.net_coh) %></span><%end%></td>
                    <%else%>
                    <td class="green-text text-right">$0.00</td>
                    <td class="red-text text-right">$0.00</td>          
                    <td class="text-right"><span class="green-pill">$0.00</span></td>
                    <td class="text-right"><span>$0.00</span></td>
                    <%end%>
                    <%end%>
                  </tr>
                <%end%>
                
            </tbody>
          </table>
        </div>


</div>