
        <div class="card shadow-sm mb-3 bg-white rounded primary-border">
          <table class="table table-sm" id="expenditures">
            <thead class="thead">
              <tr class="card-header">
                <th class="pl-4 col-3">Candidate</th>
                <th class="col-3">District</th>
                <th class="col-2">Raised</th>
                <th class="col-2">Spent</th>
                <th class="col-2">COH</th>
              </tr>
            </thead>

            <tbody>

                <% @candidates.uniq.each do |person| %>
                  <tr>
                    <td class="pl-4 col-3"><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
                    <td class="col-3">
                          <%= person.candidates.last.campaign.district.jurisdiction.name%>
                          <br>
                          <% district = person.candidates.last.campaign.district %>
                          <%if district.district != "At Large" && district.is_seat == false && district.is_area == false %>
                          <%= link_to "#{district.name} - #{district.district.to_i.ordinalize} District", district %>
                          <%elsif district.is_seat %>
                          <%= link_to "#{person.district.name} - Seat #{district.district}", district %>
                          <%elsif district.is_area %>
                          <%= link_to "#{district.name} - Trustee Area #{district.district}", district%>
                          <%elsif district.district == "At Large" %>
                          <%= link_to "#{district.name}", district%>
                          <%end%>
                      </td>
                   
                   
                      <% if person.candidate_committees.present? %>

                         <%if person.has_reports %>
                            <% reports = person.all_reports %>   
                            <td class="text-right col-2"><span class="green-text"><%= number_to_currency(reports.sum(:period_receipts)) %></span><br><small>Total Raised</small></td>
                            <td class=" text-right col-2"><span class="red-text"><%= number_to_currency(reports.sum(:period_disbursements)) %></span><br><small>Total Spent</small></td>          
                            <td class="text-right col-2 pr-4"><span class="green-text font-weight-bold"><%= number_to_currency(reports.order('period_end DESC').first.current_coh) %></span><br><small>Cash-on-Hand</small></td>
                            <%else%>
                            <td class="green-text text-right col-2">$0.00<br><small>Total Raised</small><br><small></td>
                            <td class="red-text text-right col-2">$0.00<br><small>Total Spent</small></td>          
                            <td class="text-right col-2 pr-4"><span class="green-text font-weight-bold">$0.00</span><br><small>Cash-on-Hand</small></td>
                        <%end%>
                      
                      <%end%>

                    

                  </tr>
                <%end%>
                
                

            </tbody>
          </table>
               

        </div>

 <%= link_to "Export (PDF)", people_path(@persons, format: "pdf"), :class => "float-right btn btn-primary ml-4" %>
