<div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
      <div class="card-header">
        Tracked Expenditures
      </div>
        <div class="table-responsive shadow bg-white rounded  p-4">
          <table class="table" id="expenditures">
            <thead class="thead-light">
              <tr>
                <th>Expenditure Date</th>
                <th>Description</th>
                <th>Committee</th>
                <th>Amount</th>
                <th>Candidate / Measure</th>
                <th>View</th>
              </tr>
            </thead>

            <tbody>

                <% @expenditures.each do |expenditure| %>
                  <tr>
                    <td class=""><%= expenditure.expenditure_date.to_formatted_s(:long) %><% if expenditure.is_amendment? %>*<%end%></td>
                    <td class=""><%= expenditure.description %></td>
                    <td class=""><%= link_to "#{expenditure.committee.name}", expenditure.committee %></td>
                    <td class=""><%= number_to_currency(expenditure.amount) %><br><small><% if expenditure.is_support? %>
                        Support
                        <%else%>
                        Oppose
                        <%end%></small></td>
                    <td class="">
                        <% if expenditure.person != nil %>
                        <%= link_to "#{expenditure.person.first_name} #{expenditure.person.last_name}", expenditure.person %> <br> <small><%= link_to "#{expenditure.person.district.name}", expenditure.person.district %> </small>
                        <%else%>
                        <%= link_to "Measure #{expenditure.measure.letter}", expenditure.measure %><br><small><%= link_to "#{expenditure.measure.jurisdiction.name}", expenditure.measure.jurisdiction %></small>
                        <%end%>
                    </td>
                    <td><% if expenditure.pdf.url.present? %><%= link_to "View", expenditure.pdf.url, :class => "btn btn-primary", target: :_blank %><%end%></td>
                  </tr>
                  <% end %>

            </tbody>
          </table>
        </div>


</div>