<div class="container mt-3">
<div class="dashboard-header border rounded p-4">
  <h2 class="text-left-right heavy">
    <span class="text-left">It's good to have you back</span>
    <span class="dark-red-supporting"> <%= current_user.first_name %>!</span>
  </div>
<div>  
  <div class="row pt-4">
    <div class="col-md-6">  
          <%= render 'trackeddistricts'%>
          <%= render 'birthdays' %>
    </div>
    <div class="col-md-6">
         <%= render 'deadlines'%>
    </div>
    <div class="col">
      <%= render 'candidates'%>
     <%= render 'expenditures'%>
    </div>

    </div>


</div>



