<%= bootstrap_form_for(@former_office, label_errors: true) do |f| %>
  <% if @former_office.errors.any? %>
    <% @former_office.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
 

  <div class="row">
    <div><%= f.hidden_field :person_id, :value => @person.id %></div>
    <div class="col">
    <%= f.select(:district_id, District.all.collect { |v| ["#{v.jurisdiction.name} - #{v.name} (District #{v.district}) #{v.term_expires}", v.id ] }, {:include_blank => true}) %></div>
  </div>
  <div class="row">
    <div class="col">
    <%= f.check_box :elected, { checked: true } %>
    <%= f.check_box  :appointed %>    
    </div>
    <div class="col">
      <%= f.select :start_year, (Time.zone.now.year - 50)..(Time.zone.now.year), {:selected => '2020'} %>
    </div>
    <div class="col">
      <%= f.select :end_year, (Time.zone.now.year - 50)..(Time.zone.now.year), {:selected => '2020'} %>
    </div>
  </div>

    
    
    
  

  <div class="form-actions">
    <%= f.submit "Add Former Office" %>
  </div>
<% end %>


