<p id="notice"><%= notice %></p>

<h1>Former Offices</h1>

<table>
  <thead>
    <tr>
      <th>District</th>
      <th>Elected</th>
      <th>Appointed</th>
      <th>Start year</th>
      <th>End year</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @former_offices.each do |former_office| %>
      <tr>
        <td><%= former_office.district %></td>
        <td><%= former_office.elected %></td>
        <td><%= former_office.appointed %></td>
        <td><%= former_office.start_year %></td>
        <td><%= former_office.end_year %></td>
        <td><%= "#{former_office.person.full_name}" %></td>
        <td><%= link_to 'Show', former_office %></td>
        <td><%= link_to 'Edit', edit_former_office_path(former_office) %></td>
        <td><%= link_to 'Destroy', former_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Former Office', new_former_office_path %>
