
<%= simple_form_for(@registration_history) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="container">
      <%= f.input :name %>
  <div class="row">

    <div class="col">
      <%= f.input :total_2012 %>
      <%= f.input :total_2014 %>
      <%= f.input :total_2016 %>
      <%= f.input :total_2018 %>
      <%= f.input :total_2020 %>
    </div>
    <div class="col">
      <%= f.input :dem_2012 %>
      <%= f.input :dem_2014 %>
      <%= f.input :dem_2016 %>
      <%= f.input :dem_2018 %>
      <%= f.input :dem_2020 %>
    </div>
    <div class="col">
      <%= f.input :gop_2012 %>
      <%= f.input :gop_2014 %>
      <%= f.input :gop_2016 %>
      <%= f.input :gop_2018 %>
      <%= f.input :gop_2020 %>
    </div>
  </div>

  
    
    

    

    
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary"%>
  </div>

<% end %>
