<p id="notice"><%= notice %></p>

<h1>Registration Histories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registration_histories.each do |registration_history| %>
      <tr>
        <td><%= registration_history.name %></td>


        <td><%= link_to 'Show', registration_history %></td>
        <td><%= link_to 'Edit', edit_registration_history_path(registration_history) %></td>
        <td><%= link_to 'Destroy', registration_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration History', new_registration_history_path %>
