
<div style="width:100%;">
      <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
        <div class="card-header">
          <%if @person.former_candidate %>
          FORMER OPPONENTS
          <%else%>
          Candidates for <%= @person.district.name %>
          <%end%>
        </div>
      <% if @person.is_candidate %>
      <div class="table-responsive p-1">
        <table class="table table p-2 bg-white" style="width:100%">
          <tbody>     

                
                   
                <% @person.district.jurisdiction.candidates.each do |candidate| %>
                <% if candidate.district.term_expires.to_s == "2020" && candidate.district.at_large_district? %>
            <tr >
              <% if candidate.former_candidate == false && (candidate.on_ballot? || candidate.running_reelection?) %>
               
                <% report = candidate.reports.most_recent %>
                <td class="condensed-column pt-4 pb-0 text-right">
                <% if candidate.endorsed_republican? %>
                <div class=""><span class="gop-text"><%= material_icon.check_circle %></div>
                <%elsif candidate.endorsed_democrat?%>
                <div class=""><span class="dem-text"><%= material_icon.check_circle %></div>
                <%else%>
                <%end%>
                </td>                
                <td class="text-center  condensed-column"><%= image_tag candidate.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %></td>
                <td class="">
                  <% if candidate.party == "Republican" %>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name} #{candidate.incumbent_asterisk}", candidate, { :class =>"gop-text" }%>
                  <%elsif candidate.party == "Democrat"%>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name} #{candidate.incumbent_asterisk}", candidate, { :class =>"dem-text" }%>
                  <%else%>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name} #{candidate.incumbent_asterisk}", candidate, { :class =>"dts-text" }%>
                  <%end%><br><small>
                <%if candidate.is_incumbent? %>
                <%= candidate.title %>
                <%else%>
                <%= candidate.professional_career %>
                <%end%></small>
                <br><small class="primary-blue"> <%= candidate.ballot_status %> </small>
                </td>
                <%if candidate.reports.where(:cycle => "2020", candidate_report: true ).present? %>
                    <% report = candidate.reports %>   
                    <td class="text-right"><span class="green-text"><%= number_to_currency(candidate.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_receipts)) %></span><br><small>Raised this cycle</small><br><small><%= "(Since #{candidate.reports.where(candidate_report: true).order(:period_begin).first.period_begin.strftime("%m/%d/%Y")})" %></small></td>
                    <td class=" text-right"><span class="red-text"><%= number_to_currency(candidate.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_disbursements)) %></span><br><small>Spent this cycle</small><br><small><%= "(Through #{candidate.reports.where(candidate_report: true).order(:period_end).last.period_end.strftime("%m/%d/%Y")})" %></small></td>          
                    <td class="text-right "><span class="green-pill"><%= number_to_currency(report.where(candidate_report: true).order('period_end DESC').first.current_coh) %></span><br><small>Cash-on-Hand</small><br><small><%if report.where(candidate_report: true).order('period_end DESC').first.net_coh < 0 %><span class="float-right red-text">Net: (<%= number_to_currency(report.where(candidate_report: true).order('period_end DESC').first.net_coh) %>)<%else%><span class="float-right green-text">Net: <%= number_to_currency(report.where(candidate_report: true).order('period_end DESC').first.net_coh) %><%end%></small></td>
                    <%else%>
                    <td class="green-text text-right">$0.00<br><small>Raised this cycle</small><br><small></td>
                    <td class="red-text text-right">$0.00<br><small>Spent this cycle</small></td>          
                    <td class="text-right"><span class="green-pill">$0.00</span><br><small>Cash-on-Hand</small></td>
                    <%end%>
                <% end %>
                <%end%>
      
            </tr>
            <%end%>
            <small class="text-muted ml-2">Checkmark = Party Endorsement | * = Incumbent(s)</small>
          </tbody>
        </table>
      </div>

      <%end%>
      
      </div>
      </div>
    </div>
   