

    <% if @person.on_ballot?%>
    <h3><%= @person.district.name %> Campaign Info</h3>
    <% elsif @person.running_reelection? %>
    <h3><%= @person.incumbent_district.name %> Campaign Info</h3>
    <%end%>

    <% if current_user.subscribed == true %>
      
      

        <div class="col-lg">
        <%= render 'opponentssection'%>
        </div>

        <% if @person.reports.present? %>
        <%= render 'fundraisingheader'%>
        <%= render 'fundraisingdata'%>
        <%end%>

        
        <%= render 'expendituredata'%>
        </div>
    <%else%>
        <%= render 'shared/subscription_required' %>
    <%end%>

