

    <% if @person.campaign.present? %>
    <h3><%= @person.campaign_district.name %> Campaign Info</h3>
    <%end%>

    <% if current_user.subscribed == true %>
      
      

        <div class="col-lg">
        <%= render 'opponentssection'%>
        </div>

        <% if @person.reports.present? %>
        <%= render 'fundraisingheader'%>
        <%= render 'fundraisingdata'%>
        <%end%>

        
        <!-- RENDER EXPENDITURE DATA HERE -->
        </div>
    <%else%>
        <%= render 'shared/subscription_required' %>
    <%end%>

