


<% if @person.candidate_committees.present? %>
    <div class="h4">Campaign Finance Committees</div>
    <% @person.candidate_committees.order(primary_committee: :desc, cycle: :desc).each do |committee| %>
        
        <div class="card shadow-sm mb-3 bg-white rounded primary-border">
            <table class="table table-sm bg-white p-4" >
            <thead >
                <tr class="card-header">
                <th class="pl-4 col-4"><u><%if user_signed_in? && current_user.admin? || Admin.last.admin_mode == true%><%= link_to "#{committee.name}", committee %> <%else%><%= committee.name %><%end%></u>
                <%= committee.committee_status %>
                    </th>
                <th class="col-2 text-right">Raised</th>
                <th class="col-2 text-right pr-4">Spent </th>
                <th class="col-1 text-right d-none d-lg-table-cell">Debt</th>
                <th class="col-2 text-right pr-4 d-none d-lg-table-cell">Cash on Hand</th>
        
                </tr>

                <tr >
                <th class="pl-4">Committee Totals<br><%if user_signed_in? && current_user.admin? || Admin.last.admin_mode == true%><%= link_to "Add Report", new_report_path(:candidate_committee_id => committee.id), 
                    :class => "", :action => "new", :method => :get %><%end%>&nbsp</th>
                <th class="text-right"><%= number_to_currency(committee.reports.sum(:period_receipts)) %><br><small>Loans: <%= number_to_currency(committee.reports.sum(:loans_received)) %></small></th>
                <th class="text-right pr-4"><%= number_to_currency(committee.reports.sum(:period_disbursements)) %><br>&nbsp</th>
                <th class="text-right d-none d-lg-table-cell"><%if committee.reports.present?%><%= number_to_currency(committee.reports.order('period_end DESC').first.current_debt) %><%else%>$0.00<%end%><br>&nbsp</th>
                <th class="text-right pr-4 d-none d-lg-table-cell"><%if committee.reports.present?%><%= number_to_currency(committee.reports.order('period_end DESC').first.current_coh) %><br><small>Net: <%= number_to_currency(committee.reports.order('period_end DESC').first.net_coh) %></small><%else%>$0.00<%end%></th>

                </tr>
            </thead>
            
            <tbody>
                <%if committee.reports.present?%>
                    <% committee.reports.order('period_end DESC').each do |report| %>
                        <tr>
                            <td class="pl-4 d-none d-lg-table-cell"><%= link_to "#{report.period_begin.strftime("%b %d, %Y")} - #{report.period_end.strftime("%b %d, %Y")}", report %></td>
                            <td class="pl-4 d-lg-none"><%= link_to "#{report.period_begin.strftime("%m/%d/%y")} - #{report.period_end.strftime("%m/%d/%y")}", report %></td>
                            <td class="text-right "><%= number_to_currency(report.period_receipts) %></td>
                            <td class="text-right pr-4"><%= number_to_currency(report.period_disbursements) %></td>
                            <td class="text-right d-none d-lg-table-cell"><%= number_to_currency(report.current_debt) %></td>
                            <td class="text-right d-none d-lg-table-cell pr-4"><%= number_to_currency(report.current_coh) %></td>
                        </tr>
                    <%end%>  
                <%else%>
                <tr>
                <td class="pl-4">No reports filed yet. </td> 
                </tr>
                <%end%>
            </tbody>
        </table>

        </div>
        <%end%>
<%end%>