<% if @person.expenditures.present? || @person.committees.present? %> <!-- Start of candidate IE data, if available --> 
  <hr>


      <% if @person.on_ballot?%>
       <h5><%= "Independent Expenditures For/Against #{@person.first_name} #{@person.last_name} for #{@person.district.name} (2020 General)"%></h5>
      <%elsif %>
       <h5><%= "Independent Expenditures For/Against #{@person.first_name} #{@person.last_name} for #{@person.incumbent_district.name} (2020 General)"%></h5>
      <%end%>


  <%if @person.committees.present? %>
  <div class="row">
    <div class="col">
      <%= render 'committees'%>
    </div>
  </div> 
  <%end%> 
  <%if @person.expenditures.present? %> 
  <%= render 'expenditures_committee'%>
   <div style="width:100%;">
      <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
        <div class="card-header">
            Itemized Independent Expenditures for/against <%= "#{@person.first_name} #{@person.last_name}" %>
        </div>
    <div class="col">
  <div class="table-responsive my-4">
    <table class="table bg-white table-sm" style="width:100%" id="candidate-expenditures">
      <thead class="thead-light rounded">
      <tr>
        <th>Date</th>
        <th>Committee</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Support/Oppose</th>
        <th>View</th>
      </tr>
    </thead>

    <tbody>
      <% @expenditures.each do |expenditure| %>
        <tr>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.expenditure_date.to_formatted_s(:long) %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= link_to "#{expenditure.committee.name}", expenditure.committee %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.description %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= number_to_currency(expenditure.amount) %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>">
          <% if expenditure.is_support? %>
              Support
              <%else%>
              Oppose
              <%end%></td>
          <td><% if expenditure.pdf.url.present? %><%= link_to "View", expenditure.pdf.url, :class => "btn btn-primary btn-sm", target: :_blank %><%end%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
  <%end%>
  
  
  <%end%>

  <script>
    $( document ).on('turbolinks:load', function() {
    $('#candidate-expenditures').DataTable( {
      retrieve: true,
      "order": [[ 0, "desc" ]],
      ordering:  false,
      "dom": 'rtp'
    });
});
</script>
