
<div class="container bg-white shadow-sm border rounded mt-2">
<br>
<%= bootstrap_form_for(@person) do |f| %>


  <div class="row p-3">
    <div class="col-md-3">
      <h5 class="heavy">Biographical</h5>
    </div>

    <div class="col-md-9">
        <div class="row">
          <div class="col">
          <%= f.text_field :first_name, :required => true %>
          </div>
          <div class="col">
          <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.date_select :birthdate, start_year: 1930, end_year: 2002, order:[:month, :day, :year] %>
          </div>
          <div class="col">
            
            <%= f.text_field :birthplace %> 
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.file_field :image, { label: "Headshot" } %>
          </div>
          <div class="col">
            <%= f.text_field :remote_image_url, label: "Or Image URL"%>  
          </div>
        </div>
        <div class="row">
          <div class="col">
          <%= f.select :party, ['Republican', 'Democrat', 'Declined to State', 'Green', 'Peace & Freedom', 'Libertarian', 'Reform', 'Natural Law', 'American Independent', 'Unknown'], :include_blank => true %>
          </div>
          <div class="col">
            <%= f.text_field :professional_career %>
          </div>
        </div>    
        <%= f.text_area :bio %>
    </div>

  </div>

<hr>

  <div class="row p-3">
    <div class="col-md-3">
      <h5 class="heavy">Candidate Status</h5>
    </div>
    <div class="col-md-9">
        <div class="row">
          <div class="col">
          <%= f.form_group do %>
          <%= f.check_box :is_incumbent, label: "Is an incumbent"  %>
          <%= f.check_box  :running_reelection,  label: "Running for re-election", id:'reElection' %>
          <%end%>
          </div>
          <div class="col">
            <%= f.form_group do %>
            <%= f.check_box  :on_ballot,  label: "Running for non-incumbent office", id:"runningFor"%>
            <%= f.select(:district_id, District.all.collect { |v| [ "#{v.jurisdiction.name} - #{v.name} (District #{v.district})", v.id ] }, {:include_blank => true, label: false}, :disabled => true, id:"runningForPicker") %>
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.form_group  label: { text: "Party Endorsement" } do %>
            <%= f.check_box :endorsed_republican, label: "Endorsed Republican" %>
            <%= f.check_box :endorsed_democrat, label: "Endorsed Democrat" %>
            <%end%>
          </div>
          <div class="col">
           <%= f.select :ballot_status, ['Rumored', 'Declared Candidacy', 'On Ballot', 'Advanced to General', 'Withdrew', 'Lost in Primary'], :include_blank => true %></div>    
          </div>
            <%= f.text_field :campaign_website %>
        </div>          
    </div>

  <hr> 

  <div class="row p-3">
    <div class="col-md-3">
      <h5 class="heavy">Incumbent Information</h5>
    </div>
    <div class="col-md-9">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-auto">
                <%= f.date_select :first_elected, include_blank: true,  :discard_day => true, start_year: 1990, :order => [:month, :year], end_year: Date.today.year %>
              </div>
              <div class="col-auto">
                <%= f.check_box :is_appointed, label: "Appointed"  %>
              </div>
            </div>  
          </div>
          <div class="col">
            <%= f.text_field :prior_elected, { label: "Prior Elected Office(s) Held" } %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.text_field :title %>
          </div>
          <div class="col">
            <%= f.number_field :salary %>  
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.number_field :term, { label: "Term Limit Year" } %> 
          </div>
          <div class="col">
            <%= f.number_field :term_expires, { label: "Current Term Expires" } %> 
          </div>
        </div>               
    </div>
  </div>
<hr>  

<div class="row p-3">
    <div class="col-md-3">
      <h5 class="heavy">District Information</h5>
    </div>
    <div class="col-md-9">
        <div class="row">
          <div class="col">
          <%= f.collection_select(:congressional_district, District.all.where(name: "U.S. House"), :district, :district, label: "Congressional District", :include_blank => true ) %>    
          </div>
          <div class="col">
            <%= f.collection_select(:senate_district, District.all.where(name: "State Senate"), :district, :district, label: "Senate District", :include_blank => true ) %>    
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.collection_select(:assembly_district, District.all.where(name: "State Assembly"), :district, :district, label: "Assembly District", :include_blank => true ) %>    
          </div>
          <div class="col">
            <%= f.collection_select(:supe_district, District.all.where(name: "Board of Supervisors"), :district, :district, label: "Supervisor District", :include_blank => true ) %>    
          </div>
        </div>    
    </div>   
</div>
<hr>  



   <br>
<div class="row p-3">
    <div class="col-md-3">
      <h5 class="heavy">Contact Information</h5>
    </div>
    <div class="col-md-9">   
  <div class="row">
      <div class="col">
        <%= f.email_field :email %>  
      </div>
      <div class="col">
        <%= f.text_field :phone %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.text_field :twitter %> 
      </div>
      <div class="col">
        <%= f.text_field :facebook %>
      </div>
    </div>
    <%= f.text_field :official_website %>
  </div>
 <br>  
    
      
  
  <%= f.submit %>
<% end %>
<br>
</div>
