<% if @person.former_offices.present? %>
<div class="h4">Prior Elected Offices</div>
<div class="card shadow-sm mb-3 bg-white rounded primary-border">
    <table class="table table-sm bg-white" >
      <thead class="card-header">
        <tr>
          <th class="pl-4 col-10">Office</th>
          <th class="col=2">Years Served</th>
          
        </tr>
      </thead>
      
      <tbody>
        <% @person.former_offices.order("end_year desc").each do |former_office| %>
        <% @district = District.find_by_id(former_office.district_id) %>
        <tr>
            
          <td class="pl-4"><%if former_office.at_large? %><%= link_to "#{@district.jurisdiction.name} - #{@district.name}", @district.jurisdiction %><%else%><%= link_to "#{@district.full_district_name}", @district %><%end%> <% if current_user.admin? %> - <%= link_to "Edit", edit_former_office_path(former_office) %> | <%= link_to 'Delete', former_office, method: :delete, data: { confirm: 'Are you sure?' } %> <%end%></td> 
          <td><%= former_office.start_year %> - <%= former_office.end_year %> </td>
        
        </tr>
       
        
      <% end %>
        </tbody>
    </table>
</div>
<%end%>

