  <div class="container">
  <div class="row p-2">
    <% if @person.reports.where(candidate_report: true).present? %> <!--Beginning of "IF" statement for candidate financial data, if available -->
      <div class="col-lg px-1 text-center">
        <div class="bg-white border rounded shadow-sm p-3">
          <h3 class="green-text"><%= number_to_currency(@person.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_receipts)) %></h3>
          <%if @person.on_ballot? %>
          <h6>Total Raised this cycle<br>for <%= @person.district.name %></h6>
          <%elsif @person.running_reelection? %>
          <h6>Total Raised this cycle<br>for <%= @person.incumbent_district.name %></h6>
          <%end%>
          <% if @person.reports.where(:cycle => "2020", candidate_report: true ).sum(:loans_received) > 0 %><small>Including <%= number_to_currency(@person.reports.where(:cycle => "2020", candidate_report: true ).sum(:loans_received)) %> in Loans</small><%end%>
        </div>
      </div>
      <div class="col-lg px-1 text-center">
        <div class="bg-white border rounded shadow-sm p-3 ">
        <h3 class="red-text"><%= number_to_currency(@person.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_disbursements)) %></h3>
          <%if @person.on_ballot? %>
        <h6>Total Spent this cycle<br>for <%= @person.district.name %></h6>
          <%elsif @person.running_reelection? %>
          <h6>Total Spent this cycle<br>for <%= @person.incumbent_district.name %></h6>
          <%end%>
          <% if @person.reports.where(:cycle => "2020", candidate_report: true ).sum(:loans_received) > 0 %><br><small></small><%end%>
      </div>
  </div>
  <div class="col-lg px-1 text-center">
    <div class="bg-white border rounded shadow-sm p-3 ">
    <h3 class="green-text heavy"><%= number_to_currency(@person.reports.where(candidate_report: true).order('period_end DESC').first.current_coh ) %></h3>
    <h6>Most Recent <br>Cash-On-Hand</h6>
              <% if @person.reports.where(:cycle => "2020", candidate_report: true ).sum(:loans_received) > 0 %><br><small></small><%end%>

    </div>
  </div>
  <%end%>
  <div class="table-responsive p-2 mt-4">
    <table class="table border shadow-sm p-2 bg-white" style="width:100%">
      <thead class="thead-light rounded">
        <tr>
          <th>Report Date</th>
          <th>Receipts</th>
          <th>Expenses</th>
          <th>COH</th>
          <th>Debt</th>
          <th>Net COH</th>
          <th>View</th>
        </tr>
      </thead>
      
      <tbody>
      <% @reports.order("report_filed DESC").each do |report| %>
        <% if report.candidate_report == true %>
        <tr>
          <td><%= link_to "#{report.report_filed.to_formatted_s(:long)}", report %><% if report.is_amended? %>*<%end%><br><small><%= "#{report.period_begin.strftime("%b-%d-%y")} - #{report.period_end.strftime("%b-%d-%y")}" %></small></td>
          <td><span class="float-right green-pill"><%= number_to_currency(report.period_receipts) %><% if report.loans_received.present? %></span><% if report.loans_received > 0 %><br><small class="float-right">(Incl $<%= number_with_delimiter(report.loans_received, :delimiter => ',')%> in loans.)</small><%end%><%end%></td>
          <td><span class="float-right red-pill"><%= number_to_currency(report.period_disbursements) %></span></td>
          <td><span class="float-right"><%= number_to_currency(report.current_coh) %></span></td>
          <td><span class="float-right"><%= number_to_currency(report.current_debt) %></td></span>
          <td><span><%= number_to_currency(report.net_coh) %></span></td>
          <td class><% if report.pdf.url.present? %><%= link_to "View", report.pdf.url, :class => "btn btn-primary", target: :_blank %><%end%></td>
        </tr>
        <%end%>
        
      <% end %>
    </tbody>
    </table>
    <small class="p-4">* = Report is amended version</small>
</div> 
</div>
</div>