<div class="row bg-light shadow-sm bg-white section-border rounded mt-1 p-3">
        <div class="col-sm-3 m-1 p-2 text-center "  >
          <% if @person.image.present? %>
          <%= image_tag @person.image.url(:headshot), alt: 'headshot', :class => "avatar center-image shadow", size: "125x125"  %><br>
          <% else %>
          <%= image_tag 'https://nex3.com/wp-content/uploads/2019/12/placeholder-headshot-300x300.png', alt: 'vacant_headshot', :class => "avatar text-center mb-3 shadow", size: "100x100"  %></div><br>
          <%end%>
            <h6 class="text-center"><% if @person.party == "Republican" %>
                  <span class="gop-pill text-center"><%= @person.party %></span> 
                    <% if @person.endorsed_republican? %>
                    <br>
                    <br>
                    <div>
                      <div class="gop-party-endorsed" style="display: inline-block;">Party Endorsed</div>
                    </div>
                    <%end%>
                  <%elsif @person.party == "Democrat"%>
                  <div class="dem-pill text-center" style="display: inline;"><%= @person.party %></div>
                    <% if @person.endorsed_democrat? %>
                    <br>
                    <br>
                    <div>
                      <div class="dem-party-endorsed" style="display: inline-block">Party Endorsed</div>
                    </div>
                    <%end%>
                  <%else%>
                  <%= @person.party %>
                  <%end%> </h6>
        </div>
        <div class="col-md m-1 p-2">
            <h1 class="p-0 m-0 primary-blue text-center text-md-left"><strong><%= "#{@person.first_name} #{@person.last_name}" %></strong></h1>
              <% if @person.incumbent_district.present? %>
              <h5 class="text-center text-md-left"><%= link_to "#{@person.incumbent_district.jurisdiction.name}", @person.incumbent_district.jurisdiction, :class => "nounderline" %> - 
                <% if @person.incumbent_district.district != "At Large" && @person.incumbent_district.is_seat == false && @person.incumbent_district.is_area == false %>
                <%= link_to "#{@person.title}, #{@person.incumbent_district.district.to_i.ordinalize} District", @person.incumbent_district, :class => "nounderline" %> 
                <% elsif @person.incumbent_district.is_seat %>
                <%= link_to "#{@person.title}, Seat #{@person.incumbent_district.district}", @person.incumbent_district, :class => "nounderline" %>
                <%elsif @person.incumbent_district.is_area %>
                <%= link_to "#{@person.title}, Trustee Area #{@person.incumbent_district.district}", @person.incumbent_district, :class => "nounderline" %>
                <%end%></h5>
              <%end%>
              
              <div class="row text-center text-md-left mb-1">
              <% if @person.on_ballot? || @person.running_reelection? %>
                <% if @person.running_reelection? %>
                  <div class="col-auto text-center text-md-left">  
                    <h6 class="nounderline dark-red-supporting heavy text-center text-md-left">Seeking Re-Election</h6>
                    <span class="text-center text-md-left heavy primary-blue" style="display: inline;">(<%= @person.ballot_status%>)</span>
                  </div>
                  <%else%>  
                  <div class="col-auto text-center text-md-left mb-1">
                    <% if @person.former_candidate %>
                      <% if @person.district.district != "At Large" %>
                      <h6 class="text-center text-md-left"><%= link_to "Former Candidate for #{@person.district.jurisdiction.name} - #{@person.district.name}, #{@person.district.district.to_i.ordinalize} District", @person.district, :class => "nounderline dark-red-supporting heavy text-center text-md-left" %></h6>  
                      <%else%>
                      <h6 class="text-center text-md-left"><%= link_to "Former Candidate for #{@person.district.jurisdiction.name} - #{@person.district.name}", @person.district, :class => "nounderline dark-red-supporting heavy text-center text-md-left" %></h6>  
                      <%end%>
                    <%else%>  
                      <% if @person.district.district != "At Large" %>
                      <h6 class="text-center text-md-left"><%= link_to "Candidate for #{@person.district.jurisdiction.name} - #{@person.district.name}, #{@person.district.district.to_i.ordinalize} District", @person.district, :class => "nounderline dark-red-supporting heavy text-center text-md-left" %></h6>  
                      <%else%>
                      <h6 class="text-center text-md-left"><%= link_to "Candidate for #{@person.district.jurisdiction.name} -  #{@person.district.name}", @person.district, :class => "nounderline dark-red-supporting heavy text-center text-md-left" %></h6>  
                      <%end%>
                    <%end%>
                    <span class="text-center text-md-left heavy primary-blue" style="display: inline;">(<%= @person.ballot_status%>)</span>
                    </div>  
                  <%end%>
                 </div> 
                 <div class="row ml-1 mt-0">

                  
                  
                <%end%>
                </div>
                
              <div class="row mt-0">
                <div class="col-auto">
                  <strong><small>Born:</small></strong>
                  <% if @person.is_incumbent? %>
                  <br><strong><small>Term Expires:</small></strong><br>
                  <%end%>
                  <%if @person.congressional_district.present? || @person.senate_district.present? || @person.assembly_district.present? || @person.supe_district.present? %>
                  <small>Resides in:</small>
                  <%end%>
                </div>
                <div class="col">
                  <% if @person.birthdate.present?%>
                  <small><%= @person.birthdate.to_formatted_s(:long) %> (Age <%= @person.calculated_age %>) </small>
                  <%else%>
                  <small><em>Unknown</em></small>
                  <%end%>
                  <%if @person.birthplace? %>
                  <small>in <%= @person.birthplace %></small>
                  <% end %>
                  <% if @person.term_expires.present? %>
                  <br><small><%= @person.term_expires %></small>
                  <%end%>
                  <% if @person.term? && @person.is_incumbent %>
                  <small><%= "(Term Limited in #{@person.term})" %></small>
                  <%end%>
                  <small>
                  <% if @person.congressional_district != nil %>
                  <br><%=  "CD-#{@person.congressional_district}" %>,
                  <%end%>
                  <% if @person.senate_district != nil %>
                  <%= "SD-#{@person.senate_district}" %>,
                  <%end%>
                  <% if @person.assembly_district != nil %>
                  <%= "AD-#{@person.assembly_district}" %>,
                  <%end%>
                  <% if @person.supe_district != nil %>
                  <%= "BOS-#{@person.supe_district}" %>
                  <%end%></small>
                </div>
              
              </div>
              <div class="row mt-2 d-flex align-items-start">
                <div class="col" style="color: #1992D4;">
                  <% if @person.is_incumbent? %>
                      <%if @person.official_website.present? %>
                        <%= link_to @person.official_website, target: :_blank, :class => "nounderline primary-blue" do %>
                            <%= fa_icon "desktop" %>&nbsp
                      <%end%>       
                    <% end %>
                        
                  <%else%>
                    <% if @person.campaign_website.present?%>
                      <%= link_to @person.campaign_website, target: :_blank, :class => "nounderline primary-blue" do %>
                      <%= fa_icon "desktop" %>  
                      <%end%>
                    <%end%> 
                  &nbsp   
                  <%end%>    
                  
                  <%if @person.email.present?%>
                    <%= mail_to @person.email, target: :_blank, :class => "nounderline"  do %>
                        <%= fa_icon "envelope" %>
                    <% end %>
                  &nbsp  
                  <%end%>  
                  
                  <%if @person.twitter.present? %>
                    <%= link_to "https://www.twitter.com/" + @person.twitter, target: :_blank, :class => "nounderline"  do %>
                        <%= fa_icon "twitter" %>
                    <% end %>
                  &nbsp  
                  <%end%>
                  
                  <% if @person.facebook.present? %>
                    <%= link_to "https://www.facebook.com/" + @person.facebook, target: :_blank, :class => "nounderline"  do %>
                        <%= fa_icon "facebook" %>
                    <% end %>
                  &nbsp
                  <%end%>  
                 <% if @person.phone.present? %> 
                    <p class="nounderline primary-blue m-0"><%= number_to_phone(@person.phone) %></p>
                  <%end%>
                  </div>
            </div>     
      </div>