<div class="container">
  <div class="row bg-light shadow-sm bg-white rounded mt-1 p-3">
    <div class="col-12 col-md-auto">
      <% if @person.image.present? %>
        <%= image_tag @person.image.url(:headshot), alt: 'headshot', class: "img-fluid shadow", style: "max-width: 185px; height: auto;" %>
      <% else %>
        <%= image_tag 'placeholder-headshot.png', alt: 'vacant_headshot', class: "img-fluid shadow", style: "width: 100px; height: auto;" %>
      <% end %>
    </div>
    <div class="col">
      <h1 class="h3 fw-bold mb-0"><%= "#{@person.first_name} #{@person.last_name} #{@person.party_abbreviation}" %></h1>
      <% if @person.district.present? %>
        <h5><%= link_to "#{@person.district.jurisdiction.name}", @person.district.jurisdiction, class: "nounderline" %> 
          <%= link_to "#{@person.title}, #{display_district(@person.incumbent_district)}", @person.incumbent_district, class: "nounderline" %></h5>
      <% end %>
      <div class="mb-1">
        <table class="table borderless table-sm">
          <% if @person.is_candidate == true %>
            <tr>
              <td class="fw-bold">Candidate for:</td>
              <td>
                <%= link_to "#{@person.campaign.district.full_district_name}", @person.campaign.district %>
              </td>
            </tr>
          <% end %>
          <% if @person.former_offices.present? && @person.district.nil? %>
            <tr>
              <td class="fw-bold">Formerly Represented:</td>
              <td>
                <%= link_to "#{@person.former_offices.order("end_year desc").first.district.full_district_name}", @person.former_offices.order("end_year desc").first.district %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td class="fw-bold col-4">Birthdate:</td>
            <td>
              <% if @person.birthdate.present? %>
                <%= @person.birthdate.to_formatted_s(:long) %> (Age <%= @person.calculated_age %>)
              <% else %>
                <em>Unknown</em>
              <% end %>
            </td>
          </tr>
          <% if @person.district.present? && @person.term_expires.present? %>
            <tr>
              <td class="fw-bold col-4">Term Expires:</td>
              <td><%= @person.term_expires %><% if @person.term? %><%= " (Term Limited in #{@person.term})" %><% end %></td>
            </tr>
          <% end %>
          <% if @person.resides_in_present %>
            <tr>
              <td class="fw-bold col-4">Resides in:</td>
              <td>
                <%= display_residence(@person) %>
              </td>
            </tr>
          <% end %>
          <% if @person.official_website.present? || @person.email.present? %>
            <tr>
              <td class="fw-bold col-4">Official Contact Info:</td>
              <td>
                <% if @person.official_website.present? %>
                  <%= link_to "Website", @person.official_website, target: :_blank %>
                <% end %>
                <% if @person.official_website.present? && @person.email.present? %>
                  |
                <% end %>
                <% if @person.email.present? %>
                  <%= mail_to @person.email, "E-Mail", target: :_blank %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>      
      </div> 
    </div>
    <div class="col-md-auto ms-md-auto text-end">
      <%= button_to 'Export District (PDF)', export_district_path(@person.district), method: :get, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row px-3">
    <div class="col">
      <%= render 'biography' %>
    </div>
  </div>
</div>
