<div class="card shadow-sm bg-white rounded mb-3" style="max-width: 100%;">
      <div class="card-header">
      Incumbent Fundraising
      </div>
    <div class="row">
      <div class="col-lg  text-center">
          <div class="bg-white p-3">
          <h3 class="green-text"><%= number_to_currency(@person.reports.where(:cycle => "2020", incumbent_report: true ).sum(:period_receipts)) %></h3>
          <h6>Total Raised for <br><%= @person.incumbent_district.name %> Committee</h6>
          <% if @person.reports.where(:cycle => "2020", incumbent_report: true ).sum(:loans_received) > 0 %><br><small>Including <%= number_to_currency(@person.reports.where(:cycle => "2020", candidate_report: true ).sum(:loans_received)) %> in Loans</small><%end%>
          </div>
      </div>
      <div class="col-lg text-center">
        <div class="bg-white  p-3 ">
        <h3 class="red-text"><%= number_to_currency(@person.reports.where(:cycle => "2020", incumbent_report: true).sum(:period_disbursements)) %></h3>
        <h6>Total Spent for <br><%= @person.incumbent_district.name %> Committee</h6>
        </div>
      </div>
    <div class="col-lg  text-center">
        <div class="bg-white p-3 ">
        <h3 class="green-pill heavy text-nowrap"><%= number_to_currency(@person.reports.where(incumbent_report: true).order('period_end DESC').first.current_coh ) %></h3>
        <h6>Most Recent<br> Cash-On-Hand</h6>
        </div>
    </div>
  </div>
</div>  
