<div class="col-lg">
      <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
        <div class="card-header">
          <%if @person.former_candidate %>
          FORMER OPPONENTS
          <%else%>
          CURRENT OPPONENTS
          <%end%>
        </div>
      <% if @person.on_ballot? %>
        
        <% if  @person.district.incumbent.running_reelection == false && @person.district.candidates == nil %>
        <div class="p-3">
        <em><%= "#{@person.first_name} #{@person.last_name} is currently unopposed." %></em>
        </div>
        <%end%>
    
      <div class="table-responsive p-1">
        <table class="table table p-2 bg-white" style="width:100%">
          <tbody>     
            <tr >
                <% if @person.district.incumbent.present? %>
                <% if @person.district.incumbent.running_reelection == true %>
                <% incumbent = @person.district.incumbent %>
                <td class="condensed-column pt-4 pb-0 no-border text-right">
                <% if incumbent.endorsed_republican? %>
                <div class=""><span class="gop-text"><%= material_icon.check_circle %></div>
                <%elsif incumbent.endorsed_democrat?%>
                <div class=""><span class="dem-text"><%= material_icon.check_circle %></div>
                <%else%>
                <%end%>
                </td>
                <td class="text-center no-border condensed-column"><%= image_tag incumbent.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %></td>
                <td class="no-border">
                  <% if incumbent.party == "Republican" %>
                  <%= link_to "#{incumbent.first_name} #{incumbent.last_name}", incumbent, { :class =>"gop-text" }%>
                  <%elsif incumbent.party == "Democrat"%>
                  <%= link_to "#{incumbent.first_name} #{incumbent.last_name}", incumbent, { :class =>"dem-text" }%>
                  <%else%>
                  <%= link_to "#{incumbent.first_name} #{incumbent.last_name}", incumbent, { :class =>"dts-text" }%>
                  <%end%><br><small>
                <%if incumbent.is_incumbent? %>
                <%= incumbent.title %>
                <%else%>
                <%= incumbent.professional_career %>
                <%end%></small></td>
                <td class="d-none d-sm-block no-border">
                <% if incumbent.ballot_status == "Advanced to General"%>
                <h6 class="advanced-general container text-center text-md-left" style="display: inline;"><%= incumbent.ballot_status%></h6>
                <%elsif incumbent.ballot_status == "Lost in Primary"%>
                <h6 class="lost-primary text-center text-md-left" style="display: inline;"><%= incumbent.ballot_status%></h6>
                <%elsif incumbent.ballot_status == "Rumored"%>
                <h6 class="rumored-candidate text-center text-md-left" style="display: inline;"><%= incumbent.ballot_status%></h6>
                <%elsif incumbent.ballot_status == "Declared Candidacy"%>
                <h6 class="declared-candidacy text-center text-md-left" style="display: inline;"><%= incumbent.ballot_status%></h6>
                <%elsif incumbent.ballot_status == "On Ballot"%>
                <h6 class="on-ballot text-center text-md-left" style="display: inline;"><%= incumbent.ballot_status%></h6>
                <%elsif incumbent.ballot_status == "Withdrew"%>
                <h6 class="withdrew" style="display: inline;"><%= incumbent.ballot_status%></h6>
                <%end%>
                </td>
                <% if incumbent.reports.where(candidate_report: true).present?%>  
                <% report = incumbent.reports %>             
                <td class="text-right no-border"><span class="green-pill">$<%= number_with_delimiter(report.order('period_end DESC').first.current_coh, :delimiter => ',') %></span><br><small>Cash-on-Hand</small></td>
                <%else%>
                <td class="text-right no-border">$0.00<br><small>Cash-on-Hand</small></td>
                <%end%>
                <%end%>
                <%end%>
                
                
            
            </tr>      
            <% @person.district.candidates.each do |candidate| %>
            <tr >
              <% if candidate.former_candidate == false && candidate.on_ballot? || candidate.running_reelection? %>
                <% if candidate.id != @person.id %>
                <% report = candidate.reports.most_recent %>
                <td class="condensed-column pt-4 pb-0 no-border text-right">
                <% if candidate.endorsed_republican? %>
                <div class=""><span class="gop-text"><%= material_icon.check_circle %></div>
                <%elsif candidate.endorsed_democrat?%>
                <div class=""><span class="dem-text"><%= material_icon.check_circle %></div>
                <%else%>
                <%end%>
                </td>                
                <td class="text-center no-border condensed-column"><%= image_tag candidate.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %></td>
                <td class="no-border">
                  <% if candidate.party == "Republican" %>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"gop-text" }%>
                  <%elsif candidate.party == "Democrat"%>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"dem-text" }%>
                  <%else%>
                  <%end%><br><small>
                <%if candidate.is_incumbent? %>
                <%= candidate.title %>
                <%else%>
                <%= candidate.professional_career %>
                <%end%></small></td>
                <td class="d-none d-sm-block no-border">
                <% if candidate.ballot_status == "Advanced to General"%>
                <h6 class="advanced-general container text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "Lost in Primary"%>
                <h6 class="lost-primary text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "Rumored"%>
                <h6 class="rumored-candidate text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "Declared Candidacy"%>
                <h6 class="declared-candidacy text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "On Ballot"%>
                <h6 class="on-ballot text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "Withdrew"%>
                <h6 class="withdrew" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%end%>
                </td>
                <% if candidate.reports.present?%>               
                <td class="text-right no-border"><span class="green-pill">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span><br><small>Cash-on-Hand</small></td>
                <%else%>
                <td class="text-right no-border"><span class="green-pill">$0.00<br><small>Cash-on-Hand</small></span></td>
                <%end%>
                <% end %>
                <%end%>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <%end%>
      <% if @person.running_reelection? %>
      <div class="table-responsive p-1">
        <table class="table table p-2 bg-white" style="width:100%">
          <tbody>             
            <% @person.incumbent_district.candidates.each do |candidate| %>
            <tr >
              <% if candidate.on_ballot? || candidate.running_reelection? %>
                <% if candidate.id != @person.id %>
                <% report = candidate.reports.order('period_end DESC').first %>
                <td class="condensed-column pt-4 pb-0 no-border text-right">
                <% if candidate.endorsed_republican? %>
                <div class=""><span class="gop-text"><%= material_icon.check_circle %></div>
                <%elsif candidate.endorsed_democrat?%>
                <div class=""><span class="dem-text"><%= material_icon.check_circle %></div>
                <%else%>
                <%end%>
                </td>
                <td class="text-center no-border condensed-column"><% if candidate.image.present? %><%= image_tag candidate.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %>
                <%else%>
                <%= image_tag 'https://nex3.com/wp-content/uploads/2019/12/placeholder-headshot-300x300.png', alt: 'vacant_headshot', :class => "avatar text-center mb-3 shadow", size: "100x100"  %></div></td>
                <%end%>
                <td class="no-border">
                  <% if candidate.party == "Republican" %>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"gop-text" }%>
                  <%elsif candidate.party == "Democrat"%>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"dem-text" }%>
                  <%else%>
                  <%end%><br><small>
                <%if candidate.is_incumbent? %>
                <%= candidate.title %>
                <%else%>
                <%= candidate.professional_career %>
                <%end%></small></td>
                <td class="d-none d-sm-block no-border">
                <% if candidate.ballot_status == "Advanced to General"%>
                <h6 class="advanced-general container text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "Lost in Primary"%>
                <h6 class="lost-primary text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "Rumored"%>
                <h6 class="rumored-candidate text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "Declared Candidacy"%>
                <h6 class="declared-candidacy text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "On Ballot"%>
                <h6 class="on-ballot text-center text-md-left" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%elsif candidate.ballot_status == "Withdrew"%>
                <h6 class="withdrew" style="display: inline;"><%= candidate.ballot_status%></h6>
                <%end%>
                </td>
                <% if candidate.reports.present?%>               
                <td class="text-right no-border"><span class="green-pill">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span><br><small>Cash-on-Hand</small></td>
                <%else%>
                <td class="text-right no-border">$0.00<br><small>Cash-on-Hand</small></td>
                <%end%>
                <% end %>
                <%end%>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <%end%>
    </div>
</div>    