<% if user_signed_in? %>
<div class="container wrapper">
<h1 class="primary-blue heavy text-responsive">Elected Officials & Candidates Directory</h1>
<br>
<div class="panel panel-default">
  <div class="table-responsive shadow bg-white rounded border-primary p-4">
    <table class="table" cellspacing="0" width="100%" id="candidate">
  <thead class="thead-light">
  
    <tr>
      <th class="th-sm">Name</th>
      <th class="th-sm">Jurisdiction</th>
      <th class="th-sm">Office</th>
      <th class="th-sm">Party</th>
      <th class="th-sm">Age</th>
      <th class="th-sm">Current Term Expires</th>
      <th>COH</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      
      <% report = person.reports.most_recent %>
      <tr>
        <td><%= link_to "#{person.last_name}, #{person.first_name}", person %><% if person.is_incumbent? && person.incumbent_district.present? %>*<%end%></td>
        <% if person.incumbent_district.present? %>
        <td><%= person.incumbent_district.jurisdiction.name %></td>    
        <td><span><%= person.incumbent_district.name %></span><br><small>
        <% if person.incumbent_district.district != "At Large"%>
        <%= "#{person.incumbent_district.district.to_i.ordinalize} District" %>
        <%end%></small></td> <%end%>   
        <% unless person.incumbent_district.present? %>
        <td><%= person.district.jurisdiction.name %></td>    
        <td><span><%= person.district.name %></span><br><small>
        <% if person.district.district != "At Large"%>
        <%= "#{person.district.district.to_i.ordinalize} District" %>
        <%end%></small></td> <%end%>   
        <td><%= person.party %>
        <td><% if person.birthdate.present? %><%= person.calculated_age %><%else%>N/A<%end%></td>
        <td><% if person.incumbent_district.present? %><%= person.term_expires %><%else%>Candidate<% end %></td>
        <td><span class="float-right green-pill"><% if (person.on_ballot || person.running_reelection) && person.reports.where(candidate_report: true).present? %>
            <%= number_to_currency(person.reports.where(candidate_report: true).most_recent.current_coh ) %>
            <% elsif person.incumbent_district.present? && person.reports.where(incumbent_report: true).present? %>
            <%= number_to_currency(person.reports.where(incumbent_report: true).most_recent.current_coh ) %>
            <%else%>
            $0.00</span><%end%></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<br>
<% if current_user.admin? %>

  <%= link_to 'New Person', new_person_path, :class => "btn btn-primary mr-2" %> 

</div>
<%end%>    
<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
</div>
<script>
    $( document ).on('turbolinks:load', function() {
      $('#candidate').DataTable( {
        searchPanes:true,
        retrieve: true,
        dom: 'Pfrtip',
        columnDefs:[
            {
                searchPanes:{
                    show: true,
                    orderable: false,
                },
                targets: [3],
            },
            {
                searchPanes:{
                    show: false,
                },
                targets: [0,2,6],
            },
            {
                searchPanes: {
                    orderable: false,
                    
                },
                targets: [4]
            }
        ]
    });
});
</script>
