<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<h1>Elected Officials Directory</h1>
<br>
<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="candidate">
  <thead class="thead-light">
    <tr>
      <th class="th-sm">Jurisdiction</th>
      <th class="th-sm">Office</th>
      <th class="th-sm">Name</th>
      <th class="th-sm">Party</th>
      <th class="th-sm">Age</th>
      <th class="th-sm">Current Term Expires</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <% if person.is_incumbent? && person.incumbent_district.present? %>
      <% report = person.reports.most_recent %>
      <tr>
        <td><%= person.incumbent_district.jurisdiction.name %></td>    
        <td><span><%= person.incumbent_district.name %></span><br>
        <% if person.incumbent_district.district != "At Large"%>
        <%= "#{person.incumbent_district.district.to_i.ordinalize} District" %>
        <%end%></td>      
        <td><%= link_to "#{person.last_name}, #{person.first_name}", person %></td>
        <td><%= person.party %>
        <td><%= person.calculated_age %></td>
        <td><%= person.term_expires %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<br>

<br>
<% if current_user.admin? %>
<%= link_to 'New Person', new_person_path %>
</div>
<%end%>    
<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
<script>
    $( document ).on('turbolinks:load', function() {
      $('#candidate').DataTable( {
        searchPanes:true,
        retrieve: true,
        dom: 'Pfrtip',
        columnDefs:[
            {
                searchPanes:{
                    show: true,
                    orderable: false,
                },
                targets: [0,3,-1],
            },
            {
                searchPanes:{
                    show: false,
                },
                targets: [2],
            },
            {
                searchPanes: {
                    orderable: false,
                    
                },
                targets: [4]
            }
        ]
    });
});
</script>
