<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<h1>Candidate & Elected Officials</h1>
<br>
<table class="table small-table table-bordered table-sm table-hover" style="width:100%" id="candidate">
  <thead class="thead-light">
    <tr>
      <th>Office*</th>
      <th>District</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Party</th>
      <th>Age</th>
      <th>Current Term Expires</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <% if person.is_incumbent? %>
      <% report = person.reports.most_recent %>
      <tr>
        <td><%= person.incumbent_district.name %></td>    
        <td><%= person.incumbent_district.district %></td>      
        <td><%= person.first_name %></td>
        <td><%= link_to "#{person.last_name}", person %></td>
        <td><%= person.party %>
        <td><%= person.calculated_age %></td>
        <td><%= person.term_expires %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<span class="small-text" >* = For incumbents, district is where they currently represent. For candidates, it's where they are running for office.</span>
<br>

<br>
<% if current_user.admin? %>
<%= link_to 'New Person', new_person_path %>
</div>
<%end%>    
<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
<script>
    $( document ).on('turbolinks:load', function() {
      $('#candidate').DataTable( {
        searchPanes:true,
        retrieve: true,
        dom: 'Pfrtip',
        columnDefs:[
            {
                searchPanes:{
                    show: true,
                    orderable: false,
                },
                targets: [0,4,-1],
            },
            {
                searchPanes:{
                    show: false,
                },
                targets: [2],
            },
            {
                searchPanes: {
                    orderable: false,
                    
                },
                targets: [4]
            }
        ]
    });
});
</script>
