<p id="notice"><%= notice %></p>

<h1>Candidate & Elected Officials</h1>
<br>
<table class="table table-striped table-bordered table-sm" style="width:100%" id="candidate">
  <thead class="thead-light">
    <tr>
      <th>Status</th>
      <th>District*</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Party</th>
      <th>Age</th>
      <th>Cash on hand</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <% report = person.reports.most_recent %>
      <tr>
        <td> <% if person.on_ballot? && person.is_incumbent? %>
            Both
            <%elsif person.on_ballot? %>
            Candidate
            <%elsif person.is_incumbent?%>
            Incumbent
            <%end%></td>
        <td> <% if person.is_incumbent? %>
            <%= person.incumbent_district.name %>
            <%else%>
            <%= person.district.name%>
            <%end%></td>            
        <td><%= person.first_name %></td>
        <td><%= link_to "#{person.last_name}", person %></td>
        <td><%= person.party %>
        <td><%= person.calculated_age %></td>
        <td>$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<span class="small-text" >* = For incumbents, district is where they currently represent. For candidates, it's where they are running for office.</span>
<br>

<br>

<%= link_to 'New Person', new_person_path %>
</div>
<script>
    $( document ).on('turbolinks:load', function() {
      $('#candidate').DataTable( {
        searchPanes:true,
        dom: 'Pfrtip',
        columnDefs:[
            {
                searchPanes:{
                    show: true,
                    orderable: false,
                },
                targets: [0],
            },
            {
                searchPanes:{
                    show: false,
                },
                targets: [2],
            },
            {
                searchPanes: {
                    orderable: false,
                    
                },
                targets: [4]
            }
        ]
    });
});
</script>
