<p id="notice"><%= notice %></p>

<h1>People</h1>

<h3>Candidates</h3>
<table class="table table-bordered table-sm" id="candidate">
  <thead class="thead-light">
    <tr>
      <th>Running for</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Profession</th>
      <th>Age</th>
      <th>Party</th>
      <th>Cash on hand</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
    <% if person.is_incumbent == false %>
      <% report = person.reports.most_recent %>
      <tr>
        <td><%= "#{person.district.name} District - #{person.district.district}" %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.professional_career %></td>
        <td><%= person.calculated_age %></td>
        <td><%= person.party %></td>
        <td>$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>


<h3>Elected Officials</h3>
<table class="table table-striped table-bordered table-sm" id="incumbent" cellspacing="0" width="100%">
  <thead class="thead-light">
    <tr>
      <th>District</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Party</th>
      <th>On ballot</th>
      <th>Current term expires</th>

    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <% if person.is_incumbent == true %>
      <tr>
        <td><%= "#{person.incumbent_district.name} District - #{person.incumbent_district.district}" %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.calculated_age %></td>
        <td><%= person.party %></td>
        <td><%= person.on_ballot %></td>
        <td><%= person.term_expires %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
