<p id="notice"><%= notice %></p>

<h1>People</h1>
<br>
<h3>Candidates</h3>
<table class="table small-table table-bordered table-sm" id="candidate">
  <thead class="thead-light">
    <tr>
      <th>Candidate for</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Party</th>
      <th>Profession</th>
      <th>Age</th>
      <th>Cash on hand</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
    <% if person.is_incumbent == false %>
      <% report = person.reports.most_recent %>
      <tr>
        <td><%= "#{person.district.name} - District #{person.district.district}" %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><% if person.party == 'Republican' %>
            <span style="color: #DE0100;"><%= person.party %></span>
          <% elsif person.party == 'Democrat'%>
            <span style="color: #0015BC;"><%= person.party %></span>
          <% else %>
            <span style="color: gray;"><%= person.party %></span>
          <% end %></td>
        <td><%= person.professional_career %></td>
        <td><%= person.calculated_age %></td>
        <td>$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<br>
<div id="elected-officials-table">
<h3>Elected Officials</h3>
<table class="table small-table table-striped table-bordered table-sm" id="incumbent" cellspacing="0" width="100%">
  <thead class="thead-light">
    <tr>
      <th>Incumbent District</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Party</th>
      <th>Current term expires</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <% if person.is_incumbent == true %>
      <tr>
        <td><%= "#{person.incumbent_district.name} - District #{person.incumbent_district.district}" %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.calculated_age %></td>
        <td><% if person.party == 'Republican' %>
            <span style="color: #DE0100;"><%= person.party %></span>
          <% elsif person.party == 'Democrat'%>
            <span style="color: #0015BC;"><%= person.party %></span>
          <% else %>
            <span style="color: gray;"><%= person.party %></span>
          <% end %></td>
        <td><%= person.term_expires %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Person', new_person_path %>
