<p id="notice"><%= notice %></p>

<h1>People</h1>

<h2>Candidates</h2>
<table class="table table-hover" id="candidate">
  <thead>
    <tr>
      <th>Running for</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Profession</th>
      <th>Age</th>
      <th>Party</th>

    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
    <% if person.is_incumbent == false %>
      <tr>
        <td><%= "#{person.district.name} District - #{person.district.district}" %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.professional_career %></td>
        <td><%= person.calculated_age %></td>
        <td><%= person.party %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>


<h2>Elected Officials</h2>
<table class="table table-hover" id="incumbent">
  <thead>
    <tr>
      <th>District</th>
      <th>Title</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Party</th>
      <th>Professional career</th>
      <th>Termed Out</th>
      <th>On ballot</th>
      <th>Current term expires</th>
      <th>Seeking office</th>
      <th>Is incumbent</th>  
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <% if person.is_incumbent == true %>
      <tr>
        <td><%= "#{person.district.name} District - #{person.district.district}" %></td>
        <td><%= person.title %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.calculated_age %></td>
        <td><%= person.party %></td>
        <td><%= person.professional_career %></td>
        <td><%= person.term %></td>
        <td><%= person.on_ballot %></td>
        <td><%= person.term_expires %></td>
        <td><%= person.seeking_office %></td>
        <td><%= person.is_incumbent %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
