

<div class="container bg-white">

  <div class="row ">

    <div class="col">

      <div class="col">
      <%= render 'incumbentheader'%>
      <%= render 'biography'%>
      </div>
    </div> 
    <br>
    <%= render 'incumbentsection'%>

    

    <% if @person.on_ballot? || @person.running_reelection? %>

      <div class=" mb-3 bg-white  ">
      

      <%= render 'campaignsection'%>

      
      </div>

    <%end%>
    <% if @person.historical_candidate.present? %>
    <div class="container">
        <div class="row">
      <div class="col">
        
        <%= render 'historical_election' %> 
      </div>   
    </div>
    <%end%>
    </div>
    <div class="container">
    <%= render 'former_offices' %> 

    <%= render 'admin'%>
    </div>
  
    
    
    
  </div>

  

  








  </div>
</div> <!-- End of wrapper -->

