

<div class="wrapper container bg-light">
  <div class="row ">
  <div class="col-1">
  </div>
    <div class="col-10 m-2">
      <div class="row bg-light shadow-sm bg-white rounded mt-1 p-3">
        <div class="col-sm-3 m-1 p-2 text-center"  >
          <% if @person.image.present? %>
          <%= image_tag @person.image.url(:headshot), alt: 'headshot', :class => "avatar center-image shadow", size: "125x125"  %><br>
          <% else %>
          <%= image_tag 'https://nex3.com/wp-content/uploads/2019/12/placeholder-headshot-300x300.png', alt: 'vacant_headshot', :class => "avatar text-center mb-3 shadow", size: "100x100"  %></div><br>
          <%end%>
            <h6 class="text-center"><% if @person.party == "Republican" %>
                  <span class="gop-pill text-center"><%= @person.party %></span> 
                    <% if @person.endorsed_republican? %>
                    <br>
                    <br>
                    <div>
                      <div class="gop-party-endorsed" style="display: inline-block;">Party Endorsed</div>
                    </div>
                    <%end%>
                  <%elsif @person.party == "Democrat"%>
                  <div class="dem-pill text-center" style="display: inline;"><%= @person.party %></div>
                    <% if @person.endorsed_democrat? %>
                    <br>
                    <br>
                    <div>
                      <div class="dem-party-endorsed" style="display: inline-block">Party Endorsed</div>
                    </div>
                    <%end%>
                  <%else%>
                  <%= @person.party %>
                  <%end%> </h6>
        </div>
          <div class="col-md m-1 p-2">
            <h1 class="p-0 m-0 primary-blue text-center text-md-left"><strong><%= "#{@person.first_name} #{@person.last_name}" %></strong></h1>
              <% if @person.incumbent_district.present? %>
              <h5 class="text-center text-md-left"><%= link_to "#{@person.incumbent_district.jurisdiction.name}", @person.incumbent_district.jurisdiction, :class => "nounderline" %> - 
                <% if @person.incumbent_district.district != "At Large" %>
                <%= link_to "#{@person.title}, #{@person.incumbent_district.district.to_i.ordinalize} District", @person.incumbent_district, :class => "nounderline" %> 
                <%else%>
                <%= link_to "#{@person.title}", @person.incumbent_district, :class => "nounderline" %>
                <%end%></h5>
              <%end%>
              
              <div class="row text-center text-md-left mb-1">
              <% if @person.on_ballot? || @person.running_reelection? %>
                <% if @person.running_reelection? %>
                  <div class="col-auto text-center text-md-left">  
                    <h6 class="nounderline dark-red-supporting heavy text-center text-md-left">Seeking Re-Election</h6>
                  </div>
                  <%else%>  
                  <div class="col-auto text-center text-md-left">
                    <% if @person.former_candidate %>
                      <% if @person.district.district != "At Large" %>
                      <h6 class="text-center text-md-left"><%= link_to "Former Candidate for #{@person.district.jurisdiction.name} - #{@person.district.name}, #{@person.district.district.to_i.ordinalize} District", @person.district, :class => "nounderline dark-red-supporting heavy text-center text-md-left" %></h6>  
                      <%else%>
                      <h6 class="text-center text-md-left"><%= link_to "Former Candidate for #{@person.district.jurisdiction.name} - #{@person.district.name}", @person.district, :class => "nounderline dark-red-supporting heavy text-center text-md-left" %></h6>  
                      <%end%>
                    <%else%>  
                      <% if @person.district.district != "At Large" %>
                      <h6 class="text-center text-md-left"><%= link_to "Candidate for #{@person.district.jurisdiction.name} - #{@person.district.name}, #{@person.district.district.to_i.ordinalize} District", @person.district, :class => "nounderline dark-red-supporting heavy text-center text-md-left" %></h6>  
                      <%else%>
                      <h6 class="text-center text-md-left"><%= link_to "Candidate for #{@person.district.jurisdiction.name} -  #{@person.district.name}", @person.district, :class => "nounderline dark-red-supporting heavy text-center text-md-left" %></h6>  
                      <%end%>
                    <%end%>
                  </div>  
                  <%end%>
                 </div> 
                 <div class="row ml-1 mt-0">
                <% if @person.ballot_status == "Advanced to General"%>
                  <h6 class="advanced-general text-center text-md-left" style="display: inline;"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "Lost in Primary"%>
                  <h6 class="lost-primary text-center text-md-left" style="display: inline;"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "Rumored"%>
                  <h6 class="rumored-candidate text-center text-md-left" style="display: inline;"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "Declared Candidacy"%>
                  <h6 class="declared-candidacy text-center text-md-left" style="display: inline;"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "On Ballot"%>
                  <h6 class="on-ballot text-center text-md-left" style="display: inline;"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "Withdrew"%>
                  <h6 class="withdrew" text-center text-md-left><%= @person.ballot_status%></h6>
                  <%end%>
                <%end%>
                </div>
                
              <div class="row mt-0">
                <div class="col-auto">
                  <strong><small>Born:</small></strong>
                  <% if @person.is_incumbent? %>
                  <br><strong><small>Term Expires:</small></strong><br>
                  <%end%>
                  <%if @person.congressional_district.present? || @person.senate_district.present? || @person.assembly_district.present? || @person.supe_district.present? %>
                  <small>Resides in:</small>
                  <%end%>
                </div>
                <div class="col">
                  <% if @person.birthdate.present?%>
                  <small><%= @person.birthdate.to_formatted_s(:long) %> (Age <%= @person.calculated_age %>) </small>
                  <%else%>
                  <small><em>Unknown</em></small>
                  <%end%>
                  <%if @person.birthplace? %>
                  <small>in <%= @person.birthplace %></small>
                  <% end %>
                  <% if @person.term_expires.present? %>
                  <br><small><%= @person.term_expires %></small>
                  <%end%>
                  <% if @person.term? && @person.is_incumbent %>
                  <small><%= "(Term Limited in #{@person.term})" %></small>
                  <%end%>
                  <small>
                  <% if @person.congressional_district != nil %>
                  <br><%=  "CD-#{@person.congressional_district}" %>,
                  <%end%>
                  <% if @person.senate_district != nil %>
                  <%= "SD-#{@person.senate_district}" %>,
                  <%end%>
                  <% if @person.assembly_district != nil %>
                  <%= "AD-#{@person.assembly_district}" %>,
                  <%end%>
                  <% if @person.supe_district != nil %>
                  <%= "BOS-#{@person.supe_district}" %>
                  <%end%></small>
                </div>
              
              </div>
              <div class="row mt-2 d-flex align-items-start">
                <div class="col" style="color: #1992D4;">
                  <% if @person.is_incumbent? %>
                      <%if @person.official_website.present? %>
                        <%= link_to @person.official_website, target: :_blank, :class => "nounderline primary-blue" do %>
                            <%= fa_icon "desktop" %>&nbsp
                      <%end%>       
                    <% end %>
                        
                  <%else%>
                    <% if @person.campaign_website.present?%>
                      <%= link_to @person.campaign_website, target: :_blank, :class => "nounderline primary-blue" do %>
                      <%= fa_icon "desktop" %>  
                      <%end%>
                    <%end%> 
                  &nbsp   
                  <%end%>    
                  
                  <%if @person.email.present?%>
                    <%= mail_to @person.email, target: :_blank, :class => "nounderline"  do %>
                        <%= fa_icon "envelope" %>
                    <% end %>
                  &nbsp  
                  <%end%>  
                  
                  <%if @person.twitter.present? %>
                    <%= link_to "http://www.twitter.com/" + @person.twitter, target: :_blank, :class => "nounderline"  do %>
                        <%= fa_icon "twitter" %>
                    <% end %>
                  &nbsp  
                  <%end%>
                  
                  <% if @person.facebook.present? %>
                    <%= link_to "http://www.facebook.com/" + @person.facebook, target: :_blank, :class => "nounderline"  do %>
                        <%= fa_icon "facebook" %>
                    <% end %>
                  &nbsp
                  <%end%>  
                 <% if @person.phone.present? %> 
                    <p class="nounderline primary-blue m-0"><%= number_to_phone(@person.phone) %></p>
                  <%end%>
                  </div>
            </div> 
            
      </div>
      <!--Start of Biography Section-->
      <div class="row ml-2 mr-2">
        <div class="col">
        <% if @person.bio.present? %>
        
        <strong>Biography:</strong>
        <div>    
          <% if @person.bio.length > 250 %>
          <%= truncate(@person.bio, length: 250, :escape => false) %>
          <%= link_to '...Read more', '', class: "read-more-#{@person.id}" %>
          <script>
          $('.read-more-<%= @person.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).parent().html('<%= escape_javascript h(@person.bio).gsub(/\n/, '</br>').html_safe %>')
            })
          </script>
          <% else %>
            <%= h(@person.bio).gsub(/\n/, '</br>').html_safe %>
          <% end %>
        </div>
          <%end%>
      </div>
      </div>
      
    <!--End of Biography Section-->
    </div>
<!--End of Gray Header Area-->    

<br>

<% if @person.incumbent_district.present? %>
<div class="shadow-sm mb-3 p-3 bg-white rounded pb-3">
<h4 class="section-header p-3 border rounded mb-4 text-center text-md-left">Incumbent Info</h4>
<!--Start of Incumbent Information Section-->
<div class="row"> 
<!--Incumbent Facts Card-->
  <div class="col-md-6 mb-2">
    <%= render 'incumbentfacts'%>
  </div>
  <!--Begins Incumbent Fundraising Data--> 
  <div class="col-md-6 mb-2">
    <%= render 'incumbentdistrict'%>
  </div>
</div>
<% if @person.reports.where(incumbent_report: true).present? %>  
  <%= render 'incumbentfundraising'%>
<%end%>
</div>
<br>
<%end%>



<% if @person.on_ballot? || @person.running_reelection? %>
<div class="shadow-sm mb-3 p-3 bg-white rounded ">
<% if @person.on_ballot?%>
<h4 class="section-header p-3 border rounded mb-4 text-center text-md-left"><%= @person.district.name %> Campaign Info</h4>
<% elsif @person.running_reelection? %>
<h4 class="section-header p-3 border rounded mb-4 text-center text-md-left"><%= @person.incumbent_district.name %> Campaign Info</h4>
<%end%>
<!--Start of Candidate Information -->
<div class="container">
  <div class="row mt-2">
    
  </div>

  <div class="row">
    <%= render 'opponents' %>
  </div>
<div class="container">
  <div class="row" > 
    <div class="col-lg-5">
      <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
        <div class="card-header">
          CAMPAIGN FINANCE LIMITS
        </div>
        <% if @person.on_ballot? %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
              Contribution Limit:
              <div class="green-text heavy float-right">
               <div class="green-text heavy float-right"><strong><%if @person.district.contribution_limit == 0 || @person.district.contribution_limit == nil %>No Limit<%else%>$<%= number_with_delimiter(@person.district.contribution_limit, delimiter: ",") %><%end%></strong>
            </div></li>
          <li class="list-group-item">Corporate Contributions:
              <% if @person.district.corporate_contributions?%>
              <div class="green-text float-right"> <%= material_icon.check_circle %>
              <%else%>
              <div class="gop-text heavy float-right"> <%= material_icon.cancel %>
              <%end%></li>
          <li class="list-group-item">PAC Contributions:
              <% if @person.district.pac_contributions?%>
              <div class="green-text float-right"><%= material_icon.check_circle %>
              <%else%>
              <div class="gop-text float-right"><%= material_icon.cancel %>
              <%end%></li>
          <li class="list-group-item">
              <% if @person.district.party_contributions?%>
              Party Contribution Limit:
              <div class="green-text heavy float-right"><strong><%if @person.district.party_contribution_limit == 0 || @person.district.party_contribution_limit == nil %>No Limit<%else%>$<%= number_with_delimiter(@person.district.party_contribution_limit, delimiter: ",") %><%end%></strong>
              <%else%>
              Party Contributions:
              <div class="gop-text font-size-12 float-right"><%= material_icon.cancel %>
              <%end%></li></li>
        </ul>
        <%elsif @person.running_reelection? %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
              Contribution Limit:
              <div class="green-text heavy float-right"><strong>
              <div class="green-text heavy float-right"><%if @person.incumbent_district.contribution_limit == 0 || @person.incumbent_district.contribution_limit == nil %>No Limit<%else%>$<%= number_with_delimiter(@person.incumbent_district.contribution_limit, delimiter: ",") %><%end%>
          </strong></div></li>
          <li class="list-group-item">Corporate Contributions:
              <% if @person.incumbent_district.corporate_contributions?%>
              <div class="green-text float-right"> <%= material_icon.check_circle %>
              <%else%>
              <div class="gop-text heavy float-right"> <%= material_icon.cancel %>
              <%end%></li>
          <li class="list-group-item">PAC Contributions:
              <% if @person.incumbent_district.pac_contributions?%>
              <div class="green-text float-right"><%= material_icon.check_circle %>
              <%else%>
              <div class="gop-text float-right"><%= material_icon.cancel %>
              <%end%></li>
          <li class="list-group-item">
              <% if @person.incumbent_district.party_contributions?%>
              Party Contribution Limit:
              <div class="green-text heavy float-right"><strong><%if @person.incumbent_district.party_contribution_limit == 0 || @person.incumbent_district.party_contribution_limit == nil %>No Limit<%else%>$<%= number_with_delimiter(@person.incumbent_district.party_contribution_limit, delimiter: ",") %><%end%></strong>
              <%else%>
              Party Contributions:
              <div class="gop-text font-size-12 float-right"><%= material_icon.cancel %>
              <%end%></li></li>
        </ul>
        <%end%>
      </div> 

    </div>
        <div class="col-lg-7">
        <%= render 'candidatedistrict'%>
      </div>
  </div> <!--Div to close row after headline to start section-->

  <hr>
  

<div class="container">
  <div class="row mt-1 mb-1">
    <div class="col">
    <% if @person.on_ballot? && @person.reports.where(candidate_report: true).present? %>
      <h6 class="section-header p-3 border rounded mb-4 text-center text-md-left"><%= "#{@person.first_name} #{@person.last_name} for #{@person.district.name} Fundraising" %><% if @person.reports.present? %> <%= "(Since #{@person.reports.where(candidate_report: true).order(:period_begin).first.period_begin.to_formatted_s(:long)})" %><%end%></h6>    
    <%elsif @person.running_reelection?%>
      <h6 class="section-header p-3 border rounded mb-4 text-center text-md-left"><%= "#{@person.first_name} #{@person.last_name} for #{@person.incumbent_district.name} Fundraising" %><% if @person.reports.present? %> <%= "(Since #{@person.reports.where(candidate_report: true).order(:period_begin).first.period_begin.to_formatted_s(:long)})" %><%end%></h6>    
    <%end%>
    </div>
<div class="container">
  <div class="row p-2">
    <% if @person.reports.where(candidate_report: true).present? %> <!--Beginning of "IF" statement for candidate financial data, if available -->
      <div class="col-lg px-1 text-center">
        <div class="bg-white border rounded shadow-sm p-3">
          <h3 class="green-text"><%= number_to_currency(@person.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_receipts)) %></h3>
          <%if @person.on_ballot? %>
          <h6>Total Raised <br>for <%= @person.district.name %></h6>
          <%elsif @person.running_reelection? %>
          <h6>Total Raised <br>for <%= @person.incumbent_district.name %></h6>
          <%end%>
          <% if @person.reports.where(:cycle => "2020", candidate_report: true ).sum(:loans_received) > 0 %><small>Including <%= number_to_currency(@person.reports.where(:cycle => "2020", candidate_report: true ).sum(:loans_received)) %> in Loans</small><%end%>
        </div>
      </div>
      <div class="col-lg px-1 text-center">
        <div class="bg-white border rounded shadow-sm p-3 ">
        <h3 class="red-text"><%= number_to_currency(@person.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_disbursements)) %></h3>
          <%if @person.on_ballot? %>
        <h6>Total Spent <br>for <%= @person.district.name %></h6>
          <%elsif @person.running_reelection? %>
          <h6>Total Spent <br>for <%= @person.incumbent_district.name %></h6>
          <%end%>
      </div>
  </div>
  <div class="col-lg px-1 text-center">
    <div class="bg-white border rounded shadow-sm p-3 ">
    <h3 class="green-pill heavy"><%= number_to_currency(@person.reports.where(candidate_report: true).order('period_end DESC').first.current_coh ) %></h3>
    <h6>Most Recent <br>Cash-On-Hand</h6>
    </div>
  </div>
  </div>
  
  <div class="table-responsive pb-2 pt-2">
    <table class="table border shadow-sm bg-white p-2" style="width:100%">
      <thead class="thead-light rounded">
        <tr>
          <th>REPORT DATE<br><small>PERIOD</small></th>
          <th>RECEIPTS</th>
          <th>DISBURSEMENTS</th>
          <th>COH</th>
          <th>DEBT</th>
          <th>NET COH</th>
        </tr>
      </thead>
      
      <tbody>
      <% @reports.each do |report| %>
        <% if report.candidate_report == true %>
        <tr>
          <td><%= link_to "#{report.report_filed.to_formatted_s(:long)}", report %><% if report.is_amended? %>*<%end%><br><small><%= "#{report.period_begin.strftime("%b-%d-%y")} - #{report.period_end.strftime("%b-%d-%y")}" %></small></td>
          <td><span class="float-right green-pill">$<%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></span><% if report.loans_received > 0 %><br><small class="float-right">(Incl $<%= number_with_delimiter(report.loans_received, :delimiter => ',')%> in loans.)</small><%end%></td>
          <td><span class="float-right red-pill">$<%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></span></td>
          <td><span class="float-right">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span></td>
          <td><span class="float-right">$<%= number_with_delimiter(report.current_debt, :delimiter => ',') %></td></span>
          <td><span>$<%= number_with_delimiter(report.net_coh, :delimiter => ',') %></span></td>
        </tr>
        <%end%>
        
      <% end %>
    </tbody>
    </table>
    <small>* = Report is amended version</small>
  </div>  
  <%else%> <!--End of "IF" statement for candidate financial data, if available -->
  <em>(No campaign finance information currently available for <%= "#{@person.first_name} #{@person.last_name}" %>)</em>
  <%end%>

  <% if @person.expenditures.present? %> <!-- Start of candidate IE data, if available --> 
  <hr>
  <div class="row">
    <div class="col">
      <% if @person.on_ballot?%>
       <h6 class="section-header p-3 border rounded mb-4 text-center text-md-left"><%= "Independent Expenditures For/Against #{@person.first_name} #{@person.last_name} for #{@person.district.name} (2020 General)"%></h6>
      <%elsif %>
       <h6 class="section-header p-3 border rounded mb-4 text-center text-md-left"><%= "Independent Expenditures For/Against #{@person.first_name} #{@person.last_name} for #{@person.incumbent_district.name} (2020 General)"%></h6>
      <%end%>
    </div>  
  </div> 

   
 
  <div class="row">  
    <div class="col-md-6 text-center">
      <div class="bg-white border rounded shadow-sm p-3">
        <h3 class="green-text heavy"><%= number_to_currency(@expenditures.where(:is_support => true).sum(:amount)) %></h3>
        <h6>Total Spent in Support of <%= "#{@person.first_name} #{@person.last_name}"%></h6>
      </div>
    </div>
    <div class="col-md-6 text-center">
    <div class="bg-white border rounded shadow-sm p-3">
      <h3 class="red-text heavy"><%= number_to_currency(@expenditures.where(:is_support => false).sum(:amount)) %></h3>
      <h6>Total Spent in Opposition to <%= "#{@person.first_name} #{@person.last_name}"%></h6>
    </div>
  </div>
  <div class="table-responsive p-2 mt-4">
    <table class="table border shadow-sm p-2 bg-white" style="width:100%">
      <thead class="thead-light rounded">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Committee</th>
        <th>Amount</th>
        <th>Support/Oppose</th>
      </tr>
    </thead>

    <tbody>
      <% @expenditures.each do |expenditure| %>
        <tr>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.expenditure_date.to_formatted_s(:long) %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.description %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= link_to "#{expenditure.committee.name}", expenditure.committee %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= number_to_currency(expenditure.amount) %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>">
          <% if expenditure.is_support? %>
              Support
              <%else%>
              Oppose
              <%end%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>
  </div>
  <%end%> <!-- End of "IF" statement regarding candidate IEs -->

</div>

  
</div> <!--Div to close row at start of candidate information-->
<!-- End of candidate information -->
</div>
  </div>
<%end%>


  <div class="row">
    <div class="col">
    <br>
    <% if current_user.admin? %>
    <%= link_to "Add Report", new_report_path(:person_id => @person.id), 
          :class => "btn btn-primary mr-2", :action => "new", :method => :get %>
    <%= link_to "Edit", edit_person_path(@person), :class => "btn btn-outline-primary mr-2" %> 
    <%= link_to 'Delete Person', @person, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %> 
    <%end%>

    <%= link_to "Back", people_path, :class => "float-right btn btn-outline-secondary text-right" %>
    </div>
  </div>


<div class="col-1">
  </div>  
</div> <!-- End of wrapper -->

  