
<% if user_signed_in? %>
<div class="wrapper container">
  <div class="row">
  <div class="col-1">
  </div>
    <div class="col-10">
      <div class="row bg-light p-3">
        <div class="col-auto m-1 p-2" >
          <%= image_tag @person.image.url(:headshot), alt: 'headshot', :class => "avatar text-center shadow mb-4", size: "125x125"  %><br>
            <h6 class="text-center"><% if @person.party == "Republican" %>
                  <span class="gop-pill"><%= @person.party %></span> 
                  <%elsif @person.party == "Democrat"%>
                  <span class="dem-pill"><%= @person.party %></span>
                  <%else%>
                  <%= @person.party %>
                  <%end%> </h6>
        </div>
          <div class="col-md m-1 p-2">
            <h1 class="p-0 m-0 primary-blue"><strong><%= "#{@person.first_name} #{@person.last_name}" %></strong></h1>
              <% if @person.incumbent_district.present? %>
              <h5 class=""><%= "#{@person.incumbent_district.jurisdiction.name}"%> - 
                <% if @person.incumbent_district.district != "At Large" %>
                <%= "#{@person.title}, #{@person.incumbent_district.district.to_i.ordinalize}" %> District
                <%else%>
                <%= @person.title %>
                <%end%></h5>
              <%end%>
              
              <div class="row">
              <% if @person.on_ballot? %>
                <div class="col-auto">
                  <h6 class="gold-text heavy"><%= "Candidate for #{@person.district.name}, " %><%= "#{@person.district.jurisdiction.name}"%></h6>  
                </div>
                <div class="col-auto">
                <% if @person.ballot_status == "Advanced to General"%>
                  <h6 class="advanced-general"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "Lost in Primary"%>
                  <h6 class="lost-primary"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "Rumored"%>
                  <h6 class="rumored-candidate"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "Declared Candidacy"%>
                  <h6 class="declared-candidacy"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "On Ballot"%>
                  <h6 class="on-ballot"><%= @person.ballot_status%></h6>
                  <%elsif @person.ballot_status == "Withdrew"%>
                  <h6 class="withdrew"><%= @person.ballot_status%></h6>
                  <%end%>
                  </div>
                <%end%>
              </div>   
              <div class="row mt-0">
                <div class="col-auto">
                  <strong><small>Birthdate:</small></strong><br>
                  <strong><small>Term Expires:</small></strong><br>
                  <small>Resides in:</small>
                </div>
                <div class="col">
                  <small><%= @person.birthdate.to_formatted_s(:long) %> (Age <%= @person.calculated_age %>) 
                  <%if @person.birthplace? %>
                  in <%= @person.birthplace %></small>
                  <% end %><br>
                  <small><%= @person.term_expires %></small>
                  <% if @person.term? %>
                  <small><%= "(Term Limited in #{@person.term})" %></small>
                  <%end%><br>
                  <small>
                  <% if @person.congressional_district != nil %>
                  <%=  "CD-#{@person.congressional_district}" %>,
                  <%end%>
                  <% if @person.senate_district != nil %>
                  <%= "SD-#{@person.senate_district}" %>,
                  <%end%>
                  <% if @person.assembly_district != nil %>
                  <%= "AD-#{@person.assembly_district}" %>,
                  <%end%>
                  <% if @person.supe_district != nil %>
                  <%= "BOS-#{@person.supe_district}" %>
                  <%end%></small>
                </div>
              </div>
              <div class="row mt-2 d-flex align-items-start">
                <div class="col" style="color: #1992D4;">
                  <%= link_to material_icon.language, @person.official_website%>
                  <%= mail_to @person.email do %>
                      <%= fa_icon "envelope" %>
                  <% end %>
                  <%= mail_to @person.email do %>
                      <%= fa_icon "envelope" %>
                  <% end %>
                  
                  <%= link_to @person.facebook do %>
                      <%= fa_icon "facebook" %>
                  <% end %>
                  </div>
            </div> 
      </div>
    </div>
<!--End of Gray Header Area-->    

  <div class="row mt-3">
    <% if @person.bio.present? %>
    <br>
    <strong>Biography:</strong>
    <div>    
      <% if @person.bio.length > 250 %>
      <%= truncate(@person.bio, length: 250, :escape => false) %>
      <%= link_to '...Read more', '', class: "read-more-#{@person.id}" %>
      <script>
      $('.read-more-<%= @person.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript h(@person.bio).gsub(/\n/, '</br>').html_safe %>')
         })
      </script>
      <% else %>
        <%= h(@person.bio).gsub(/\n/, '</br>').html_safe %>
      <% end %>
    </div>
      <%end%>
  </div>
  <br>
<!--End of Biography Section-->

<% if @person.is_incumbent? %>
<!--Start of Incumbent Information Section-->
<div class="row p-1 m-2"> 
<!--Incumbent Facts Card-->
  <div class="col-md-5 mb-2">
    <h5 class="dark-red-supporting mb-3 heavy">Incumbent Facts</h5>
    <div class="bg-white border rounded shadow-sm p-3 mt-1">
      <small><%= "First Elected as #{@person.title}:"%></small><br>
      <%= @person.first_elected.strftime("%B, %Y") %><br><br>
      <small><%= "Profession Before Elected Office:" %></small><br>
      <%= @person.professional_career %><br><br>
      <small><%= "Prior Elected Office:"%></small><br>
      <%= @person.prior_elected%><br><br>
      <small><%= "Elected Official Salary:"%></small><br>
      <%= number_to_currency(@person.salary)  %>  
    </div>      
  </div>
  <!--Begins Incumbent Fundraising Data--> 
  <div class="col-md-7">
    <h5 class="dark-red-supporting heavy mb-3">Incumbent Campaign Finance Data</h5>
    <% if @person.reports.where(incumbent_report: true).present? %>
    <div class="bg-white border rounded shadow-sm p-3 mt-1">
      <div class="row">
        <div class="col-auto">
          <strong><h6 style="font-weight:700;" class="m-0">Total Raised this Cycle</h6></strong>
          <small m-0>Into <%= @person.incumbent_district.name %> Committee</small>
        </div>
        <div class="col-auto ">
          <h5 class="green-text d-flex justify-content-end">+ <%= number_to_currency(@person.reports.where(:cycle => "2020", incumbent_report: true ).sum(:period_receipts)) %></h5>
        </div>
      </div>
    </div>
    <div class="bg-white border rounded shadow-sm p-3 mt-1">
      <div class="row">
        <div class="col-auto">
          <strong><h6 style="font-weight:700;" class="m-0">Total Spent this Cycle</h6></strong>
          <small m-0>From <%= @person.incumbent_district.name %> Committee</small>
        </div>
        <div class="col-auto">
          <h5 class="float-right red-text">(<%= number_to_currency(@person.reports.where(:cycle => "2020", incumbent_report: true ).sum(:period_disbursements)) %>)</h5>
        </div>
      </div>
    </div> 
    <div class="bg-white border rounded shadow-sm p-3 mt-1">
      <div class="row">
        <div class="col-auto">
          <strong><h6 style="font-weight:700;" class="m-0">Current Cash-on-Hand</h6></strong>
          <small m-0>In <%= @person.incumbent_district.name %> Committee</small>
        </div>
        <div class="col-auto">
        <h5 class="float-right" id="cash-on-hand"><%= number_to_currency(@person.reports.where(incumbent_report: true).most_recent.net_coh) %></h5>
      </div>
    </div>
    <%else%>
    (Candidate does not currently have any data)
    <%end%>
  </div> 
</div> <!--End of Incumbent Finance Data Section -->
<%end%>



<% if @person.on_ballot? %>
<!--Start of Candidate Information -->
  <div class="row p-1 m-2"> 
    <h4 class="heavy p-2 primary-blue"><%= "Race for #{@person.district.name}, " %><%= "#{@person.district.jurisdiction.name}"%></h4>
  </div>
  <div class="row p-1 m-2"> 
    <div class="col-lg-5">
      <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
        <div class="card-header">
          CAMPAIGN FINANCE LIMITS
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
              Contribution Limit:
              <div class="green-pill font-size-12 float-right"><strong>
              <% if @person.district.contribution_limit.present? %>        
                $<%= number_with_delimiter(@person.district.contribution_limit, delimiter: ",") %>
              <%else%>
                No Limit
              <%end%></strong></div></li>
          <li class="list-group-item">Corporate Contributions:
              <% if @person.district.corporate_contributions?%>
              <div class="green-pill float-right"><strong>Allowed</strong>
              <%else%>
              <div class="red-pill float-right"><strong>Prohibited</strong>
              <%end%></li>
          <li class="list-group-item">PAC Contributions:
              <% if @person.district.pac_contributions?%>
              <div class="green-pill float-right"><strong>Allowed</strong>
              <%else%>
              <div class="red-pill float-right"><strong>Prohibited</strong>
              <%end%></li>
          <li class="list-group-item">
              <% if @person.district.party_contributions?%>
              Party Contribution Limit:
              <div class="green-pill font-size-12 float-right"><strong>$<%= number_with_delimiter(@person.district.party_contribution_limit, delimiter: ",") %></strong>
              <%else%>
              Party Contributions:
              <div class="red-pill font-size-12 float-right"><strong>Prohibited</strong>
              <%end%></li></li>
        </ul>
      </div> 
    </div>
    <div class="col-lg-7">
      <% if @person.on_ballot? %>
      <div class="table-responsive p-1">
        <table class="table table border-primary p-2 shadow-sm" style="width:100%">
          <thead class="thead-light rounded">
            <tr>
              <th></th>
              <th class="col-auto">NAME</th>
              <th class="col-auto">CASH ON HAND</th>
            </tr>
          </thead>

          <tbody>             
            <% @person.district.candidates.each do |candidate| %>
            <tr>
              <% if candidate.on_ballot? %>
                <% if candidate.id != @person.id %>
                <% report = candidate.reports.most_recent %>
                <td class="text-center condensed-column"><%= image_tag candidate.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %></td>
                <td>
                  <% if candidate.party == "Republican" %>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"gop-text" }%>
                  <%elsif candidate.party == "Democrat"%>
                  <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"dem-text" }%>
                  <%else%>
                  <%end%><br><small>
                <%if candidate.is_incumbent? %>
                <%= candidate.title %>
                <%else%>
                <%= candidate.professional_career %>
                <%end%></small></td>               
                <td class="text-right"><span class="green-pill">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span></td>
                <% end %>
                <%end%>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <%end%>
    </div>
  </div> <!--Div to close row after headline to start section-->
  <hr>
<div class="container">
  <div class="row p-1 m-2">
      <h5 class="dark-red-supporting heavy"><%= "#{@person.first_name} #{@person.last_name} for #{@person.district.name} Fundraising"%></h5>    
  </div>
  <div class="row p-1 m-2">
    <% if @person.reports.present? %> <!--Beginning of "IF" statement for candidate financial data, if available -->
      <div class="col-lg px-1 text-center">
        <div class="bg-white border rounded shadow-sm p-3">
          <h3 class="green-text"><%= number_to_currency(@person.reports.where(:cycle => "2020", incumbent_report: false ).sum(:period_receipts)) %></h3>
          <h6>Total Raised for <%= @person.district.name %></h6>
        </div>
      </div>
      <div class="col-lg px-1 text-center">
        <div class="bg-white border rounded shadow-sm p-3 ">
        <h3 class="red-text"><%= number_to_currency(@person.reports.where(:cycle => "2020", incumbent_report: false ).sum(:period_disbursements)) %></h3>
        <h6>Total Spent for <%= @person.district.name %></h6>
      </div>
  </div>
  <div class="col-lg px-1 text-center">
    <div class="bg-white border rounded shadow-sm p-3 mx-1">
    <h3 class="green-pill heavy"><%= number_to_currency(@person.reports.where(incumbent_report: [false, nil]).most_recent.current_coh ) %></h3>
    <h6>Cash-On-Hand</h6>
    </div>
  </div>
  <div class="table-responsive p-4">
    <table class="table border-primary shadow-sm p-2" style="width:100%">
      <thead class="thead-light rounded">
        <tr>
          <th>REPORT DATE</th>
          <th>RECEIPTS</th>
          <th>DISBURSEMENTS</th>
          <th>COH</th>
          <th>DEBT</th>
          <th>NET COH</th>
        </tr>
      </thead>
      
      <tbody>
      <% @reports.each do |report| %>
        <% if report.incumbent_report == false %>
        <tr>
          <td><%= link_to "#{report.report_filed.to_formatted_s(:long)}", report %><br><small><%= "#{report.period_begin.strftime("%b-%d-%y")} - #{report.period_end.strftime("%b-%d-%y")}" %></small></td>
          <td><span class="float-right">$<%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></span></td>
          <td><span class="float-right">$<%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></span></td>
          <td><span class="float-right">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span></td>
          <td><span class="float-right">$<%= number_with_delimiter(report.current_debt, :delimiter => ',') %></td></span>
          <td><span>$<%= number_with_delimiter(report.net_coh, :delimiter => ',') %></span></td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
    </table>
  </div>  
  <%end%> <!--End of "IF" statement for candidate financial data, if available -->
  <% if @person.expenditures.present? %> <!-- Start of candidate IE data, if available --> 
  <hr>
<div class="container">  
  <div class="row p-1 m-2 ">
    <h5 class="dark-red-supporting heavy"><%= "Independent Expenditures For/Against #{@person.first_name} #{@person.last_name} for #{@person.district.name}"%></h5>
  </div> 
  <div class="row p-1 m-2 ">  
    <div class="col-md-6 text-center">
      <div class="bg-white border rounded shadow-sm p-3">
        <h3 class="green-text heavy"><%= number_to_currency(@expenditures.where(:is_support => true).sum(:amount)) %></h3>
        <h6>Total Spent in Support of <%= "#{@person.first_name} #{@person.last_name}"%></h6>
      </div>
    </div>
    <div class="col-md-6 text-center">
    <div class="bg-white border rounded shadow-sm p-3">
      <h3 class="red-text heavy"><%= number_to_currency(@expenditures.where(:is_support => false).sum(:amount)) %></h3>
      <h6>Total Spent in Opposition to <%= "#{@person.first_name} #{@person.last_name}"%></h6>
    </div>
  </div>
  <div class="table-responsive p-4">
    <table class="table border-primary shadow-sm p-2" style="width:100%">
      <thead class="thead-light rounded">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Committee</th>
        <th>Amount</th>
        <th>Support/Oppose</th>
      </tr>
    </thead>

    <tbody>
      <% @expenditures.each do |expenditure| %>
        <tr>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.expenditure_date.to_formatted_s(:long) %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.description %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= link_to "#{expenditure.committee.name}", expenditure.committee %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= number_to_currency(expenditure.amount) %></td>
          <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>">
          <% if expenditure.is_support? %>
              Support
              <%else%>
              Oppose
              <%end%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%else%>
    (Incumbent does not currently have any data)
  <%end%> <!-- End of "IF" statement regarding candidate IEs -->
</div>

  
</div> <!--Div to close row at start of candidate information-->
<!-- End of candidate information -->
<%end%>
  <div class="col-1">
  </div>  



<% if current_user.admin? %>
<%= link_to("Add Report", new_report_path(:person_id => @person.id), :action => "new", :method => :get)%> 
 |
<%= link_to 'Edit', edit_person_path(@person)  %> |
<%= link_to 'Delete Person', @person, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>

<%= link_to 'Back', people_path %>

<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
</div> <!-- End of wrapper -->
