<div class="container bg-light">
  <div class="row ">
    <div class="col-1">
    </div>
    <div class="col-10 m-2">
      <%= render 'incumbentheader'%>
      <%= render 'biography'%>
    </div> 
    <br>
    <%= render 'incumbentsection'%>

    <% if @person.on_ballot? || @person.running_reelection? %>

      <div class="shadow-sm mb-3 p-3 bg-white rounded section-border">
      <div class="container">
      <%= render 'campaignsection'%>
      </div>
      </div>

    <%end%>
    <div class="container">
    <%= render 'admin'%>
    </div>
  
  

  






  <div class="col-1"></div>

  </div>
</div> <!-- End of wrapper -->

  