
  <div class="row ">


        <%= render 'shared/incumbent', person: @person, page_source: 'person' %>


    <br>
    


        <%= render 'campaignsection'%>



    <% if @person.candidate_committees.any? %>
      <%= render 'affiliated_committees', person: @person %>
    <% end %>

    
    <%= render 'incumbentsection'%>
    <%= render 'admin'%>
  </div>


