<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
    <% if @person.image_url.present? %>
    <%= image_tag @person.image_url.to_s, alt: 'headshot'%>
    <%else%>
    <%= image_tag "no_photo_available.jpg", alt: 'No headshot available' %>
    <%end%>
    </div>
    <div class="col">
      <h4><%= @person.title %> <%= @person.first_name %> <%= @person.last_name %> 
        <% if @person.party == "Republican"%>
        (R)
        <% elsif @person.party == "Democrat"%>
        (D)
        <% elsif @person.party == "Declined to State"%>
        (DTS)
        <%end%>
        </h4>
      <% if @person.is_incumbent? %>
      <p>
        <strong>Represents:</strong>
        <%= @person.incumbent_district.jurisdiction.name %> - <%= @person.incumbent_district.name %> - District <%= @person.incumbent_district.district %> <br>
      <%end%>
      

      
        <strong>Born:</strong>
        <%= @person.birthdate.to_formatted_s(:long) %> (Age <%= @person.calculated_age %>) 
        <%if @person.birthplace? %>
        in <%= @person.birthplace %>
        <% end %>
        <br>
        <strong>Profession:</strong>
        <%= @person.professional_career %>
        <br>
        <% if @person.is_incumbent? %>
        <% if @person.first_elected? %>
        <strong>First Elected/Appointed as <%= @person.title %>:</strong>
        <%= @person.first_elected.strftime("%B, %Y") %> (Tenure: <%= @person.calculated_tenure %> years)
        <br>
        <%end%>
        <strong>Salary as <%= @person.title %></strong>
         $<%= number_with_delimiter(@person.salary, :delimiter => ',')  %>
        <br>
        <strong>Current term expires:</strong>
        <%= @person.term_expires %> <br>
        <% if @person.term?%>
        <strong>Term Limited:</strong>
        <%= @person.term %> <br>
        <%end%>
        </p>
        <p>
        <strong>Prior Elected Office:</strong>
        <%= @person.prior_elected %>
        
        <br>
        <div class="row">
          <div class="col-auto">
        <strong>Resides in:</strong>
          </div>
          <div class="col-auto">
            <%= @person.congressional_district %> Congressional District <br>
            <%= @person.senate_district %> Senate District <br>
            <%= @person.assembly_district %> Assembly District<br>
            <%= @person.supe_district %> Supervisorial District<br>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-auto">
        <strong>Public Contact Information:</strong>
          </div>
          <div class="col-auto">
            Phone: <%= @person.phone %> <br>
            E-Mail: <%= @person.email %> <br>
            Facebook: <%= @person.facebook %> <br>
            Twitter: <%= @person.twitter %> <br>
            Website: <%= @person.official_website %>
          </div>
        </div>
        <%end%>
        
    </div>
  


    
</div>






<% if @person.on_ballot? %>
        <hr>
        <h4>Candidate Information</h4>
        <p>
        <% if @person.on_ballot? %>
            <strong>Running for:</strong>
            <%= @person.district.jurisdiction.name %> - <%= @person.district.name %> - District <%= @person.district.district %> 
          <br>
        <%end%>
          <strong>Campaign website:</strong>
          <%= @person.campaign_website %> <br>
          <strong>Contribution Limit:</strong>
          $<%= @person.district.jurisdiction.contribution_limit %>
        </p>

      <h5>Opponents</h5>
          <table class="table table-striped table-bordered">
          <thead>
              <tr>
                <th class="col-auto">Name</th>
                <th class="col-auto">Party</th>
                <th class="col-auto">Profession</th>
                <th class="col-auto">Cash on Hand</th>
              </tr>
            </thead>

            <tbody>             
              <% @person.district.candidates.each do |candidate| %>
              <tr>
                <% if candidate.on_ballot? %>
                  <% if candidate.id != @person.id %>
                  <% report = candidate.reports.most_recent %>
                  <td  class="col-auto"><%= "#{candidate.first_name} #{candidate.last_name}" %></td>
                  <td  class="col-auto"><%= candidate.party %></td>
                  <td  class="col-auto"><%if candidate.is_incumbent? %>
                  <%= candidate.title %>
                  <%else%>
                  <%= candidate.professional_career %></td>
                  <%end%>
                  <td  class="col-auto">$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></td>
                  <% end %>
                  <%end%>
              <% end %>
              </tr>
            </tbody>
          </table>
        <%end%>
<hr>
<h3>Campaign Finance Reports</h3>
<table class="table small-table table-striped table-bordered">
<thead>
    <tr>
      <th>Reporting Period Begin</th>
      <th>Reporting Period End</th>
      <th>Date report filed</th>
      <th>Period Receipts</th>
      <th>Period Disbursements</th>
      <th>Current Cash-on-hand</th>
      <th>Current debt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.period_begin %></td>
        <td><%= report.period_end %></td>
        <td><%= report.report_filed %></td>
        <td>$ <%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.current_coh, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.current_debt, :delimiter => ',') %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report,  { :person_id => @person.id } ) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("Add Report", new_report_path(:person_id => @person.id), :action => "new", :method => :get)%>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
