<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
    <% if @person.image_url.present? %>
    <%= image_tag @person.image.url(:headshot), alt: 'headshot' %>
    <%else%>
    <%= image_tag "no_photo_available.jpg", alt: 'No headshot available' %>
    <%end%>
    </div>
    <div class="col">
      <h4><%= @person.title %> <%= @person.first_name %> <%= @person.last_name %> 
        <% if @person.party == "Republican"%>
        (R)
        <% elsif @person.party == "Democrat"%>
        (D)
        <% elsif @person.party == "Declined to State"%>
        (DTS)
        <%end%>
        </h4>
      <% if @person.is_incumbent? %>
      <p>
        <strong>Represents:</strong>
        <%= link_to "#{@person.incumbent_district.jurisdiction.name}" %> - <%= link_to "#{@person.incumbent_district.name}", @person.incumbent_district %> -  <%= link_to "District #{@person.incumbent_district.district}", @person.incumbent_district %> <br>
      <%end%>
      

      
        <strong>Born:</strong>
        <%= @person.birthdate.to_formatted_s(:long) %> (Age <%= @person.calculated_age %>) 
        <%if @person.birthplace? %>
        in <%= @person.birthplace %>
        <% end %>
        <br>
        <strong>Profession:</strong>
        <%= @person.professional_career %>
        <br>
        <% if @person.is_incumbent? %>
        <% if @person.first_elected? %>
        <strong>First Elected/Appointed as <%= @person.title %>:</strong>
        <%= @person.first_elected.strftime("%B, %Y") %> (Tenure: <%= distance_of_time_in_words(Time.now.utc.to_date, @person.first_elected ) %>)
        <br>
        <%end%>
        <strong>Salary as <%= @person.title %>:</strong>
        <%= number_to_currency(@person.salary)  %>
        <br>
        <strong>Current term expires:</strong>
        <%= @person.term_expires %> <br>
        <% if @person.term?%>
        <strong>Term Limited:</strong>
        <%= @person.term %> <br>
        <%end%>
        </p>
        <p>
        <strong>Prior Elected Office:</strong>
        <%= @person.prior_elected %>
        
        <br>
        <div class="row">
          <div class="col-auto">
        <strong>Resides in:</strong>
          </div>
          <div class="col-auto">
            <% if @person.congressional_district != nil %>
            <%= @person.congressional_district.ordinalize %> Congressional District <br>
            <%end%>
            <% if @person.senate_district != nil %>
            <%= @person.senate_district.ordinalize %> Senate District <br>
            <%end%>
            <% if @person.assembly_district != nil %>
            <%= @person.assembly_district.ordinalize %> Assembly District<br>
            <%end%>
            <% if @person.supe_district != nil %>
            <%= @person.supe_district.ordinalize %> Supervisorial District<br>
            <%end%>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-auto">
        <strong>Public Contact Information:</strong>
          </div>
          <div class="col-auto">
            Phone: <%= number_to_phone(@person.phone) %> <br>
            E-Mail: <%= @person.email %> <br>
            Facebook: <%= @person.facebook %> <br>
            Twitter: <%= @person.twitter %> <br>
            Website: <%= @person.official_website %>
          </div>
        </div>
        <%end%>
        
    </div>
</div>

<% if @person.on_ballot? %>
        <hr>
        <h4>Candidate Information</h4>
        <p>
        <% if @person.on_ballot? %>
            <strong>Running for:</strong>
            <%= link_to "#{@person.district.jurisdiction.name}" %> - <%= link_to "#{@person.district.name}", @person.district %> -  <%= link_to "District #{@person.district.district}", @person.district %> <br>
        <%end%>
          <% if @person.campaign_website.present? %>
          <strong>Campaign Website:</strong>
          <%= @person.campaign_website %> <br>
          <%end%>
          <strong>Contribution Limit:</strong>
          $<%= @person.district.jurisdiction.contribution_limit %>
        <br>
        </p>
        <hr>
        <div class="row">
          <div class="col">
            <strong>Total Raised this Cycle: </strong> <br>
            <strong>Total Spent this Cycle: </strong> <br>
            <strong>Current Net Cash-on-Hand (Cash-on-hand minus debt): </strong>
          </div>
          <div class="col">
            <%= number_to_currency(@person.reports.where(:cycle => "2020").sum(:period_receipts)) %> <br>
            <%= number_to_currency(@person.reports.where(:cycle => "2020").sum(:period_disbursements)) %> <br>
            <%= number_to_currency(@person.reports.most_recent.net_coh) %><br>
          </div>
        </div>
        </p>
        <% if @person.endorsed_republican? %>
        <p class="rep-text">Endorsed by the Republican Party of San Diego County</p>
        <%end%>
        <% if @person.endorsed_democrat? %>
        <p class="dem-text"><strong>Endorsed by the San Diego County Democratic Party</strong></p>
        <%end%>

      <hr>

      <h5>Opponents</h5>
          <table class="table table-striped table-bordered">
          <thead>
              <tr>
                <th class="col-auto">Name</th>
                <th class="col-auto">Party</th>
                <th class="col-auto">Profession</th>
                <th class="col-auto">Current Net Cash on Hand</th>
              </tr>
            </thead>

            <tbody>             
              <% @person.district.candidates.each do |candidate| %>
              <tr>
                <% if candidate.on_ballot? %>
                  <% if candidate.id != @person.id %>
                  <% report = candidate.reports.most_recent %>
                  <td>
                  <% if candidate.endorsed_republican? %>
                  <span class="rep-text">&#10003</span>
                  <%elsif candidate.endorsed_democrat?%>
                  <span class="dem-text">&#10003</span>
                  <%else%>
                  <%end%>
        <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate %></td>
                  <td  class="col-auto"><%= candidate.party %></td>
                  <td  class="col-auto"><%if candidate.is_incumbent? %>
                  <%= candidate.title %>
                  <%else%>
                  <%= candidate.professional_career %></td>
                  <%end%>
                  <td  class="col-auto">$<%= number_with_delimiter(report.net_coh, :delimiter => ',') %></td>
                  <% end %>
                  <%end%>
              <% end %>
              </tr>
            </tbody>
          </table>
            <p class="small-text">(<span class="dem-text">&#10003</span> = Endorsed by SD County Democratic Party; <span class="gop-text">&#10003</span> = Endorsed by Republican Party of San Diego County)</p>
        <%end%>
            
<% if @person.reports.present? %>
<hr>
<h5>Campaign Finance Reports</h5>
<table class="table small-table table-striped table-bordered">
<thead>
    <tr>
      <th>Reporting Period</th>
      <th>Date report filed</th>
      <th>Period Receipts</th>
      <th>Period Disbursements</th>
      <th>Cash-on-hand</th>
      <th>Debt</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= "#{report.period_begin.to_formatted_s(:long)} - #{report.period_end.to_formatted_s(:long)}" %></td>
        <td><%= report.report_filed.to_formatted_s(:long) %></td>
        <td>$ <%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.current_coh, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.current_debt, :delimiter => ',') %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%end%>
  <%= link_to("Add Report", new_report_path(:person_id => @person.id), :action => "new", :method => :get)%> 

<% if @person.expenditures.present? %>
</table>
<hr>
<h5>Related Independent Expenditures</h5>
<table class="table small-table table-striped table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Committee</th>
      <th>Amount</th>
      <th>Support/Oppose</th>
    </tr>
  </thead>

  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.expenditure_date.to_formatted_s(:long) %></td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.description %></td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= link_to "#{expenditure.committee.name}", expenditure.committee %></td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= number_to_currency(expenditure.amount) %></td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><% if expenditure.is_support? %>
            Support
            <%else%>
            Oppose
            <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
