<% if @election_history.errors.any? %>
  <% @election_history.errors.full_messages.each do |message|%>\
  <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= bootstrap_form_for(@election_history, label_errors: true) do |f| %>
  

  <div class="form-inputs">
 
    <div class="row">
      <div class="col">
      <%= f.select :cycle, ['2018', '2020', '2021', '2022'], :selected => '2020', required: true %>
      
      <%= f.select :number_winners, ['1', '2', '3', '4', '5', '6', '7'], :selected => '1', required: true %>
      
      </div>
      <div class="col">
        <%= f.select :election_type, ['General', 'Primary', 'Special'], required: true %>
        <%= f.number_field :total_votes, required: true %>
      </div>
      <div class="col">
        <%= f.date_field :election_date, value: (f.object.new_record? ? 
Date.new(2020,11,03) : f.object.election_date) %>
        
      </div>
      
    </div>
    <%= f.select(:district_id, District.order(:jurisdiction_id).all.collect { |v| [ "#{v.jurisdiction.name} - #{v.name} (District #{v.district}) #{v.term_expires}", v.id ] } ) %>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
            <th></th>
              <th>Person</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Vote Count</th>
            </tr>
          </thead>
        
        <tbody class='fields'>
          <%= f.simple_fields_for :historical_candidates do |builder| %>
            <%=render 'historical_candidate', f: builder %>
          <% end %>  
        </tbody>
        </table>
        </div>
      </div>
    </div>


    
      <div class="form-actions">
        <%= f.submit %>
        <%= link_to_add_row('Add Candidate', f, :historical_candidates, class: 'btn btn-primary') %> 
      </div>
      <br>
      <%= link_to 'Back', election_histories_path %>
  

  </div>

<% end %>
