<p id="notice"><%= notice %></p>

<h1>Election Histories</h1>

<table>
  <thead>
    <tr>
      <th>Cycle</th>
      <th>Election type</th>
      <th>Election date</th>
      <th>Number winners</th>
      <th>Total votes</th>
      <th>District</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @election_histories.each do |election_history| %>
      <tr>
        <td><%= election_history.cycle %></td>
        <td><%= election_history.election_type %></td>
        <td><%= election_history.election_date %></td>
        <td><%= election_history.number_winners %></td>
        <td><%= election_history.total_votes %></td>
        <td><%= election_history.district %></td>
        <td><%= link_to 'Show', election_history %></td>
        <td><%= link_to 'Edit', edit_election_history_path(election_history, :election_date => election_history.election_date, :district_id => election_history.district_id) %></td>
        <td><%= link_to 'Destroy', election_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Election History', new_election_history_path %>
