<p id="notice"><%= notice %></p>

<p>
  <strong>Cycle:</strong>
  <%= @election_history.cycle %>
</p>

<p>
  <strong>Election type:</strong>
  <%= @election_history.election_type %>
</p>

<p>
  <strong>Election date:</strong>
  <%= @election_history.election_date %>
</p>

<p>
  <strong>Number winners:</strong>
  <%= @election_history.number_winners %>
</p>

<p>
  <strong>Total votes:</strong>
  <%= @election_history.total_votes %>
</p>

<p>
  <strong>District:</strong>
  <%= link_to "#{@election_history.district.jurisdiction.name} - #{@election_history.district.name} #{@election_history.district.district}", @election_history.district %>
</p>

<%= render 'candidates_table' %>

<%= link_to 'Edit', edit_election_history_path(@election_history, :election_date => @election_history.election_date, :district_id => @election_history.district_id), :class => "btn btn-primary mr-2" %> |
<%= link_to 'Back', election_histories_path %>
