<!-- app/views/blog_posts/show.html.erb -->
<div class="container mt-5">
<hr>
  <div class="row">
    <div class="col-md-8">
      <div>
        <h2 class="font-weight-bold" style="margin-bottom: 0; line-height: 1.2;"><%= @blog_post.title %></h2>
        <span style="display: block; margin-top: 0; font-size: smaller; color: gray;"><%= @blog_post.publish_date.strftime('%A, %B %d, %Y') %></span>
      </div>


      <div class="my-4">
        <%= @blog_post.content %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'blog_posts/sidebar' %>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_blog_post_path(@blog_post) %>
<%end%>
