
<div class="container">

<div class="table-responsive shadow bg-white rounded border-primary p-4">
<div class="mb-3"> Total Users: <%= @users.count %> (<%= @users.where.not(confirmed_at: nil).count %> Confirmed)</div>
<table class="table" id="users">
    <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name </th>
            <th>E-Mail </th>
            <th>Created</th>
            <th>Login Count</th>
            <th>Last Login</th>
            <th>Delete</th>
        </tr>
    <thead>

    <tbody>
         <% @users.order('id ASC').each do |user| %>
        <tr>
            <td><%=user.id.to_s.rjust(3, '0')%><%if user.confirmed_at.nil?%>*<%end%></td>
            <td><%=user.first_name%></td>
            <td><%=user.last_name%></td>
            <td><%=user.email%><br><%if user.subscribed?%><small class="badge badge-primary">Subscribed</small><%end%><%if user.admin?%>&nbsp<small class="badge badge-warning">Admin</small><%end%></td>
            <td><%=user.created_at.strftime("%m/%d/%y")%></td>
            <td><%=user.sign_in_count %></td>
            <td><% if user.last_sign_in_at.present? %><%=user.last_sign_in_at.strftime("%m/%d/%y at %I:%M%p") %><%end%></td>
            <td><%= link_to "Delete User", admin_destroy_user_path(user), method: :delete, data: { confirm: "Are you sure? This cannot be un-done!" } %></td>
        </tr>

        <% end %>
    </tbody>


</table>
</div>
</div>

<script>
    $( document ).on('turbolinks:load', function() {
    $('#users').DataTable( {
      retrieve: true, 
      "order": [[ 0, "desc" ]]
    });
});
</script>
