<p id="notice"><%= notice %></p>

<h1>Itemized Expenditures</h1>

<table>
  <thead>
    <tr>
      <th>Expenditure</th>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itemized_expenditures.each do |itemized_expenditure| %>
      <tr>
        <td><%= itemized_expenditure.expenditure %></td>
        <td><%= itemized_expenditure.date %></td>
        <td><%= itemized_expenditure.description %></td>
        <td><%= itemized_expenditure.amount %></td>
        <td><%= link_to 'Show', itemized_expenditure %></td>
        <td><%= link_to 'Edit', edit_itemized_expenditure_path(itemized_expenditure) %></td>
        <td><%= link_to 'Destroy', itemized_expenditure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itemized Expenditure', new_itemized_expenditure_path %>
