<p id="notice"><%= notice %></p>

<p>
  <strong>Expenditure:</strong>
  <%= @itemized_expenditure.expenditure %>
</p>

<p>
  <strong>Date:</strong>
  <%= @itemized_expenditure.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @itemized_expenditure.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @itemized_expenditure.amount %>
</p>

<%= link_to 'Edit', edit_itemized_expenditure_path(@itemized_expenditure) %> |
<%= link_to 'Back', itemized_expenditures_path %>
