
  <div class="card shadow-sm  my-3 bg-white rounded primary-border p-0">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span>Campaign for <%= link_to district.full_district_name, district %>
        <% if user_signed_in? && current_user.admin? %>
          (<%= link_to "Edit Campaign", edit_campaign_path(campaign, :district_id => campaign.district.id) %>)
        <% end %>
      </span>
      <span class="text-right "><%= campaign.election_date.strftime("%B %d, %Y") %></span>
    </div>

    <div class="table-responsive">
      <table class="table table-sm  bg-white mb-0" style="width:100%">
        <thead>
          <tr>
            <th class="pb-2 text-nowrap "></th>
            <th class="text-nowrap">Candidate</th>
            <th class="text-end text-nowrap">Last Report</th>
            <th class="text-end text-nowrap">Total Raised</th>
            <th class="text-end text-nowrap">Total Spent</th>
            <th class="text-end  text-nowrap">Debt</th>
            <th class="text-end text-nowrap">Cash-on-Hand</th>
            <th class="text-end  text-nowrap pe-4">Net COH</th>
          </tr>
        </thead>
        <tbody>
          <% candidates.each do |candidate| %>
            <tr>
              <td class="pl-4 text-nowrap">
                <% if candidate.person.present? && candidate.person.image.present? %>
                  <%= image_tag candidate.person.image.url(:headshot), alt: 'headshot', class: "mx-auto my-auto d-block avatar shadow-sm", size: "50x50" %>
                <% else %>
                  <%= image_tag 'blank-headshot.png', alt: 'vacant_headshot', class: "mx-auto my-auto d-block avatar shadow-sm", size: "50x50" %>
                <%end %>
            </td>
          <td class="text-nowrap">
            <% party_abbr = party_abbreviation(candidate.party_registration) %>
            <% if candidate.person.present? %>
              <%= link_to "#{candidate.person.full_name}#{candidate.is_district_incumbent} (#{party_abbr})", candidate.person %>
            <% else %>
              <%= "#{candidate.first_name} #{candidate.last_name} (#{party_abbr})" %>
            <% end %>
            <br>
            <small><%= candidate.display_ballot_title %></small>
            <% if user_signed_in? && current_user.admin? %>
              <%= link_to "Remove", candidate, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>

          <%# Retrieve report data for the primary committee %>
          <% primary_committee = candidate.person&.candidate_committees&.find_by(primary_committee: true) %>
          <% reports = primary_committee&.reports %>

         <% if reports.present? %>
          <td class="text-end text-nowrap">
            <% latest_report = reports.order('period_end DESC').first %>
            <%= link_to latest_report.period_end.strftime("%m-%d-%y"), report_path(latest_report) %>
          </td>
          <td class="text-end "><%= number_to_currency(reports.sum(:period_receipts)) %></td>
          <td class="text-end"><%= number_to_currency(reports.sum(:period_disbursements)) %></td>
          <td class="text-end  "><%= number_to_currency(reports.order('period_end DESC').first.current_debt) %></td>
          <td class="text-end "><%= number_to_currency(reports.order('period_end DESC').first.current_coh) %></td>
          <td class="text-end  pe-4"><%= number_to_currency(reports.order('period_end DESC').first.net_coh) %></td>
        <% else %>
          <!-- Default values when no reports are present -->
          <td class="text-end text-nowrap">No Reports</td>
          <td class="text-end ">$0.00</td>
          <td class="text-end ">$0.00</td>
          <td class="text-end ">$0.00</td>
          <td class="text-end ">$0.00</td>
          <td class="text-end  pe-4">$0.00</td>
        <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="px-4 mb-2">
  <small class="text-muted">* = Incumbent(s)</small>
</div>
  </div>

