<div style="width:100%;">
      <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
        <div class="card-header ">
          
          <span class="d-none d-md-table-cell">Candidates for <%= link_to "#{district.full_district_name}", district %> <%if user_signed_in? && current_user.admin? %>(<%= link_to "Edit Campaign", edit_campaign_path(campaign, :district_id => campaign.district.id) %>)<%end%> </span> <span class="text-right d-md-none"> Election Date: <%= campaign.election_date.strftime("%b %d, %Y") %></span>
        
        </div>

      <div class="">
        <table class="table bg-white mb-0" style="width:100%">
          <tbody>     
    
            <% candidates.each do |candidate| %>
            <tr >
              
                
                

       
                <td class="col-1 d-none d-md-table-cell pl-4">
                                  <%if candidate.person.present? && candidate.person.image.present? %>
                                  <%= image_tag candidate.person.image.url(:headshot), alt: 'headshot', :class => "mx-auto my-auto d-block avatar shadow-sm", size: "75x75"  %>
                                  <%else%>
                                  <%= image_tag 'blank-headshot.png', alt: 'vacant_headshot', :class => "mx-auto my-auto d-block avatar shadow-sm", size: "75x75"  %>
                                  <%end%>
                                  </td>
                <td class="col-3">
                  <% if candidate.display_party == "Republican" %>
                  <span class="gop-text"><% if candidate.person.present? %><%= link_to "#{candidate.person.first_name} #{candidate.person.last_name}#{candidate.is_district_incumbent}", candidate.person, { :class =>"gop-text" }%><%else%><%= "#{candidate.first_name} #{candidate.last_name}" %><%end%></span>
                  <% if candidate.party_endorsement == "REP" %> <span class="gop-text"> &#10004; </span><%end%>
                  <%elsif candidate.display_party == "Democrat"%>
                  <span class="dem-text"><% if candidate.person.present? %><%= link_to "#{candidate.person.first_name} #{candidate.person.last_name}#{candidate.is_district_incumbent}", candidate.person, { :class =>"dem-text" }%><%else%><%= "#{candidate.first_name} #{candidate.last_name}" %><%end%></span>
                  <% if candidate.party_endorsement == "DEM" %> <span class="dem-text"> &#10004; </span><%end%>
                  <%else%>
                  <span class="dts-text"><% if candidate.person.present? %><%= link_to "#{candidate.person.first_name} #{candidate.person.last_name}#{candidate.is_district_incumbent}", candidate.person, { :class =>"dts-text" }%><%else%><%= "#{candidate.first_name} #{candidate.last_name}" %><%end%></span>
                  <%end%>
                  <% if user_signed_in? && current_user.admin? %>(<%= link_to "Remove", candidate, method: :delete, data: { confirm: 'Are you sure?' } %>)<%end%>
                <br><small>
                <%= candidate.display_ballot_title %>
                </td>


                

                   <%if candidate.person.present? && candidate.person.has_reports %>
                      <% reports = candidate.person.all_reports %>   
                      <td class="text-right col-2 d-none d-md-table-cell"><span class="green-text"><%= number_to_currency(reports.sum(:period_receipts)) %></span><br><small>Total Raised</small></td>
                      <td class=" text-right col-2 d-none d-md-table-cell"><span class="red-text"><%= number_to_currency(reports.sum(:period_disbursements)) %></span><br><small>Total Spent</small></td>    
                      <td class=" text-right col-2 d-none d-md-table-cell"><span class="red-text">(<%= number_to_currency(reports.last.current_debt) %>)</span><br><small>Debt</small></td>       
                      <td class="text-right col-2 pr-4 "><span class="green-text "><%= number_to_currency(reports.order('period_end DESC').first.current_coh) %></span><br><small>Cash-on-Hand</small></td>
                      <td class="text-right col-2 d-none d-lg-table-cell pr-4"><span class="green-text font-weight-bold"><%= number_to_currency(reports.order('period_end DESC').first.net_coh) %></span><br><small>Net COH</small></td>
                      <%else%>
                      <td class="green-text text-right col-2 d-none d-md-table-cell">$0.00<br><small>Total Raised</small><br><small></td>
                      <td class="red-text text-right col-2 d-none d-md-table-cell">$0.00<br><small>Total Spent</small></td>          
                      <td class="text-right col-2 d-none d-md-table-cell"><span class="red-text">($0.00)</span><br><small>Debt</small></td>
                      <td class="text-right col-2 pr-4  "><span class="green-text ">$0.00</span><br><small>Cash-on-Hand</small></td>
                      <td class="text-right col-2 d-none d-lg-table-cell pr-4 "><span class="green-text font-weight-bold">$0.00</span><br><small>Net COH</small></td>
                  <%end%>
                  
                  

                <%end%>

            </tr>
            
          </tbody>
         
        </table>
         <div class="px-4 mb-2 "><small class="text-muted">Checkmark = Party Endorsement | * = Incumbent(s)</small> <span class="pull-right font-weight-bold d-none d-md-table-cell"> Election Date: <%= campaign.election_date.strftime("%b %d, %Y") %></span> </div>
      </div>
      

      
         </div>
      </div>
      </div>
  

