<hr>
<div class="h3">Electoral History</div>
 <% historical_elections.each do |historical_campaign| %>
  <div class="card shadow-sm mb-3 bg-white rounded primary-border">
    <div class="card-header">
      <%= "#{historical_campaign.election_date.strftime("%Y")} #{historical_campaign.election_type} Election Results" %> <span class="font-weight-light"><%= "(#{historical_campaign.election_date.strftime("%B %e, %Y")})" %></span> <%if current_user.admin?%> - <%= link_to 'Edit', edit_campaign_path(historical_campaign, :election_date => historical_campaign.election_date, :district_id => historical_campaign.district_id) %><%end%>
      
    </div>
    <div class="table-responsive ">
      <table class="table-sm table bg-white " >
        <thead>
          <tr>
          <th></th>
            <th style="width: 40%" class="pl-4">Name</th>
            <th style="width: 10%">Votes</th>
            <th style="width: 10%">Vote %</th>
            <th style="width: 40%">Vote Share</th>
          </tr>
        </thead>
        
        <tbody>
        <% historical_campaign.candidates.order('votes desc').each_with_index do |candidate, index| %>
          <tr>
            <td class="pl-4"> <% if index <= candidate.campaign.number_of_winners - 1 %> &#10004; <%end%></td>
            <td>
            <% if candidate.person.present? %> <%= link_to "#{candidate.display_name}", candidate.person %>
            <%else%>
            <%= candidate.display_name %>
            <%end%></td>
            <td><%= number_with_delimiter(candidate.votes, :delimiter => ',') %> <span ></span> </td>
            <td class="font-weight-bold"><%= candidate.vote_share %></td>
            <td class="pr-4">
            <% if candidate.campaign.election_date < Date.today%>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= candidate.vote_share %>;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <%end%>
            </td>
          </tr> 
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%end%>

