
  <div class="container">
  <div class="row mb-3">

      <div class="rounded primary-border card p-0">
      <% if local_assigns[:show_header] %>
        <div class="card-header">
          <span>Incumbent</span>
        </div>
      <% end %>
        <div class="card-body text-center">
          <% if person.image.present? %>
            <%= image_tag person.image.url, alt: "#{person.first_name} #{person.last_name}", class: "img-fluid rounded-circle mb-4", style: "width: 250px; height: 250px; object-fit: cover;" %>
          <% else %>
            <%= image_tag 'blank-headshot.png', alt: 'Headshot placeholder', class: "img-fluid rounded-circle mb-4", style: "width: 250px; height: 250px; object-fit: cover;" %>
          <% end %>

          <h1 class="card-title mb-2">
            <%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %>
          </h1>
         <p class="card-text mb-1">
            <%= person.party %>
            <% if person.birthdate && person.birthdate.year >= 1910 %>
              | Birthdate: <%= person.birthdate.strftime('%b %d, %Y') %>
              (Age <%= ((Time.zone.now - person.birthdate.to_time) / 1.year.seconds).floor %>)
            <% end %>
          </p>
          <h5 class="card-text">
            <% if person.district %>
              <%= link_to person.district_title, district_path(person.district) %>
            <% else %>
              <%= person.district_title %>
            <% end %>
          </h5>

        </div>
      </div>
</div>
  </div>

