
  <div class="row">
    <div class="col-12">
      <div class="mb-3 mx-auto rounded primary-border card">
      <% if local_assigns[:show_header] %>
        <div class="card-header">
          <span>Incumbent</span>
        </div>
      <% end %>
        <div class="card-body text-center">
          <% if person.image.present? %>
            <%= image_tag person.image.url, alt: "#{person.first_name} #{person.last_name}", class: "img-fluid rounded-circle mb-4", style: "width: 250px; height: 250px; object-fit: cover;" %>
          <% else %>
            <%= image_tag 'blank-headshot.png', alt: 'Headshot placeholder', class: "img-fluid rounded-circle mb-4", style: "width: 250px; height: 250px; object-fit: cover;" %>
          <% end %>

          <h1 class="card-title mb-2">
            <%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %>
          </h1>
          <p class="card-text mb-1"><%= "#{person.party} | Birthdate: #{person.birthdate.strftime('%B %d, %Y') if person.birthdate}" %></p>
          <h5 class="card-text"><%= person.district_title %></h5>
        </div>
      </div>
    </div>
  </div>

