<div class="row bg-light shadow-sm bg-white section-border rounded mb-4 p-3">
<div class="col-lg-3 my-auto">
    <% if person.respond_to?(:image) && person.image.present? %>
      <%= image_tag person.image.url(:headshot), alt: 'headshot', class: "center-image avatar shadow", size: "200x200" %>
    <% else %>
      <%= image_tag 'blank-headshot.png', alt: 'vacant_headshot', class: "center-image avatar shadow", size: "200x200" %>
    <% end %>
  </div>
  <div class="col-lg-9 my-auto px-4">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="primary-blue text-lg-left"><strong><%= display_name_link(person, page_source) %></strong></h1>
      </div>
      <% if user_signed_in? && current_user.admin? %>
        <div class="col-lg text-md-right">
          <%= link_to "Edit", edit_person_path(person), class: "btn btn-sm btn-primary text-md-right my-auto float-end" %>
        </div>
      <% end %>
    </div>
    <h5 class="text-lg-left"><%= display_district_info(person) if person.district.present? %></h5>
    <% if person.is_candidate %>
      <hr class="m-1">
      <div class="row">
        <div class="heavy col-md-3">Candidate for:</div>
        <div class="col-md-9"><%= display_candidate_for(person) %></div>
      </div>
      <hr class="m-1">
    <% end %>
    <% if person.former_offices.present? && person.district.nil? %>
      <div class="row">
        <div class="heavy col-md">Formerly Represented:</div>
        <div class="col-md"><%= display_former_office(person) %></div>
      </div>
      <hr class="m-1">
    <% end %>
    <div class="row">
      <div class="heavy col-md-3">Birthdate:</div>
      <div class="col-md-9"><%= display_birthdate(person) %></div>
    </div>
    <hr class="m-1">

  </div>
</div>
