
<div class="row bg-light shadow-sm bg-white section-border rounded mb-4 p-3">
        <div class="col-sm-3 my-auto"  >
          <% if person.image.present? %>
          <%= image_tag person.image.url(:headshot), alt: 'headshot', :class => " center-image avatar shadow ", size: "200x200"  %><br>
          <% else %>
           <%= image_tag 'blank-headshot.png', alt: 'vacant_headshot', :class => "avatar text-center mb-3 shadow", size: "200x200"  %><br>
          <%end%>     
        </div>
        <div class="col-md my-auto px-2">
            <div class="row">
              <div class="col-md-9"> <h1 class=" primary-blue text-center text-md-left"><strong><% if page_source == "district" %><%= link_to "#{person.first_name} #{person.last_name} #{person.party_abbreviation}", person %><%end%><% if page_source == "person" %><%= "#{person.first_name} #{person.last_name} #{person.party_abbreviation}" %><%end%></strong></h1></div>
              
              <div class="col-md text-center text-md-right">

              <% if current_user.admin? %>    
                <%= link_to "Edit", edit_person_path(person), :class => "btn btn-sm btn-primary text-md-right my-auto" %>
              <%end%>    

             

      
              
              </div>
            </div>
           
              <% if person.district.present? && (person.district.archived == false || current_user.admin?) %>
              <h5 class="text-center text-md-left"><%= link_to "#{person.district.jurisdiction.name}", person.district.jurisdiction, :class => "nounderline" %> - 
                <% if person.incumbent_district.district != "At Large" && person.incumbent_district.is_seat == false && person.incumbent_district.is_area == false %>
                <%= link_to "#{person.district.district_title}, #{person.incumbent_district.district.to_i.ordinalize} District", person.incumbent_district, :class => "nounderline" %> 
                <% elsif person.incumbent_district.is_seat %>
                <%= link_to "#{person.district.district_title}, Seat #{person.incumbent_district.district}", person.incumbent_district, :class => "nounderline" %>
                <% elsif person.incumbent_district.is_area %>
                <%= link_to "#{person.district.district_title}, Trustee Area #{person.incumbent_district.district}", person.incumbent_district, :class => "nounderline" %>
                <% elsif person.incumbent_district.district == "At Large" %>
                <%= link_to "#{person.district.district_title}", person.incumbent_district, :class => "nounderline" %>
                <%end%></h5>

              <%elsif person.district.present?%>

                <h5 class="text-center text-md-left"><%= person.district.jurisdiction.name  %> - 
                <% if person.incumbent_district.district != "At Large" && person.incumbent_district.is_seat == false && person.incumbent_district.is_area == false %>
                <%=  "#{person.district.district_title}, #{person.incumbent_district.district.to_i.ordinalize} District"  %> 
                <% elsif person.incumbent_district.is_seat %>
                <%=  "#{person.district.district_title}, Seat #{person.incumbent_district.district}" %>
                <% elsif person.incumbent_district.is_area %>
                <%=  "#{person.district.district_title}, Trustee Area #{person.incumbent_district.district}" %>
                <% elsif person.incumbent_district.district == "At Large" %>
                <%=  "#{person.district.district_title}" %>
                <%end%></h5>

              <%end%>
              
              <div class="row text-center text-md-left mb-1 pl-2">
              <table class="table borderless table-sm">
                
                <% if person.is_candidate == true %>
                <tr>
                  <td class="heavy">Candidate for:</td>
                  <td>
                    <%= link_to "#{person.campaign.district.full_district_name}", person.campaign.district %>
                  </td>
                </tr>
                <%end%>
                <% if person.former_offices.present? && person.district.nil? %>
                <tr>
                  <td class="heavy">Formerly Represented:</td>
                  <td>
 
                    <%= link_to "#{person.former_offices.order("end_year desc").first.header_former_office_name}", person.former_offices.order("end_year desc").first.true_former_office %>

                  </td>
                </tr>
                <%end%>

                <tr>
                  <td class="heavy col-4">Birthdate:</td>
                  <td><% if person.birthday_unknown %>Unknown<%else%><%= person.birthdate.to_formatted_s(:long) %> (Age <%= person.calculated_age %>)<%end%></td>
                </tr>

                <% if person.district.present? && person.term_expires.present?%>
                  <tr>
                  <td class="heavy col-4">Term Expires:</td>
                  <td><%= person.district.term_expires %> <%if person.term? %><%= "(Term Limited in #{person.term})" %><%end%></td>
                  </tr>
                <%end%>

  

               
              </table>      
              </div> 
      </div>


      
      