<% if local_assigns[:jurisdiction].present? %>
  <% statistical_datum = jurisdiction.statistical_datum.last %>
  <% registration_snapshot = statistical_datum.registration_snapshots.last %>
<% elsif local_assigns[:district].present? %>
  <% statistical_datum = district.statistical_datum.where(district_year: 2020).last || district.statistical_datum.last %>
  <% registration_snapshot = statistical_datum.registration_snapshots.last if statistical_datum.present? %>
<% end %>

<% if statistical_datum.present? %>
  <% registration_snapshot = statistical_datum.registration_snapshots.last %>
  <% if user_signed_in? && current_user.admin? %>
    <div>
      <%= link_to 'Edit Statistical Data', edit_statistical_datum_path(statistical_datum) %>
    </div>
  <% end %>
<% end %>


<% if registration_snapshot.present? %>
  <div class="card shadow-sm mb-3 bg-white rounded primary-border">
    <div class="card-header">
      Current Registration Data (As of <%= registration_snapshot.snapshot_date.strftime("%B %Y") %>)
    </div>
    <table class="table table-sm">
      <thead class="thead-light">
        <th class="pl-4 col-3">Total Voters</th>
        <th class="col-2">DEM</th>
        <th class="col-2">REP</th>
        <th class="col-2">OTHER</th>
        <th class="col-2">MARGIN</th>
      </thead>
      <tbody>
        <tr>
          <td class="pl-4"><%= number_with_delimiter(registration_snapshot.total_registered, delimiter: ',') %></td>
          <td><%= number_with_precision(registration_snapshot.democrat_percentage, precision: 2) %>%</td>
          <td><%= number_with_precision(registration_snapshot.republican_percentage, precision: 2) %>%</td>
          <td><%= number_with_precision(registration_snapshot.other_percentage, precision: 2) %>%</td>
          <td>
            <% if registration_snapshot.registration_advantage > 0 %>
              <strong><span class="text-nowrap" style="color: #35469C;">D +<%= number_with_precision(registration_snapshot.registration_advantage.abs, precision: 2) %>%</span></strong>
            <% else %>
              <strong><span class="text-nowrap" style="color: #911111;">R +<%= number_with_precision(registration_snapshot.registration_advantage.abs, precision: 2) %>%</span></strong>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

<% if statistical_datum.present? %>
  <% has_candidate_data = statistical_datum.newsom_2022.present? || statistical_datum.biden_2020.present? || statistical_datum.newsom_2018.present? || statistical_datum.clinton_2016.present? || statistical_datum.brown_2014.present? || statistical_datum.obama_2012.present? %>
  <% if has_candidate_data %>
  <div class="card shadow-sm mb-3 bg-white rounded primary-border">
    <div class="card-header">
      Candidate Performance
    </div>
    <table class="table table-sm">
      <thead class="thead-light">
        <th class="col-3 pl-4">Election</th>
        <th class="col-2 d-none d-lg-table-cell">DEM</th>
        <th class="col-2 d-none d-lg-table-cell">REP</th>
        <th class="col-2">Margin</th>
        <th class="col-2">Turnout</th>
      </thead>
      <tbody>
       <% if statistical_datum.newsom_2022.present? %>
        <tr>
          <td class="pl-4">2022 Gubernatorial</td>
          <td class="d-none d-lg-table-cell">Newsom - <%= statistical_datum.newsom_2022 %>%</td>
          <td class="d-none d-lg-table-cell">Dahle - <%= statistical_datum.dahle_2022 %>%</td>
          <td>
              <% if statistical_datum.winner_2022 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2022.abs, precision: 1) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2022.abs, precision: 1) %>%</span>
              <%end%> 
          </td>    
           <td><%= statistical_datum.turnout_2022 %></td>   
        </tr>
        <%end%>

        <% if statistical_datum.biden_2020.present? %>
        <tr>
          <td class="pl-4">2020 Presidential</td>
          <td class="d-none d-lg-table-cell">Biden - <%= statistical_datum.biden_2020 %>%</td>
          <td class="d-none d-lg-table-cell">Trump - <%= statistical_datum.trump_2020 %>%</td>
          <td>
              <% if statistical_datum.winner_2020 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2020.abs, precision: 2) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2020.abs, precision: 2) %>%</span>
              <%end%> 
          </td>   
           <td><%= statistical_datum.turnout_2020 %></td>    
        </tr>
        <%end%>

        <% if statistical_datum.newsom_2018.present? %>
        <tr>
          <td class="pl-4">2018 Gubernatorial</td>
          <td class="d-none d-lg-table-cell">Newsom - <%= statistical_datum.newsom_2018 %>%</td>
          <td class="d-none d-lg-table-cell">Cox - <%= statistical_datum.cox_2018 %>%</td>
          <td>
              <% if statistical_datum.winner_2018 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2018.abs, precision: 2) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2018.abs, precision: 2) %>%</span>
              <%end%> 
          </td> 
          <td><%= statistical_datum.turnout_2018 %></td>
        </tr>
        <%end%>

        <% if statistical_datum.clinton_2016.present? %>
        <tr>
          <td class="pl-4">2016 Presidential</td>
          <td class="d-none d-lg-table-cell">Clinton - <%= statistical_datum.clinton_2016 %>%</td>
          <td class="d-none d-lg-table-cell">Trump - <%= statistical_datum.trump_2016 %>%</td>
          <td>
              <% if statistical_datum.winner_2016 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2016.abs, precision: 2) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2016.abs, precision: 2) %>%</span>
              <%end%> 
          </td>   
          <td><%= statistical_datum.turnout_2016 %></td>    
        </tr>
        <%end%>

        <% if statistical_datum.brown_2014.present? %>
        <tr>
          <td class="pl-4">2014 Gubernatorial</td>
          <td class="d-none d-lg-table-cell">Brown - <%= statistical_datum.brown_2014 %>%</td>
          <td class="d-none d-lg-table-cell">Kashkari - <%= statistical_datum.kashkari_2014 %>%</td>
          <td>
              <% if statistical_datum.winner_2014 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2014.abs, precision: 2) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2014.abs, precision: 2) %>%</span>
              <%end%> 
          </td>      
           <td><%= statistical_datum.turnout_2014 %></td> 
        </tr>
        <%end%>

        <% if statistical_datum.obama_2012.present? %>
        <tr>
          <td class="pl-4">2012 Presidential</td>
          <td class="d-none d-lg-table-cell">Obama - <%= statistical_datum.obama_2012 %>%</td>
          <td class="d-none d-lg-table-cell">Romney - <%= statistical_datum.romney_2012 %>%</td>
          <td>
              <% if statistical_datum.winner_2012 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2012.abs, precision: 2) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2012.abs, precision: 2) %>%</span>
              <%end%> 
          </td>   
          <td><%= statistical_datum.turnout_2012 %></td>    
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%end%>

  <% if statistical_datum.total_population.present? && statistical_datum.total_population > 0 %>
  <div class="card shadow-sm mb-3 bg-white rounded primary-border">
    <div class="card-header">
      Census Data (Voting Age Population)
    </div>
    <table class="table table-sm">
<thead class="thead-light">
        <th class="pl-4 d-none d-md-table-cell">Total Population</th>
        <th class="pl-4 d-md-none">Total</th>
        <th>White</th>
        <th>Hispanic</th>
        <th>Black</th>
        <th>Asian</th>
        <th class="d-none d-md-table-cell">Native</th>
        <th class="d-none d-md-table-cell">Pacific</th>
      </thead>
      <tbody>
      <tr>
        <td class="pl-4"><%= number_with_delimiter(statistical_datum.total_population, delimiter: ",") %></td>
        <td><%= statistical_datum.white %>%</td>
        <td><%= statistical_datum.hispanic %>%</td>
        <td><%= statistical_datum.black %>%</td>
        <td><%= statistical_datum.asian %>%</td>
        <td class="d-none d-md-table-cell"><%= statistical_datum.native %>%</td>
        <td class="d-none d-md-table-cell"><%= statistical_datum.pacific %>%</td>
      </tr>
      </tbody>
    </table>
  </div>
 <%end%>
    <% if statistical_datum.present? && (statistical_datum.prop_6_yes.present? || statistical_datum.prop_15_yes.present? || statistical_datum.prop_16_yes.present? || statistical_datum.prop_21_yes.present? || statistical_datum.prop_1_yes.present?) %>
    <div class="card shadow-sm mb-3 bg-white rounded primary-border">
        <table class="table table-sm">
        <div class="card-header">
            Ballot Measure Performance
        </div>
        <thead class="thead-light">
            <th class="pl-4 col-3">Ballot Item</th>
            <th class="col-4">Description</th>
            <th>Yes</th>
            <th>No</th>
            <th>Margin</th>
            <th></th>
        </thead>
        <tbody>
           <% if statistical_datum.prop_6_yes.present? %>
          <tr>
            <td class="pl-4"><a href="https://ballotpedia.org/California_Proposition_6,_Voter_Approval_for_Future_Gas_and_Vehicle_Taxes_and_2017_Tax_Repeal_Initiative_(2018)" target="_blank">Prop 6 (2018)</a></td>
            <td>Gas Tax Repeal</td>
            <td><%= number_with_precision(statistical_datum.prop_6_yes_result.abs, precision: 2) %>%</td>
            <td><%= number_with_precision(statistical_datum.prop_6_no_result.abs, precision: 2) %>%</td>
            <td>
              <% if statistical_datum.prop_6_yes_result > 50 %>
                <span class="font-weight-bold ballot_measure_yes"><%= number_with_precision(statistical_datum.prop_6_difference.to_f, precision: 2) %>%</span>
              <%else%>
                <span class="font-weight-bold ballot_measure_no"><%= number_with_precision(statistical_datum.prop_6_difference.to_f, precision: 2) %>%</span>
              <%end%>
            </td>
            <td></td>
          </tr>
        <%end%>      

        <% if statistical_datum.prop_15_yes.present? %>
          <tr>
            <td class="pl-4"><a href="https://ballotpedia.org/California_Proposition_15,_Tax_on_Commercial_and_Industrial_Properties_for_Education_and_Local_Government_Funding_Initiative_(2020)" target="_blank">Prop 15 (2020)</a></td>
            <td>Prop 13 Split-Roll</td>
            <td><%= number_with_precision(statistical_datum.prop_15_yes_result.abs, precision: 2) %>%</td>
            <td><%= number_with_precision(statistical_datum.prop_15_no_result.abs, precision: 2) %>%</td>
            <td>
              <% if statistical_datum.prop_15_yes_result > 50 %>
                <span class="font-weight-bold ballot_measure_yes"><%= number_with_precision(statistical_datum.prop_15_difference.to_f, precision: 2) %>%</span>
              <%else%>
                <span class="font-weight-bold ballot_measure_no"><%= number_with_precision(statistical_datum.prop_15_difference.to_f, precision: 2) %>%</span>
              <%end%>
            </td>
            <td></td>
          </tr>
        <%end%>

        <% if statistical_datum.prop_16_yes.present? %>
          <tr>
            <td class="pl-4"><a href="https://ballotpedia.org/California_Proposition_16,_Repeal_Proposition_209_Affirmative_Action_Amendment_(2020)" target="_blank">Prop 16 (2020)</a></td>
            <td>Repeal Affirmative Action</td>
            <td><%= number_with_precision(statistical_datum.prop_16_yes_result.abs, precision: 2) %>%</td>
            <td><%= number_with_precision(statistical_datum.prop_16_no_result.abs, precision: 2) %>%</td>
            <td>
              <% if statistical_datum.prop_16_yes_result > 50 %>
                <span class="font-weight-bold ballot_measure_yes"><%= number_with_precision(statistical_datum.prop_16_difference.to_f, precision: 2) %>%</span>
              <%else%>
                <span class="font-weight-bold ballot_measure_no"><%= number_with_precision(statistical_datum.prop_16_difference.to_f, precision: 2) %>%</span>
              <%end%>
            </td>
            <td></td>
          </tr>
        <%end%>   

        <% if statistical_datum.prop_21_yes.present? %>
          <tr>
            <td class="pl-4"><a href="https://ballotpedia.org/California_Proposition_21,_Local_Rent_Control_Initiative_(2020)" target="_blank">Prop 21 (2020)</a></td>
            <td>Allow Local Rent Control</td>
            <td><%= number_with_precision(statistical_datum.prop_21_yes_result.abs, precision: 2) %>%</td>
            <td><%= number_with_precision(statistical_datum.prop_21_no_result.abs, precision: 2) %>%</td>
            <td>
              <% if statistical_datum.prop_21_yes_result > 50 %>
                <span class="font-weight-bold ballot_measure_yes"><%= number_with_precision(statistical_datum.prop_21_difference.to_f, precision: 2) %>%</span>
              <%else%>
                <span class="font-weight-bold ballot_measure_no"><%= number_with_precision(statistical_datum.prop_21_difference.to_f, precision: 2) %>%</span>
              <%end%>
            </td>
            <td></td>
          </tr>
        <%end%> 

          <% if statistical_datum.prop_1_yes.present? %>
          <tr>
            <td class="pl-4"><a href="https://ballotpedia.org/California_Proposition_1,_Right_to_Reproductive_Freedom_Amendment_(2022)" target="_blank">Prop 1 (2022)</a></td>
            <td>Right to Reproductive Freedom Amendment</td>
            <td><%= number_with_precision(statistical_datum.prop_1_yes_result.abs, precision: 2) %>%</td>
            <td><%= number_with_precision(statistical_datum.prop_1_no_result.abs, precision: 2) %>%</td>
            <td>
              <% if statistical_datum.prop_1_yes_result > 50 %>
                <span class="font-weight-bold ballot_measure_yes"><%= number_with_precision(statistical_datum.prop_1_difference.to_f, precision: 2) %>%</span>
              <%else%>
                <span class="font-weight-bold ballot_measure_no"><%= number_with_precision(statistical_datum.prop_1_difference.to_f, precision: 2) %>%</span>
              <%end%>
            </td>
            <td></td>
          </tr>
        <%end%> 
        </tbody>
        </table>
    </div>
    <% end %>
<% end %>