<!-- app/views/your_homepage.html.erb -->
<head>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="The Ballot Book">
  <meta name="twitter:creator" content="@TheBallotBook">
  <meta name="twitter:title" content="Welcome to The Ballot Book">
  <meta name="twitter:description" content="'A comprehensive database of elected officials, districts, and campaign finance for all of San Diego County.'">
  <meta name="twitter:image" content="/logos/BallotBook_Twitter_card.png">
</head>

<div class="container bg-white">
  <div class="position-relative overflow-hidden my-5 bg-white">
    <div class="row text-center">
      <div class="col-1"></div>
      <div class="col-10">
        <%= image_tag 'logos/ballot_logo_square.png', alt: 'The Ballot Book Logo' %>
        <br>
        <h1 class="heavy mt-4">Welcome to The Ballot Book</h1>
        <br>
        <h3>A comprehensive database of elected officials, districts, and campaign finance for San Diego County.</h3>
        <br>
        <p>The Ballot Book provides comprehensive data on voter registration, past voter behavior, census data, elected officials, and campaign finance for the San Diego delegation of the California State Legislature & US Congress, as well as all San Diego County offices, and the 18 incorporated cities throughout San Diego County. Additionally, it includes information on special districts such as school boards, water boards, and fire protection districts, although data on candidates and campaign finance is not available for these entities.</p>
        
        <!-- Recent Blog Updates Card -->
        <div class="card">
          <div class="card-header">
            <strong>Recent Blog Updates</strong>
          </div>
          <div class="card-body">
            <% @recent_blog_posts.each do |post| %>
              <div class="row">
                <div class="col-lg-3 text-lg-start text-center">
                  <%= post.publish_date.strftime('%A, %B %d, %Y') %>
                </div>
                <div class="col-lg-9 text-lg-start text-center">
                  <%= link_to post.title, blog_post_path(post) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Search for Elected Officials & Candidates Card -->
        <div class="card mt-3">
          <div class="card-header">
              Search for Elected Officials & Candidates
          </div>
          <div class="card-body">
            <%= render 'shared/search', search_input_id: 'home_people_search', dropdown_id: 'home_search_results_dropdown' %>
          </div>
        </div>

        <!-- Major Jurisdictions Card -->
       <div class="card mt-3">
          <div class="card-header">Major Jurisdictions</div>
          <div class="card-body">
            <table class="table border" id="jurisdictions">
              <thead>
                <tr>
                  <% if user_signed_in? && current_user.admin? %>
                    <th>Last Updated</th>
                    <th>Last Registration Snapshot</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% Jurisdiction.select("jurisdictions.*, CASE
                    WHEN jurisdiction_type = 'Federal' THEN 1
                    WHEN jurisdiction_type = 'State' THEN 2
                    WHEN jurisdiction_type = 'County' THEN 3
                    WHEN jurisdiction_type = 'City' THEN 4
                    ELSE 5
                  END as ordering")
                  .where(jurisdiction_type: ["Federal", "State", "County", "City"])
                  .order("ordering, name")
                  .each do |jurisdiction| %>
                  <% if !jurisdiction.archived || (user_signed_in? && current_user.admin?) %>
                    <tr>
                      <td><%= link_to jurisdiction.name, jurisdiction %></td>
                      <% if user_signed_in? && current_user.admin? %>
                        <td><%= jurisdiction.updated_at.strftime('%B %d, %Y') %></td>
                        <td>
                          <% if jurisdiction.registration_snapshots.any? %>
                            <%= jurisdiction.registration_snapshots.last.created_at.strftime('%B %d, %Y') %>
                          <% else %>
                            N/A
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>



    <div class="card mt-3">
      <div class="card-header">Other Jurisdictions</div>
      <div class="card-body">
        <table class="table border" id="other_jurisdictions">
          <thead>
            <tr>
              <th>Jurisdiction</th>
              <% if user_signed_in? && current_user.admin? %>
                <th>Last Updated</th>
                <th>Last Registration Snapshot</th>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% Jurisdiction.where.not(jurisdiction_type: ["Federal", "State", "County", "City"])
                            .order(:name)
                            .each do |jurisdiction| %>
              <% if !jurisdiction.archived || (user_signed_in? && current_user.admin?) %>
                <tr>
                  <td><%= link_to jurisdiction.name, jurisdiction %></td>
                  <% if user_signed_in? && current_user.admin? %>
                    <td><%= jurisdiction.updated_at.strftime('%B %d, %Y') %></td>
                    <td>
                      <% if jurisdiction.registration_snapshots.any? %>
                        <%= jurisdiction.registration_snapshots.last.created_at.strftime('%B %d, %Y') %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td>
                      <%= button_to (jurisdiction.archived ? 'Unarchive' : 'Archive'), 
              toggle_archive_jurisdiction_path(jurisdiction),
              method: :patch, 
              data: { confirm: 'Are you sure?' },
              class: "btn btn-sm #{jurisdiction.archived ? 'btn-success' : 'btn-warning'}" %>

                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>




        <div class="col-1"></div>
      </div>
    </div>
  </div>
</div>
