<p id="notice"><%= notice %></p>

<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>District</th>
      <th>Birth date</th>
      <th>Party</th>
      <th>Professional career</th>
      <th>Email</th>
      <th>Campaign website</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.district %></td>
        <td><%= candidate.birth_date %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.professional_career %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.campaign_website %></td>
        <td><%= candidate.twitter %></td>
        <td><%= candidate.facebook %></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_candidate_path %>
