<p>Hi <%= @user.first_name %>,</p>

<p>A new campaign finance <%= link_to "report", report_url(@report), target: :_blank %> has been filed by <strong><%= link_to "#{@report.person.full_name}", @report.person, target: :_blank  %>:</strong></p>

<p><strong>Date Filed: </strong><%= @report.report_filed.to_formatted_s(:long) %><%if @report.is_amended?%> (Amended)<%end%></p>
<p><strong>Period Begin: </strong><%= @report.period_begin.to_formatted_s(:long) %></p>
<p><strong>Period End: </strong><%= @report.period_end.to_formatted_s(:long) %></p>

<p><strong>Period Receipts: </strong><%= number_to_currency(@report.period_receipts) %></p>
<p><strong>Loans Received: </strong><% if @report.loans_received.present? %><%= number_to_currency(@report.loans_received) %><%else%>0.00<%end%></p>
<p><strong>Period Expenditures: </strong><%= number_to_currency(@report.period_disbursements) %></p>
<p><strong>Cash on Hand: </strong><%= number_to_currency(@report.current_coh) %></p>
<p><strong>Debt: </strong><%= number_to_currency(@report.current_debt) %></p>

<% if @report.pdf.url.present? %><p><%= link_to "Download Report", @report.pdf.url, target: :_blank %><%end%></p>

<%= render "shared/unsubscribe_link", subscription_type: "tracked_report" %>
