<% if (@district.incumbent.present? && @district.incumbent.running_reelection?) || @district.candidates.present? || @district.jurisdiction.incumbents.where(:running_reelection => true).present? %>
<div class="card shadow-sm mb-3 bg-white rounded  primary-border" style="max-width: 100%;">
  <div class="card-header text-uppercase">
    candidates for this office <% if @district.number_of_winners.present? && @district.number_of_winners > 1 %><%= "(Top #{@district.number_of_winners} Win)" %><%end%>
  </div>
  <div class="card-text pl-4 pr-4">
  <div class="table-responsive">
    <table class="table">
      <thead>

      </thead>

      <tbody>
      <tr>
        <% @district.jurisdiction.incumbents.where(:running_reelection => true).each do |incumbent| %>
        <% if incumbent.incumbent_district.term_expires.to_s == "2020" && incumbent.incumbent_district.at_large_district? %>
        <% report = incumbent.reports.most_recent %>
        <td class="condensed-column  pt-4 pb-0 pr-1">
          <% if incumbent.endorsed_republican? %>
          <div class=""><span class="gop-text"><%= material_icon.check_circle %></div>
          <%elsif incumbent.endorsed_democrat?%>
          <div class=""><span class="dem-text"><%= material_icon.check_circle %></div>
          <%else%>
          <%end%>
          </td>
          <td class="condensed-column "><%= image_tag incumbent.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "65x65"  %></td>
        <td>
          <% if incumbent.party == "Republican" %>
          <%= link_to "#{incumbent.first_name} #{incumbent.last_name}", incumbent, { :class =>"gop-text" }%><br><small><%= incumbent.title %></small>
          <%elsif incumbent.party == "Democrat"%>
          <%= link_to "#{incumbent.first_name} #{incumbent.last_name}", incumbent, { :class =>"dem-text" }%><br><small><%= incumbent.title %></small>
          <%else%>
          <%= link_to "#{incumbent.first_name} #{incumbent.last_name}", incumbent, { :class =>"dts-text" }%><br><small><%= incumbent.title %></small>
          <%end%>
          <br><small class="primary-blue"><%= incumbent.ballot_status %></small></td>
          </td>
          <td><% if incumbent.reports.present?%>     
                <% report = incumbent.reports.most_recent %>          
                <td class="text-right "><span class="green-pill" style="display: inline;">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span><br><small>Cash-on-Hand</small><br><small> <%if report.net_coh < 0 %><span class="float-right gop-text">Net: (<%= number_to_currency(report.net_coh) %>)</span><%else%><span class="float-right">Net: <%= number_to_currency(report.net_coh) %></span></small><%end%></td>
                <%else%>
                <td class="text-right "><span class="green-pill" style="display: inline;">$0.00</span><br><small>Cash-on-Hand</small></td>
                <%end%> </td>
      </tr>
      <%end%>
      <%end%>
       <% @district.jurisdiction.candidates.each do |candidate| %>
      <% if candidate.district.term_expires.to_s == "2020" && candidate.district.at_large_district? %>
      <tr>
        <% if candidate.on_ballot? %>
          <% report = candidate.reports.most_recent %>
          
          <td class="condensed-column pt-4 pb-0">
          <% if candidate.endorsed_republican? %>
          <div class=""><span class="gop-text"><%= material_icon.check_circle %></div>
          <%elsif candidate.endorsed_democrat?%>
          <div class=""><span class="dem-text"><%= material_icon.check_circle %></div>
          <%else%>
          <%end%>
          </td>
          <td class="condensed-column"><%= image_tag candidate.image.url(:headshot), alt: 'headshot', :class => "avatar img-fluid shadow-sm", size: "65x65"  %></td>
          <td>
          <% if candidate.party == "Republican" %>
          <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"gop-text" }%><br><small><% if candidate.is_incumbent? %><%= candidate.title %><%else%><%=candidate.professional_career %><%end%></small>
          <%elsif candidate.party == "Democrat"%>
          <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"dem-text" }%><br><small><% if candidate.is_incumbent? %><%= candidate.title %><%else%><%=candidate.professional_career %><%end%></small>
          <%else%>
          <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"dts-text" }%><br><small><% if candidate.is_incumbent? %><%= candidate.title %><%else%><%=candidate.professional_career %><%end%></small>
          <%end%>
          <br><small class="primary-blue"><%= candidate.ballot_status %></small></td>
                    <td><% if candidate.reports.present?%>     
                <% report = candidate.reports.most_recent %>          
                <td class="text-right "><span class="green-pill" style="display: inline;">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span><br><small>Cash-on-Hand</small><br><small> <%if report.net_coh < 0 %><span class="float-right gop-text">Net: (<%= number_to_currency(report.net_coh) %>)</span><%else%><span class="float-right">Net: <%= number_to_currency(report.net_coh) %></span></small><%end%></td>
                <%else%>
                <td class="text-right "><span class="green-pill" style="display: inline;">$0.00</span><br><small>Cash-on-Hand</small></td>
                <%end%> </td>
          <% end %> 
      </tr>    
       <% end %>
      <%end%>
      <small class="text-muted">Checkmark = Party Endorsement</small>
      </tbody>
      </div>
      </table>
    </div>
  </div>
  </div>
  <%end%>
