<% if (@district.incumbent.present? && @district.incumbent.running_reelection == true) || @district.candidates.present? %>
<div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
  <div class="card-header">
    Candidates for this Office <% if @district.number_of_winners.present? && @district.number_of_winners > 1 %><%= "(Top #{@district.number_of_winners} Win)" %><%end%>
  </div>
  <div class="card-text pl-4 pr-4">
  <div class="table-responsive">
    <table class="table">


      <tbody>

      <% @district.candidates.each do |candidate| %>
      <tr>
        <% if candidate.is_candidate %>
          <% report = candidate.reports.most_recent %>

          <td><%= image_tag candidate.image.url(:headshot), alt: 'headshot', :class => "avatar img-fluid shadow-sm", size: "100x100"  %></td>
          <td>
            <% if candidate.party == "Republican" %>
            <%= link_to "#{candidate.first_name} #{candidate.last_name}#{candidate.incumbent_asterisk}", candidate, { :class =>"gop-text text-nowrap" }%><br><small><%= candidate.person_title %></small>
            <%elsif candidate.party == "Democrat"%>
            <%= link_to "#{candidate.first_name} #{candidate.last_name}#{candidate.incumbent_asterisk}", candidate, { :class =>"dem-text text-nowrap" }%> <% if candidate.endorsed_republican? %>
              <span class="gop-text">&#10004;</span>
              <%elsif candidate.endorsed_democrat?%>
              <span class="dem-text">&#10004;</span>
              <%else%>
              <%end%><br><small><%= candidate.person_title %></small>
            <%else%>
            <%= link_to "#{candidate.first_name} #{candidate.last_name}#{candidate.incumbent_asterisk}",candidate, { :class =>"dts-text text-nowrap" }%><br><small><%= candidate.person_title %></small>
            <%end%>

            <br><small class="d-none d-lg-table-cell primary-blue"><%= candidate.ballot_status %></small>
          </td>
          
<%if candidate.reports.where(:cycle => "2020", candidate_report: true ).present? %>
                    <% report = candidate.reports %>   
                    <td class="d-none d-lg-table-cell text-right"><span class="green-text"><%= number_to_currency(candidate.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_receipts)) %></span><br><small>Raised this cycle</small><br><small><%= "(Since #{candidate.reports.where(candidate_report: true).order(:period_begin).first.period_begin.strftime("%m/%d/%Y")})" %></small></td>
                    <td class="d-none d-lg-table-cell text-right"><span class="red-text"><%= number_to_currency(candidate.reports.where(:cycle => "2020", candidate_report: true ).sum(:period_disbursements)) %></span><br><small>Spent this cycle</small><br><small><%= "(Through #{candidate.reports.where(candidate_report: true).order(:period_end).last.period_end.strftime("%m/%d/%Y")})" %></small></td>          
                    <td class="text-right "><span class="green-text heavy"><%= number_to_currency(report.where(candidate_report: true).order('period_end DESC').first.current_coh) %></span><br><small>Cash-on-Hand</small><br><small><%if report.where(candidate_report: true).order('period_end DESC').first.net_coh < 0 %><span class="float-right red-text">Net: (<%= number_to_currency(report.where(candidate_report: true).order('period_end DESC').first.net_coh) %>)<%else%><span class="float-right green-text">Net: <%= number_to_currency(report.where(candidate_report: true).order('period_end DESC').first.net_coh) %><%end%></small></td>
                    <%else%>
                    <td class="d-none d-lg-table-cell green-text text-right">$0.00<br><small>Raised this cycle</small><br><small></td>
                    <td class="d-none d-lg-table-cell red-text text-right">$0.00<br><small>Spent this cycle</small></td>          
                    <td class="text-right"><span class="green-text heavy">$0.00</span><br><small>Cash-on-Hand</small></td>
                    <%end%>
                <% end %>
                <%end%>
         
          
          
      </tr>    
      <small class="text-muted">Checkmark = Party Endorsement</small>
      </tbody>
      </div>
      </table>
    </div>
  </div>
  </div>
  <%end%>
  