<% if @district.jurisdiction.name == "San Diego County" || @district.jurisdiction.name == "California State Legislature" || @district.jurisdiction.name == "U.S. Congress"%>
  <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
    <div class="card-header">
      ELECTED OFFICIALS RESIDING IN DISTRICT
    </div>
    <div class="card-text pl-4 pr-4">
      <div class="table-responsive">
          <table class="table" id="district-residents">
          <thead>
            <tr>
              <th class="no-border">Name</th>
              <th class="no-border">Age</th>
              <th class="no-border">Term Expires</th>
              <th class="no-border">Tenure (in this office)</th>
              <th class="no-border">District Registration</th>
            <tr>
          </thead>

          <tbody>
            <% @people.each do |person| %>
            <tr>
              <% if person.incumbent_district.present? && (person.senate_district.to_s == @district.district.to_s || person.assembly_district.to_s == @district.district.to_s || person.congressional_district.to_s == @district.district.to_s || person.supe_district.to_s == @district.district.to_s) %>
                  
                  
                  <td>
                    <% if person.party == "Republican" %>
                    <%= link_to "#{person.first_name} #{person.last_name}", person, { :class =>"gop-text" }%><br><small><%= person.incumbent_district.name %></small>
                    <%elsif person.party == "Democrat"%>
                    <%= link_to "#{person.first_name} #{person.last_name}", person, { :class =>"dem-text" }%><br><small><%= person.incumbent_district.name %>, <%= person.incumbent_district.jurisdiction.name %></small>
                    <%else%>
                    <%= link_to "#{person.first_name} #{person.last_name}", person, { :class =>"dts-text" }%><br><small><%= person.incumbent_district.name %>, <%= person.incumbent_district.jurisdiction.name %></small>
                    <%end%></td>
                  <td><%if person.birthdate.present? %><%= person.calculated_age %><%end%></td>
                  <td><%= person.term_expires %></td>
                  <td><% if person.calculated_tenure == 1%><%= person.calculated_tenure %> year<%else%><%= person.calculated_tenure %> years<%end%></td>
                  <td><% if person.incumbent_district.registration_advantage > 0 %>
                        <strong><span style="color: #35469C;">D +<%= number_with_precision(person.incumbent_district.registration_advantage.abs, precision: 2) %>%</span></strong>
                        <% else %>
                        <strong><span style="color: #911111;">R +<%= number_with_precision(person.incumbent_district.registration_advantage.abs, precision: 2) %>%</span></strong>
                        <%end%> </td>
                  
                  <%end%>
                <% end %>
            </tr>
          </tbody>
        </table>
    </div>
    <%end%>

