
<div class="container bg-white shadow-sm border rounded mt-2 pb-4">
<br>
<%= bootstrap_form_for(@district, label_errors: true) do |f| %>
<% if @district.errors.any? %>
    <% @district.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

<div class="row p-3">
  <div class="col-md-3">
    <h5 class="heavy">District Overview</h5>
  </div>
  <div class="col-md-9">
      <div class="row">
        <div class="col-md">
          <%= f.text_field :name, label: "Office Name" %>
        </div>   
        <div class="col-md"> 
          <%= f.text_field :district, label: "District Number/Type" %>
        </div>
        <div class="col-md">
          <%= f.check_box :is_seat, label: "Is a Seat" %>
          <%= f.check_box :is_area, label: "Is Area" %>
        </div>

      </div>  
      <div class="row">
        <div class="col-md"> 
         <%= f.select(:jurisdiction_id, Jurisdiction.all.collect { |v| [ v.name, v.id ] }, {:include_blank => true}) %>
        </div>  
        <div class="col-md">  
          <%= f.select(:person_id, Person.order('last_name ASC').all.collect { |v| [ " #{v.last_name}, #{v.first_name}", v.id ] }, {:include_blank => true}) %>
        </div>
        <div class="col-md">  
           <%= f.select :term_expires, ['', '2022', '2024', '2026'], {:include_blank => true}, label: "Ballot Cycle" %>  
        </div>
      </div>  
        <div class="row">
          <div class="col-md">  
          <%= f.check_box :at_large_district, label: "District is At Large" %>
          </div>
        <div class="col-md"> 
          <%= f.select :number_of_winners, ['','1','2', '3', '4', '5', '6'], label: "Number of Election Winners?"%>
        </div>        
      
      </div>
        <div class="row">
          <div class="col">
              <%= f.text_field :map_url, label: "Map URL" %>
          </div>
          <div class="col">
            <%= f.select(:registration_history_id, RegistrationHistory.order(:name).all.collect { |v| [ "#{v.name}", v.id ] }, {:include_blank => true, label: false} ) %>    
          </div>
        </div>

        <div class="row">
          <div class="col"><%= f.select :district_title, ["Representative", "Senator", "Assemblymember", "Supervisor", "Mayor", "Councilmember", "Trustee", "Board Member", "Director", "District Attorney", "Sheriff", "Treasurer-Tax Collector", "Assessor/ Recorder/ County Clerk", "City Clerk", "City Treasurer"], {:include_blank => true} %></div>
        </div>
  </div>
</div>

<hr>

<div class="row p-3">
  <div class="col-md-3">
    <h5 class="heavy">District Statistics</h5>
  </div>
  <div class="col-md-9">
      <div class="row">
        <div class="col-md border-right">
           <%= f.number_field :total_voters, label: "Registered Voters", step: :any %>
           <%= f.number_field :dem_percent, label: "Registered Democrat Voters", step: :any %>
           <%= f.number_field :rep_percent, label: "Registered GOP Voters", step: :any %>
           <div class="row">
            <div class="col-md">
              <%= f.number_field :registered_2018, label: "Reg. 2018", step: :any %>
              <%= f.number_field :registered_2016, label: "Reg. 2016", step: :any %>
              <%= f.number_field :registered_2014, label: "Reg. 2014", step: :any %>
              <%= f.number_field :registered_2012, label: "Reg. 2012", step: :any %>
            </div>
            <div class="col-md">
              <%= f.number_field :voted_2018, label: "Voted 2018", step: :any %>
              <%= f.number_field :voted_2016, label: "Voted 2016", step: :any %>
              <%= f.number_field :voted_2014, label: "Voted 2014", step: :any %>          
              <%= f.number_field :voted_2012, label: "Voted 2012", step: :any %>    
            </div>
           </div>
        </div>   
        <div class="col-md dem-text"> 
          <%= f.number_field :newsom_percent, label: "Newsom %", step: :any %>
          <%= f.number_field :clinton_percent, label: "Clinton %", step: :any %>
          <%= f.number_field :brown_percent, label: "Brown %", step: :any %>
          <%= f.number_field :obama_percent, label: "Obama %", step: :any %>
          <%= f.number_field :measure_a_yes, label: "Measure A Yes", step: :any %>
          <%= f.number_field :prop_6_yes, label: "Prop 6 Yes", step: :any %>
          <%= f.number_field :prop_51_yes, label: "Prop 51 Yes", step: :any %>
          <%= f.number_field :prop_62_yes, label: "Prop 62 Yes", step: :any %>
        </div>
        <div class="col-md gop-text">
          <%= f.number_field :cox_percent, label: "Cox %", step: :any %>
          <%= f.number_field :trump_percent, label: "Trump %", step: :any %>
          <%= f.number_field :kashkari_percent, label: "Kashkari %", step: :any %>
          <%= f.number_field :romney_percent, label: "Romney %", step: :any %>
          <%= f.number_field :measure_a_no, label: "Measure A No", step: :any %>
          <%= f.number_field :prop_6_no, label: "Prop 6 No", step: :any %>
          <%= f.number_field :prop_51_no, label: "Prop 51 No", step: :any %>
          <%= f.number_field :prop_62_no, label: "Prop 62 No", step: :any %>
        </div>  
      </div>  
      <div class="row">
        <div class="col-md "></div>
        <div class="col-md">

        </div>
        <div class="col-md ">
   
        </div>
      </div>
      
  </div>
</div>





<%= f.submit %>  

<% end %>

</div>

<script>

$(document).on('change', '#runningFor', function(){
    debugger;
    if($(this).prop('checked')){
        $('#runningForPicker').removeAttr('disabled');
        
    } else {
        $('#runningForPicker').attr('disabled', 'disabled');
        
    }
});

</script>