<% if @district.former_offices.present? || (@district.at_large_district && @district.jurisdiction.former_offices.present? ) %>
<div class="h3">Prior Elected Officials</div>
<div class="card shadow-sm mb-3 bg-white rounded primary-border">
    <table class="table table-sm bg-white" >
      <thead class="card-header">
        <tr>
          <th class="pl-4">Elected Official</th>
          <th>Years Served</th>
          <% if user_signed_in? && current_user.admin? %><th></th><%end%>
        </tr>
      </thead>
      
      <tbody>
        <% if @district.at_large_district != true %>
        <% @district.former_offices.each do |former_office| %>
        
        <tr>
            
          <td class="pl-4"><%= link_to "#{former_office.person.full_name}", former_office.person %></td>
          <td><%= former_office.start_year %> - <%= former_office.end_year %> </td>
        <% if user_signed_in? && current_user.admin? %><td><%= link_to "Edit", edit_former_office_path(former_office) %> | <%= link_to 'Delete', former_office, method: :delete, data: { confirm: 'Are you sure?' } %> </td> <%end%>
        </tr>
       
        
          <% end %>

        <% elsif @district.at_large_district? %>
        <% @district.jurisdiction.districts.former_offices.uniq.each do |former_office| %>
        <tr>    
          <td class="pl-4"><%= link_to "#{former_office.person.full_name}", former_office.person %></td>
          <td><%= former_office.start_year %> - <%= former_office.end_year %> </td>
            <% if user_signed_in? && current_user.admin? %><td><%= link_to "Edit", edit_former_office_path(former_office) %> | <%= link_to 'Delete', former_office, method: :delete, data: { confirm: 'Are you sure?' } %> </td> <%end%>
        </tr>
        <%end%>
        <%end%>
        </tbody>
    </table>
    </div>
<%end%>