<form>
<%= bootstrap_form_for(@district, label_errors: true) do |f| %>

  <div class="row">
    <div class="col">
      <%= f.text_field :name %>
    </div>   
    <div class="col"> 
      <%= f.select :district, ['At Large', '1', '2', '3', '4', '5', '6', '7', '8', '9'], {:include_blank => true} %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.number_field :total_voters, label: "Registered Voters" %>
    </div>
    <div class="col">
      <%= f.number_field :dem_percent, label: "Registered Democrat Voters" %>
    </div>
    <div class="col">
      <%= f.number_field :rep_percent, label: "Registered GOP Voters" %>
    </div>
    <div class="col">
      <%= f.number_field :other_percent, label: "Registered Other Voters" %>
    </div>
  </div>

  <div class="row"> 
    <div class="col">
      <%= f.number_field :newsom_percent, label: "Newsom %" %>
    </div>
    <div class="col">
      <%= f.number_field :cox_percent, label: "Cox %" %>
    </div>
    <div class="col">
      <%= f.number_field :clinton_percent, label: "Clinton %" %>
    </div>
    <div class="col">
      <%= f.number_field :trump_percent, label: "Trump %" %>
    </div>

    <div class="col">
      <%= f.number_field :brown_percent, label: "Brown %" %>
    </div>
    <div class="col">
      <%= f.number_field :kashkari_percent, label: "Kashkari %" %>
    </div>
    <div class="col">
      <%= f.number_field :obama_percent, label: "Obama %" %>
    </div>
    <div class="col">
      <%= f.number_field :romney_percent, label: "Romney %" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <%= f.select(:jurisdiction_id, Jurisdiction.all.collect { |v| [ v.name, v.id ] }, {:selected => params[:jurisdiction_id]}, { "data-placeholder": "Select Jurisdiction" }) %>
    </div>
    <div class="col">
    <%= f.select(:incumbent_id, Person.all.collect { |v| [ "#{v.first_name} #{v.last_name}", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Jurisdiction" }) %>
    </div>    
  </div> 

  <%= f.text_field :map_url, label: "Map Embed Link" %>
  <br>
  <%= f.submit %>
</form>    

<% end %>
<br>
