
<div class="container bg-white shadow-sm border rounded mt-2 pb-4">
<br>
<%= bootstrap_form_for(@district, label_errors: true) do |f| %>
<% if @district.errors.any? %>
    <% @district.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

<div class="row p-3">
  <div class="col-md-3">
    <h5 class="heavy">District Overview</h5>
  </div>
  <div class="col-md-9">
      <div class="row">
        <div class="col-md">
          <%= f.text_field :name, label: "Office Name" %>
        </div>   
        <div class="col-md"> 
          <%= f.text_field :district, label: "District Number/Type" %>
        </div>
        <div class="col-md">
          <%= f.check_box :is_seat, label: "Is a Seat" %>
          <%= f.check_box :is_area, label: "Is Area" %>
          <%= f.check_box :at_large_district, label: "District is At Large" %>
        </div>

      </div>  
      <div class="row">
        <div class="col-md"> 
         <%= f.select(:jurisdiction_id, Jurisdiction.all.collect { |v| [ v.name, v.id ] }, {:include_blank => true}) %>
        </div>  
        <div class="col-md">  
          <%= f.select(:person_id, Person.order('last_name ASC').all.collect { |v| [ " #{v.last_name}, #{v.first_name}", v.id ] }, selected: @district.person_id, include_blank: true) %>
        </div>
        <div class="col-md">  
           <%= f.select :term_expires, ['', '2024', '2026', '2028'], {:include_blank => true}, label: "Ballot Cycle" %>  
        </div>
      </div>  

        <div class="row">
          <div class="col"><%= f.select :district_title, ["Representative", "Senator", "Assemblymember", "Supervisor", "Mayor", "Councilmember", "Trustee", "Board Member", "Director", "District Attorney", "Sheriff", "Treasurer-Tax Collector", "Assessor/ Recorder/ County Clerk", "City Clerk", "City Treasurer", "City Attorney"], {:include_blank => true} %></div>
        </div>

        <div class="row">
          <div class="col"><%= f.text_area :note, label: "District Note" %></div>
        </div>
  </div>
</div>

<hr>







<%= f.submit %>  

<% end %>

</div>

<script>

$(document).on('change', '#runningFor', function(){
    debugger;
    if($(this).prop('checked')){
        $('#runningForPicker').removeAttr('disabled');
        
    } else {
        $('#runningForPicker').attr('disabled', 'disabled');
        
    }
});

</script>