<% if @district.at_large_district? %>
<h4>Incumbents</h4>
<div class="row">

<% @district.jurisdiction.incumbents.each do |incumbent| %>
  <% if incumbent.incumbent_district.at_large_district? %>
    <div class="col-md">
    <div class="card shadow-sm mb-3 bg-white rounded border-primary incumbent-card" style="max-width: 100%;">
            
            <div class="row my-2">
              
                <div class="mx-auto mt-2">
                <% if incumbent.present? %>
                <%= image_tag incumbent.image.url(:headshot), alt: 'headshot', :class => "avatar mx-auto text-center shadow incumbent-card", size: "150x150"  %></div>
                <% else %>
                <%= image_tag 'https://nex3.com/wp-content/uploads/2019/12/placeholder-headshot-300x300.png', alt: 'vacant_headshot', :class => "avatar text-center mb-3 shadow", size: "150x150"  %></div>
                <%end%>
                
             </div>
             <div class="row mt-2">   
              
                <div class="mx-auto">
                  <% if incumbent.present? %>
                  <h4 class="card-title"> <%= link_to "#{incumbent.first_name} #{incumbent.last_name}", incumbent %> </h4>
                  
                  <h6 class="card-subtitle mb-2 text-muted"><%= "#{incumbent.title} (#{incumbent.party})" %></h6>
                  <%else%>
                  <h4 class="card-title">VACANT</h4>
                  <%end%>
                  <div class="card-body mx-auto">
                    <%if incumbent.present? %>
                    <table class="table table-sm">
                    <tr>
                      <td class="heavy small">Birthdate:</td>
                      <td class="small"><%if @district.incumbent.birthdate.present? %><%= @district.incumbent.birthdate.to_formatted_s(:long) %> (Age <%= @district.incumbent.calculated_age %>)<%else%><em>Unknown</em><%end%></td>
                    </tr>
                    <tr>
                      <td class="heavy small">Term Expires:</td>
                      <td class="small">
                        <%= @district.incumbent.term_expires %><% if @district.incumbent.term? %>
                        <%= "(Term Limited in #{@district.incumbent.term})" %>
                        <%end%>
                      </td>
                    </tr>
                    <% if incumbent.resides_in_present %>
                    <tr>
                      <td class="heavy small">Resides In:</td>
                      <td class="small"><% if @district.incumbent.congressional_district != nil %>
                            <%=  "CD-#{@district.incumbent.congressional_district}" %>,
                            <%end%>
                            <% if @district.incumbent.senate_district != nil %>
                            <%= "SD-#{@district.incumbent.senate_district}" %>,
                            <%end%>
                            <% if @district.incumbent.assembly_district != nil %>
                            <%= "AD-#{@district.incumbent.assembly_district}" %>,
                            <%end%>
                            <% if @district.incumbent.supe_district != nil %>
                            <%= "BOS-#{@district.incumbent.supe_district}" %>
                            <%end%>
                      </td>
                    </tr>
                    <%end%>
                  </table>
                      <%end%>
                  </div>
                
              </div>
            </div>
      </div>
    <%end%>
    </div>
  <%end%>
  
</div>  
<%elsif @district.at_large_district == false %>
  

<div class="card shadow-sm mb-3 bg-white rounded border-primary incumbent-card">
  <div class="row mt-1 p-3">
    <div class="col-md-3 ">
      <% if @district.person.present? %>
            <%= image_tag @district.incumbent.image.url(:headshot), alt: 'headshot', :class => "center-image avatar img-fluid shadow", size: "150x150"  %>
            <% else %>
            <%= image_tag 'https://nex3.com/wp-content/uploads/2019/12/placeholder-headshot-300x300.png', alt: 'vacant_headshot', :class => "avatar mx-auto d-block shadow", size: "150x150"  %>
      <%end%>
    </div>
    <div class="col-md-9 text-md-left">
        <% if @district.person.present? %>
          <h2 class="card-title"> <%= link_to "#{@district.incumbent.first_name} #{@district.incumbent.last_name}", @district.incumbent %></h4>
          <h4 class="card-subtitle mb-2 text-muted"><%= "#{@district.incumbent.title} (#{@district.incumbent.party})" %></h6>
        <%else%>
          <h4 class="card-title">VACANT</h4>
        <%end%>

        <%if @district.person.present?%>
        <table class="table table-sm">
          <tr>
            <td class="heavy">Birthdate:</td>
            <td><%if @district.incumbent.birthdate.present? %><%= @district.incumbent.birthdate.to_formatted_s(:long) %> (Age <%= @district.incumbent.calculated_age %>)<%else%><em>Unknown</em><%end%></td>
          </tr>
          <tr>
            <td class="heavy">Term Expires:</td>
            <td>
              <%= @district.incumbent.term_expires %><% if @district.incumbent.term? %>
              <%= "(Term Limited in #{@district.incumbent.term})" %>
              <%end%>
            </td>
          </tr>
          <% if @district.incumbent.resides_in_present %>
          <tr>
            <td class="heavy">Resides In:</td>
            <td><% if @district.incumbent.congressional_district != nil %>
                  <%=  "CD-#{@district.incumbent.congressional_district}" %>,
                  <%end%>
                  <% if @district.incumbent.senate_district != nil %>
                  <%= "SD-#{@district.incumbent.senate_district}" %>,
                  <%end%>
                  <% if @district.incumbent.assembly_district != nil %>
                  <%= "AD-#{@district.incumbent.assembly_district}" %>,
                  <%end%>
                  <% if @district.incumbent.supe_district != nil %>
                  <%= "BOS-#{@district.incumbent.supe_district}" %>
                  <%end%>
            </td>
          </tr>
          <%end%>
        </table>      
        <%end%>
    </div>
  </div>
  <%if @district.person.present?%>
  <div class="row px-4 mb-3">
    <div class="col text-md-left">
      <% if @district.incumbent.bio.present? %>
        <strong>Biography:</strong>
        <div>    
          <% if @district.incumbent.bio.length > 175 %>
          <%= truncate(@district.incumbent.bio, length: 175, :escape => false) %>
          <%= link_to 'View Profile', @district.incumbent %>
          <% else %>
            <%= h(@district.incumbent.bio).gsub(/\n/, '</br>').html_safe %>
          <% end %>
        </div>
        <%end%>
    </div>
  </div>
  <%end%>
</div>

<%end%>
