<div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
      <div class="card-header">
      Past Performance
      </div>
  <div class="card-text pl-4 pr-4">
  <div class="table-responsive">
  <table class="table">
      <tbody>
        <% if @district.newsom_percent.present?%>
          <tr>
            <td class="no-border">2018 Gubernatorial <%if @district.registered_2018.present?%> <br><small>(Overall Turnout: <%= number_with_precision(@district.turnout_2018.abs, precision: 2) %>%)</small><%end%>
            </td>
            <td class="no-border"><% if @district.gov_2018 > 0 %>
            <span class="dem-text">Newsom</span>
          <% else %>
            <span class="gop-text">Cox</span>
          <%end%> 
            </td>
            <td class="no-border">
            <% if @district.gov_2018 > 0 %>
            <span class="dem-pill float-right">+<%= number_with_precision(@district.gov_2018.abs, precision: 2) %>%</span>
          <% else %>
            <span class="gop-pill float-right">+<%= number_with_precision(@district.gov_2018.abs, precision: 2) %>%</span>
          <%end%> 
            </td>   
          </tr>
        <%end%>
        <%if @district.clinton_percent.present?%>
        <tr>
          <td>2016 Presidential <%if @district.registered_2016.present?%> <br><small>(Overall Turnout: <%= number_with_precision(@district.turnout_2016.abs, precision: 2) %>%)</small><%end%></td>
          <td>
          <% if @district.pres_2016 > 0 %>
          <span class="dem-text">Clinton</span>
          <% else %>
          <span class="gop-text">Trump</span>
         <%end%>
          </td>
          <td><% if @district.pres_2016 > 0 %>
          <span class="dem-pill float-right">+<%= number_with_precision(@district.pres_2016.abs, precision: 2) %>%</span>
          <% else %>
          <span class="gop-pill float-right">+<%= number_with_precision(@district.pres_2016.abs, precision: 2) %>%</span>
          <%end%>
          </td>        
        </tr>
        <%end%>
        <%if @district.brown_percent.present?%>
        <tr>
          <td>2014 Gubernatorial <%if @district.registered_2014.present?%> <br><small>(Overall Turnout: <%= number_with_precision(@district.turnout_2014.abs, precision: 2) %>%)</small><%end%></td>
          <td><% if @district.gov_2014 > 0 %>
          <span class="dem-text">Brown</span>
        <% else %>
          <span class="gop-text">Kashkari</span>
        <%end%>
          </td>
          <td><% if @district.gov_2014 > 0 %>
          <span class="dem-pill float-right">+<%= number_with_precision(@district.gov_2014.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-pill float-right">+<%= number_with_precision(@district.gov_2014.abs, precision: 2) %>%</span>
        <%end%>
          </td>        
        </tr>
        <%end%>
        <% if @district.obama_percent.present? %>
        <tr>
          <td>2012 Presidential <%if @district.registered_2012.present?%> <br><small>(Overall Turnout: <%= number_with_precision(@district.turnout_2012.abs, precision: 2) %>%)</small><%end%></td>
          <td><% if @district.pres_2012 > 0 %>
          <span class="dem-text">Obama</span>
        <% else %>
          <span class="gop-text">Romney</span>
        <%end%>
          </td>
          <td><% if @district.pres_2012 > 0 %>
          <span class="dem-pill float-right">+<%= number_with_precision(@district.pres_2012.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-pill float-right">+<%= number_with_precision(@district.pres_2012.abs, precision: 2) %>%</span>
        <%end%>
          </td>        
        </tr>
        <% if @district.measure_a_yes.present?%>
          <tr>
            <td>Measure A (2020) <br><small>(SOS Initiative)</td>
            <td></td>
            <td >
            <% if @district.measure_a_result > 50 %>
            <span class="green-pill float-right"><%= number_with_precision(@district.measure_a_result.to_f, precision: 2) %>%</span>
          <% else %>
            <span class="red-pill float-right"><%= number_with_precision(@district.measure_a_result.to_f, precision: 2) %>%</span>
          <%end%> 
            </td>
          </tr>
        <%end%>
        <% if @district.prop_6_yes.present?%>
          <tr>
            <td>Prop 6 (2018) <br><small>(Gas tax repeal)</td>
            <td></td>
            <td >
            <% if @district.prop_6_result > 50 %>
            <span class="green-pill float-right"><%= number_with_precision(@district.prop_6_result.to_f, precision: 2) %>%</span>
          <% else %>
            <span class="red-pill float-right"><%= number_with_precision(@district.prop_6_result.to_f, precision: 2) %>%</span>
          <%end%> 
            </td>
          </tr>
        <%end%>
        <% if @district.prop_51_yes.present?%>
          <tr>
            <td>Prop 51 (2016) <br><small>($9 billion education bonds)</td>
            <td></td>
            <td >
            <% if @district.prop_51_result > 50 %>
            <span class="green-pill float-right"><%= number_with_precision(@district.prop_51_result.to_f, precision: 2) %>%</span>
          <% else %>
            <span class="red-pill float-right"><%= number_with_precision(@district.prop_51_result.to_f, precision: 2) %>%</span>
          <%end%> 
            </td>
          </tr>
        <%end%>
        <% if @district.prop_62_yes.present?%>
          <tr>
            <td>Prop 62 (2016) <br><small>(Death penalty repeal)</td>
            <td></td>
            <td >
            <% if @district.prop_62_result > 50 %>
            <span class="green-pill float-right"><%= number_with_precision(@district.prop_62_result.to_f, precision: 2) %>%</span>
          <% else %>
            <span class="red-pill float-right"><%= number_with_precision(@district.prop_62_result.to_f, precision: 2) %>%</span>
          <%end%> 
            </td>
          </tr>
        <%end%>
        <%end%>
      </tbody>
  </table>
  </div>
  </div>
</div>