<% if @district.statistical_datum.find_by(district_year: "2020").present? %>
<% statistical_datum = StatisticalDatum.all.where(district_year: "2020").find_by(district_id: @district) %>
<% registration_snapshot = statistical_datum.registration_snapshots.last %>

<h3>New District Data</h3><%if  current_user.admin? %><%= link_to 'Edit Statistical Data', edit_statistical_datum_path(statistical_datum) %><%end%>
<div class="card shadow-sm mb-3 bg-white rounded border-warning">
        <div class="card-header">
     2022 District Registration <% if statistical_datum.registration_snapshots.present? %>(As of <%= registration_snapshot.snapshot_date.strftime("%B %d, %Y") %>)<%end%>
        </div>
        
        <table class="table table-sm">
        
        <% if statistical_datum.registration_snapshots.present? %>
        <%if current_user.admin? %><%end%> 
            <thead class="thead-light">
                    <th class="pl-4 col-3">Total Voters</th>
                    <th class="col-2">DEM</th>
                    <th class="col-2">REP</th>
                    <th class="col-2">OTHER</th>
                    <th class="col-2">MARGIN</th>
            </thead>

            <tbody>
                
                <td class="pl-4"><%= number_with_delimiter(registration_snapshot.total_registered, :delimiter => ',') %></td>
                <td><%= number_with_precision(registration_snapshot.democrat_percentage, precision: 2) %>%</td>
                <td><%= number_with_precision(registration_snapshot.republican_percentage, precision: 2) %>%</td>
                <td><%= number_with_precision(registration_snapshot.other_percentage, precision: 2) %>%</td>
                <td><% if registration_snapshot.registration_advantage > 0 %>
                                <strong><span class="text-nowrap" style="color: #35469C;">D +<%= number_with_precision(registration_snapshot.registration_advantage.abs, precision: 2) %>%</span></strong>
                                <% else %>
                                <strong><span class="text-nowrap" style="color: #911111;">R +<%= number_with_precision(registration_snapshot.registration_advantage.abs, precision: 2) %>%</span></strong>
                                <%end%></td>
            </tbody>
        <%else%>
        <div class="pl-4 pt-3">Registration Data Not Yet Available</div>
        <%end%>
        </table>

    </div>

    <div class="card shadow-sm mb-3 bg-white rounded primary-border">
    <table class="table table-sm ">
        <div class="card-header">
         New District Historical Candidate Performance <%if  current_user.admin?%><%= link_to 'Update Registration', new_registration_snapshot_path(:statistical_datum_id => statistical_datum), :class => "btn btn-primary btn-sm float-right" %><%end%>
        </div>    
      <thead class="thead-light">
        <th class="pl-4 col-3">Election</th>
        <th class="col-2 d-none d-lg-table-cell">DEM</th>
        <th class="col-2 d-none d-lg-table-cell">REP</th>
        <th class="col-2">Margin</th>
  
      </thead>

      <tbody>

        <% if statistical_datum.biden_2020.present? %>
        <tr>
          <td class="pl-4">2020 Presidential</td>
          <td class="d-none d-lg-table-cell">Biden - <%= statistical_datum.biden_2020 %>%</td>
          <td class="d-none d-lg-table-cell">Trump - <%= statistical_datum.trump_2020 %>%</td>
          <td>
              <% if statistical_datum.winner_2020 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2020.abs, precision: 2) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2020.abs, precision: 2) %>%</span>
              <%end%> 
          </td>       
          
        </tr>
        <%end%>

        <% if statistical_datum.newsom_2018.present? %>
        <tr>
          <td class="pl-4">2018 Gubernatorial</td>
          <td class="d-none d-lg-table-cell">Newsom - <%= statistical_datum.newsom_2018 %>%</td>
          <td class="d-none d-lg-table-cell">Cox - <%= statistical_datum.cox_2018 %>%</td>
          <td>
              <% if statistical_datum.winner_2018 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2018.abs, precision: 2) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2018.abs, precision: 2) %>%</span>
              <%end%> 
          </td> 
          
        </tr>
        <%end%>

        <% if statistical_datum.clinton_2016.present? %>
        <tr>
          <td class="pl-4">2016 Presidential</td>
          <td class="d-none d-lg-table-cell">Clinton - <%= statistical_datum.clinton_2016 %>%</td>
          <td class="d-none d-lg-table-cell">Trump - <%= statistical_datum.trump_2016 %>%</td>
          <td>
              <% if statistical_datum.winner_2016 > 0 %>
                <span class="dem-text font-weight-bold">D +<%= number_with_precision(statistical_datum.winner_2016.abs, precision: 2) %>%</span>
              <% else %>
                <span class="gop-text font-weight-bold">R +<%= number_with_precision(statistical_datum.winner_2016.abs, precision: 2) %>%</span>
              <%end%> 
          </td>       
          
        </tr>
        <%end%>


      </tbody>
    </table>
  </div>

      <div class="card shadow-sm mb-3 bg-white rounded primary-border">
    <table class="table table-sm ">
        <div class="card-header">
         2020 Census Data 
        </div>    
      <thead class="thead-light">
        <th class="pl-4">Total Population</th>
        <th>White</th>
        <th>Hispanic</th>
        <th>Black</th>
        <th>Asian</th>
        <th>Native</th>
        <th>Pacific</th>
      </thead>

      <tbody>
      <tr>
        <td class="pl-4"><%= number_with_delimiter(statistical_datum.total_population, delimiter: ",") %></td>
        <td><%= statistical_datum.white %>%</td>
        <td><%= statistical_datum.hispanic %>%</td>
        <td><%= statistical_datum.black %>%</td>
        <td><%= statistical_datum.asian %>%</td>
        <td><%= statistical_datum.native %>%</td>
        <td><%= statistical_datum.pacific %>%</td>
      </tr>
            </tbody>
    </table>
  </div>

<%end%>