<% if @district.statistical_datum.find_by(district_year: "2020").present? %>
<% statistical_datum = StatisticalDatum.all.where(district_year: "2020").find_by(district_id: @district) %>
<% registration_snapshot = statistical_datum.registration_snapshots.last %>

<div class="card shadow-sm mb-3 bg-white rounded border-warning">
        <div class="card-header">
        Preliminary Redistricting Data <%if current_user.admin? %>(<%= link_to "Edit", edit_registration_snapshot_path(registration_snapshot) %>)<%end%> <%if registration_snapshot.district_code != nil %><span class="float-right"> DISTRICT CODE: <%= registration_snapshot.district_code %> </span><%end%>
        </div>
        <table class="table table-sm">
            <thead class="thead-light">
                    <th class="pl-4 col-3">Total Voters</th>
                    <th class="col-2">DEM</th>
                    <th class="col-2">REP</th>
                    <th class="col-2">OTHER</th>
                    <th class="col-2">MARGIN</th>
            </thead>

            <tbody>
                
                <td class="pl-4"><%= number_with_delimiter(registration_snapshot.total_registered, :delimiter => ',') %></td>
                <td><%= number_with_precision(registration_snapshot.democrat_percentage, precision: 2) %>%</td>
                <td><%= number_with_precision(registration_snapshot.republican_percentage, precision: 2) %>%</td>
                <td><%= number_with_precision(registration_snapshot.other_percentage, precision: 2) %>%</td>
                <td><% if registration_snapshot.registration_advantage > 0 %>
                                <strong><span class="text-nowrap" style="color: #35469C;">D +<%= number_with_precision(registration_snapshot.registration_advantage.abs, precision: 2) %>%</span></strong>
                                <% else %>
                                <strong><span class="text-nowrap" style="color: #911111;">R +<%= number_with_precision(registration_snapshot.registration_advantage.abs, precision: 2) %>%</span></strong>
                                <%end%></td>
            </tbody>
        </table>
    </div>
<%end%>