    
      <div class="card shadow-sm mb-3 bg-white rounded  primary-border" style="max-width: 100%;">
          <div class="card-header">
            District Registration
          </div>
          <div class="card-text pl-4 pr-4">
            <div class="row p-1 pb-2"> 
                <div class="col-md" style="color: #35469C;"><br>
                  <h6 class="card-subtitle text-muted" >DEM</h6>
                  <h5><%= @district.dem_voters.truncate(2) %>%</h5>
                </div>
                <div class="col-md" style="color: #911111;"><br>
                  <h6 class="card-subtitle text-muted" >REP</h6>
                  <h5><%= @district.rep_voters.truncate(2) %>%</h5>
                </div>
                <div class="col-md " style="color: #627D98;"><br>
                  <h6 class="card-subtitle text-muted" >OTHER</h6>
                  <h5><%= @district.other_voters.truncate(2) %>%</h5>
                </div>
                <div class="col-md"><br>
                  <h6 class="card-subtitle text-muted text-nowrap">ADVANTAGE</h6>
                  <h5><% if @district.registration_advantage > 0 %>
                        <strong><span class="text-nowrap" style="color: #35469C;">D +<%= number_with_precision(@district.registration_advantage.abs, precision: 2) %>%</span></strong>
                        <% else %>
                        <strong><span class="text-nowrap" style="color: #911111;">R +<%= number_with_precision(@district.registration_advantage.abs, precision: 2) %>%</span></strong>
                        <%end%></h5>
                </div>        
            </div>        
          </div>
          <div class="card-footer">
            <%= number_with_delimiter(@district.total_voters, :delimiter => ',') %> TOTAL VOTERS
          </div>        
       </div>
