<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<div class="container">
<div class="row">
  <div class="col-1">
  </div>
<div class="col-10">  
<h1 class="primary-blue heavy">Districts</h1>
<br>



<div class="panel panel-default">
 <div class="table-responsive shadow bg-white rounded border-primary p-4">
<table class="table" id="districts">
  <thead class="thead-light rounded">
    <tr>
      <th></th>
      <th>INCUMBENT</th>
      <th>OFFICE</th>
      <th class="text-right">DEM%</th>
      <th class="text-right">REP%</span></th>
      <th class="text-right">ADVANTAGE</th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>

        <td class="condensed-column"><%= image_tag district.incumbent.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %></td>
        <td><strong><%= link_to "#{district.incumbent.first_name} #{district.incumbent.last_name}", district.incumbent  %></strong><br>        
        <% if district.incumbent.party == "Democrat" %>
        <small class="dem-text"><%= district.incumbent.party %></small>
        <%else%>
        <small class="gop-text"><%= district.incumbent.party %></small>
        <%end%>
        <td>
          <% if district.district == "At Large" %>
          <%= link_to "#{district.name}", district %>
          <%else%>
          <%= link_to "#{district.name} - #{district.district.to_i.ordinalize} District", district %>
          <%end%><br><small class="text-muted"><%= district.jurisdiction.name %></small>
        </td>
        </td>
        <td><span class="float-right dem-text"><%= district.dem_voters.truncate(2) %>%</span></td>
        <td><span class="float-right gop-text"><%= district.rep_voters.truncate(2) %>%</span></td>
        <td><% if district.registration_advantage > 0 %>
            <span class="float-right dem-pill" style="color: #0015BC;">D +<%= number_with_precision(district.registration_advantage, precision: 2) %>%</span>
            <% else %>
             <span class="float-right gop-pill" style="color: #DE0100;">R +<%= number_with_precision(district.absolute_registration_advantage, precision: 2) %>%</span>
            <%end%>
            </td>      
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<% if current_user.admin? %>
<%= link_to 'New District', new_district_path %>
<%end%>
<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
</div>
<div class="col-1">
</div>
</div>
</div>

<script>
    $( document ).on('turbolinks:load', function() {
    $('#districts').DataTable( {
      retrieve: true
    });
});
</script>
<!--        
  /*   
        searchPanes:true,
        retrieve: true,
        dom: 'Pfrtip',
        columnDefs:[
            {
                searchPanes:{
                    show: true,
                    orderable: false,
                },
                targets: [0,-1],
            },
            {
                searchPanes:{
                    show: false,
                },
                targets: [2],
            },
            {
                searchPanes: {
                    orderable: false,
                    
                },
                targets: [4]
            }
        ],  
    });
});*/

