<p id="notice"><%= notice %></p>

<h1>Districts</h1>

<table>
  <thead>
    <tr>
      <th>Jurisdiction</th>
      <th>Name</th>
      <th>District</th>
      <th>Incumbent</th>
      <th>Total voters</th>
      <th>Dem percent</th>
      <th>Rep percent</th>
      <th>Other percent</th>
      <th>Registration Advantage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= link_to "#{district.jurisdiction.name}", district %></td>
        <td><%= district.name %></td>
        <td><%= district.district %></td>
        <td><%= link_to "#{district.incumbent.first_name} #{district.incumbent.last_name}", district.incumbent  %></td>
        <td><%= number_with_delimiter(district.total_voters, :delimiter => ',') %></td>
        <td>% <%= district.dem_percent %></td>
        <td>% <%= district.rep_percent %></td>
        <td>% <%= district.other_percent %></td>
        <td><% if district.registration_advantage > 0 %>
            <span style="color: #0015BC;">D+ <%= number_with_precision(district.registration_advantage, precision: 2) %>%</span>
            <% else %>
             <span style="color: #DE0100;">R+ <%= number_with_precision(district.registration_advantage, precision: 2) %>%</span>
            <%end%>
            </td>        
        <td><%= link_to 'Show', district %></td>
        <td><%= link_to 'Edit', edit_district_path(district) %></td>
        <td><%= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District', new_district_path %>
