<div class="container">
  <div class="row">
    <div class="col">  
      <h1 class="primary-blue heavy">Districts</h1>
      <br>
        <div class="panel panel-default">
          <div class="table-responsive shadow bg-white rounded primary-border p-4">
            <table class="table table-sm" id="districts">
              <thead class="thead-light rounded">
                <tr>
                  <th>INCUMBENT</th>
                  <th>OFFICE</th>
                  <th class="text-right">DEM%</th>
                  <th class="text-right">REP%</span></th>
                  <th class="text-right">ADVANTAGE</th>
                </tr>
              </thead>

              <tbody>
                <% @districts.where(:archived => false).each do |district| %>
                <%if district.statistical_datum.present? && district.statistical_datum.last.registration_snapshots.present? %>
                  <tr>
                    <td><strong><% if district.incumbent.present? %><%= link_to " #{district.incumbent.last_name}, #{district.incumbent.first_name}", district.incumbent  %><%else%>Vacant<%end%></strong><br>        
                    <% if district.incumbent.present? %>
                    <% if district.incumbent.party == "Democrat" %>
                    <small class="dem-text"><%= district.incumbent.party %></small>
                    <%elsif district.incumbent.party == "Republican"%>
                    <small class="gop-text"><%= district.incumbent.party %></small>
                    <%else%>
                    <small><%= district.incumbent.party %></small>
                    <%end%>
                    <%end%>
                    <td>
                        <%if district.district != "At Large" && district.is_seat == false && district.is_area == false %>
                        <%= link_to "#{district.name} - #{district.district.to_i.ordinalize} District", district %>
                        <%elsif district.is_seat %>
                        <%= link_to "#{district.name} - Seat #{district.district}", district %>
                        <%elsif district.is_area %>
                        <%= link_to "#{district.name} - Trustee Area #{district.district}", district%>
                        <%elsif district.district == "At Large" %>
                        <%= link_to "#{district.name}", district%>
                        <%end%><br><small class="text-muted"><%= district.jurisdiction.name %></small>

                    </td>
                    <td><span class="float-right dem-text"><%= number_with_precision(district.latest_registration.democrat_percentage, precision: 2) %>%</span></td>
                    <td><span class="float-right gop-text"><%= number_with_precision(district.latest_registration.republican_percentage, precision: 2) %>%</span></td>
                    <td class="text-nowrap"><% if district.latest_registration.registration_advantage > 0 %>
                        <span class="float-right dem-text font-weight-bold" >D +<%= number_with_precision(district.latest_registration.registration_advantage.abs, precision: 2) %>%</span>
                        <% else %>
                        <span class="float-right gop-text font-weight-bold" >R +<%= number_with_precision(district.latest_registration.registration_advantage.abs, precision: 2) %>%</span>
                        <%end%>
                    </td>      
                  </tr>
                  <%end%>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <br>
      <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'New District', new_district_path, :class => "btn btn-primary mr-2" %>
      <%end%>

    </div>

  </div>
</div>

<script>
    $( document ).on('turbolinks:load', function() {
    $('#districts').DataTable( {
      retrieve: true,
      "dom": 'l<t>p'
    });
});


</script>
<!--        
  /*   
        searchPanes:true,
        retrieve: true,
        dom: 'Pfrtip',
        columnDefs:[
            {
                searchPanes:{
                    show: true,
                    orderable: false,
                },
                targets: [0,-1],
            },
            {
                searchPanes:{
                    show: false,
                },
                targets: [2],
            },
            {
                searchPanes: {
                    orderable: false,
                    
                },
                targets: [4]
            }
        ],  
    });
});*/

