
<div class="">
<div class="row ">
  <div class="col">
    <h3 class="mb-0 mt-2 header-text text-nowrap nounderline"><%= link_to "#{@district.jurisdiction.name}", @district.jurisdiction %></h4>
    <h1 class="heavy text-nowrap primary-blue"><%= @district.district_name %> </h1>

    <% if @district.at_large_district? &&  current_user.admin? && Admin.last.admin_mode == true %>
    <p>(Term Expires: <%= @district.term_expires %>)</p>
    <%end%>
  <%= render 'map'%>
  </div>
  <div class="col">
    <% if  current_user.admin? && Admin.last.admin_mode == true %><div class="float-right followers"><small><%= @district.district_followers %></small></div><%end%>
  </div>

</div>
</div>     
    <br>
<div class="">    
  <div class="row">
    <div class="col px-3">
    <%= render 'incumbent' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <% if @district.at_large_district? %>
        <% if @district.campaigns.active.present?%>
        <%= render partial: 'shared/candidates', locals: {district: @district, candidates: @district.campaigns.active.last.candidates}%>
        <%end%>
      <%else %>
        <% if @district.jurisdiction.campaigns.active.present?%>
        <%= render partial: 'shared/candidates', locals: {district: @district, candidates: @district.jurisdiction.campaigns.active.last.candidates}%>
        <%end%>
      <%end%>
    </div>
  </div>

  <% if @district.statistical_datum.present? || @district.jurisdiction.statistical_datum.present? %>
  <div class="row">
    <div class="col">
      <%= render 'district_data'%>
    </div>
  </div>
  <%end%>  

  <% if @district.district_data == false %>
  <div class="row">
    <div class="col-lg">
        
        <%= render 'registration'%>

    </div>
    <div class="col-lg">
      
      <% if @district.performance_eligible == true %>
      <%= render 'performance' %>  
      <%end%>
      
    </div>
  </div>
  <%end%>
  
<% if @district.campaign_finance_module.present? %>
<div class="row">
  <div class="col">
    <%= render partial: 'campaignfinance', locals: {district: @district.campaign_finance_module} %>
  </div>
</div>

<% elsif @district.jurisdiction.campaign_finance_module.present? %>
<div class="row">
  <div class="col">
    <%= render partial: 'campaignfinance', locals: {district: @district.jurisdiction.campaign_finance_module } %>
  </div>
</div>
<%end%>
  

<div class="row">
    <div class="col">
      <%= render 'former_offices'%>
    </div>
  </div>  



<%if @district.at_large_district == false %>
  <% if @district.campaigns.historic.present? %> 
    <div class="row">
      <div class="col">
      <%= render partial: 'shared/historical_election', locals: { historical_elections: @district.campaigns.historic.order("election_date desc"), show_district: false } %> 
      </div>   
    </div>
  <% end %>
<%else%>
  <% if @district.jurisdiction.campaigns.historic.present? %> 
    <div class="row">
      <div class="col">
      <%= render partial: 'shared/historical_election', locals: { historical_elections: @district.jurisdiction.campaigns.historic.order("election_date desc"), show_district: false } %> 
      </div>   
    </div>
  <%end%>
<%end%>

<div class="row">
 <div class="col float-right">
        <%= link_to "Download District (PDF)", district_path(@district, format: "pdf"), :class => "float-right btn btn-primary ml-4" %>

      <% if  current_user.following?(@district) %>
        <%= link_to "Stop Tracking District", unfollow_district_path(@district), :class => "float-right btn btn-outline-secondary" %>
      <%elsif  current_user != @district %>
        <%= link_to "Track District", follow_district_path(@district), :class => "float-right btn btn-outline-secondary" %>
      <%end%>
      <%= link_to "Help", '/pages/about_districts', :class => "btn btn-outline-secondary float-right align-bottom mt-auto mr-4", :target => "_blank"%>
    </div>
</div>
  
<%= render 'admin' %>

 