<% if user_signed_in? %>
    <h4><%= @district.jurisdiction.name %></h4>
    <h1><%= @district.name %>  
    <%if @district.district != "At Large"%>
    <%= "- #{@district.district.to_i.ordinalize} District" %>
    <%else%>
    <%end%></h1> 
    <br>
<div class="row">
  <div class="col-sm col-md col-lg col-xl">
      <div class="card shadow-sm mb-3 bg-white rounded border-primary" style="max-width: 30rem;">
          <div class="card-header">
            INCUMBENT
          </div>
        <div class="row no-gutters">
          <div class="col-4">
            <%= image_tag @district.incumbent.image.url(:headshot), alt: 'headshot', style: 'height:auto;width:10rem;' %>
          </div>
          <div class="col-8 pl-3 pr-3">
            <div class="card-body">
              <h5 class="card-title"> <%= link_to "#{@district.incumbent.first_name} #{@district.incumbent.last_name}", @district.incumbent %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= @district.incumbent.title %></h6>
              <p class="card-text"><%= "#{@district.incumbent.first_name} #{@district.incumbent.last_name} was first elected as #{@district.incumbent.title} in #{@district.incumbent.first_elected.strftime("%B, %Y")}. #{@district.incumbent.last_name}'s current term expires in #{@district.incumbent.term_expires} and is term-limited in #{@district.incumbent.term}." %></p>
            </div>
          </div>
        </div>
      </div>

      
      <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 30rem;">
          <div class="card-header">
            DISTRICT REGISTRATION
          </div>
        <div class="card-text pl-4 pr-4">
        <div class="row p-1 pb-2"> 
          <div class="col" style="color: #35469C;"><br>
            <h6 class="card-subtitle text-muted" >DEM</h6>
            <h5><%= @district.dem_voters.truncate(2) %>%</h5>
          </div>
          <div class="col" style="color: #911111;"><br>
            <h6 class="card-subtitle text-muted" >REP</h6>
            <h5><%= @district.rep_voters.truncate(2) %>%</h5>
          </div>
          <div class="col"><br>
            <h6 class="card-subtitle text-muted">ADVANTAGE</h6>
            <h5><% if @district.registration_advantage > 0 %>
                  <span style="color: #35469C;">D +<%= number_with_precision(@district.registration_advantage.abs, precision: 2) %>%</span>
                  <% else %>
                  <span style="color: #911111;">R +<%= number_with_precision(@district.registration_advantage.abs, precision: 2) %>%</span>
                  <%end%></h5>
          </div>        
          </div>        
        </div>
          <div class="card-footer">
            <%= number_with_delimiter(@district.total_voters, :delimiter => ',') %> TOTAL VOTERS
          </div>        
      </div>


  <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 30rem;">
    <div class="card-header">
      DISTRICT MAP
    </div>
    <div style="height:280px; border:2px solid #eee; display:inline-block; overflow:hidden;">
      <iframe style="position:relative; top:-46px; border:none;" 
          src="<%=@district.map_url %>" 
          width=500 height=320></iframe>      
    </div>
    <div class="card-footer">
        <%= link_to "View Full Map", @district.map_url %> 
    </div>                        
  </div>

  <div class="card" style="max-width: 30rem;">
    <div class="card-header">
      CAMPAIGN FINANCE LIMITS
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          Contribution Limit:
          <div class="green-pill font-size-12 float-right"><strong><% if @district.contribution_limit.present? %>        
            $<%= number_with_delimiter(@district.contribution_limit, delimiter: ",") %>
          <%else%>
            No Limit
          <%end%></strong></div></li>
      <li class="list-group-item">Corporate Contributions:
          <% if @district.corporate_contributions?%>
          <div class="green-pill float-right"><strong>Allowed</strong>
          <%else%>
          <div class="red-pill float-right"><strong>Prohibited</strong>
          <%end%></li>
      <li class="list-group-item">PAC Contributions:
          <% if @district.pac_contributions?%>
          <div class="green-pill float-right"><strong>Allowed</strong>
          <%else%>
          <div class="red-pill float-right"><strong>Prohibited</strong>
          <%end%></li>
      <li class="list-group-item">
          <% if @district.party_contributions?%>
          Party Contribution Limit:
          <div class="green-pill font-size-12 float-right"><strong>$<%= number_with_delimiter(@district.party_contribution_limit, delimiter: ",") %></strong>
          <%else%>
          Party Contributions:
          <div class="red-pill font-size-12 float-right"><strong>Prohibited</strong>
          <%end%></li></li>
    </ul>
  </div>

        
  <br>
  
</div>


<div class="col-sm order-sm-2">
<div class="card shadow-sm mb-3 bg-white rounded" style="width: 30rem;">
  <div class="card-header text-uppercase">
    candidates for this office
  </div>
    <div class="card-text pl-4 pr-4">
    <table class="table">
      <thead>
        <tr>
        <th></th>
        <th>Candidate</th>
        <th>COH</th>
        <th>Status</th>
        <tr>
      </thead>

      <tbody>
      <tr>
        <% if @district.incumbent != nil%>
        <% if @district.incumbent.running_reelection? %>
        <% report = @district.incumbent.reports.most_recent %>
        <td class="condensed-column">
          <% if @district.incumbent.endorsed_republican? %>
          <div class="red-checkmark"><span class="text-white">&#10003</div>
          <%elsif @district.incumbent.endorsed_democrat?%>
          <div class="blue-checkmark"><span class="text-white">&#10003</div>
          <%else%>
          <%end%>
          </td>
        <td>
          <% if @district.incumbent.party == "Republican" %>
          <%= link_to "#{@district.incumbent.first_name} #{@district.incumbent.last_name}", @district.incumbent, { :class =>"gop-text" }%><br><small><%= @district.incumbent.title %></small>
          <%elsif @district.incumbent.party == "Democrat"%>
          <%= link_to "#{@district.incumbent.first_name} #{@district.incumbent.last_name}", @district.incumbent, { :class =>"dem-text" }%><br><small><%= @district.incumbent.title %></small>
          <%else%>
          <%end%></td>
        <td><strong><span class="green-pill">$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></span></strong></td>
          <td>
          <% if @district.incumbent.ballot_status == "Advanced to General"%>
          <span class="badge badge-success"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "Lost in Primary"%>
          <span class="badge badge-warning"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "Rumored"%>
          <span class="badge badge-info"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "Declared Candidacy"%>
          <span class="badge badge-light"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "On Ballot"%>
          <span class="badge badge-primary"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "Withdrew"%>
          <span class="badge badge-danger"><%= @district.incumbent.ballot_status%></span>
          <%end%>
          </td>
      </tr>
      <% end %>
      <%end%>

      <% @district.candidates.each do |candidate| %>
      <tr>
        <% if candidate.on_ballot? %>
          <% report = candidate.reports.most_recent %>
          <td class="condensed-column">
          <% if candidate.endorsed_republican? %>
          <div class="red-checkmark"><span class="text-white">&#10003</div>
          <%elsif candidate.endorsed_democrat?%>
          <div class="blue-checkmark"><span class="text-white">&#10003</div>
          <%else%>
          <%end%>
          </td>
          <td>
          <% if candidate.party == "Republican" %>
          <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"gop-text" }%><br><small><%= candidate.title %></small>
          <%elsif candidate.party == "Democrat"%>
          <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"dem-text" }%><br><small><%= candidate.title %></small>
          <%else%>
          <%end%></td>
          <td><strong><span class="green-pill">$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></span></strong></td>
          <td>
          <% if candidate.ballot_status == "Advanced to General"%>
          <span class="badge badge-success"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "Lost in Primary"%>
          <span class="badge badge-warning"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "Rumored"%>
          <span class="badge badge-info"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "Declared Candidacy"%>
          <span class="badge badge-light"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "On Ballot"%>
          <span class="badge badge-primary"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "Withdrew"%>
          <span class="badge badge-danger"><%= candidate.ballot_status%></span>
          <%end%>
          </td>
          <% end %>
          <% end %>
          
      </tr>    
      <small class="text-muted">Checkmark = Party Endorsement</small>
      </tbody>
      </table>
    </div>
  </div>

  <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 30rem;">
      <div class="card-header">
      PAST PERFORMANCE
    </div>
  <div class="card-text pl-4 pr-4">
  <table class="table">
      <tbody>
        <tr>
          <td>2018 Gubernatorial</td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text">Newsom</span>
        <% else %>
          <span style="color: #DE0100;">Cox</span>
        <%end%> 
          </td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text float-right">+<%= number_with_precision(@district.gov_2018.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-text float-right">+<%= number_with_precision(@district.gov_2018.abs, precision: 2) %>%</span>
        <%end%> 
          </td>        
        </tr>
        <tr>
          <td>2016 Presidential</td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text">Clinton</span>
        <% else %>
          <span style="color: #DE0100;">Trump</span>
        <%end%>
          </td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text float-right">+<%= number_with_precision(@district.pres_2016.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-text float-right">+<%= number_with_precision(@district.pres_2016.abs, precision: 2) %>%</span>
        <%end%>
          </td>        
        </tr>
        <tr>
          <td>2014 Gubernatorial</td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text">Brown</span>
        <% else %>
          <span style="color: #DE0100;">Kashkari</span>
        <%end%>
          </td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text float-right">+<%= number_with_precision(@district.gov_2014.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-text float-right">+<%= number_with_precision(@district.gov_2014.abs, precision: 2) %>%</span>
        <%end%>
          </td>        
        </tr>
        <tr>
          <td>2012 Presidential</td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text">Obama</span>
        <% else %>
          <span style="color: #DE0100;">Romney</span>
        <%end%>
          </td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text float-right">+<%= number_with_precision(@district.pres_2012.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-text float-right">+<%= number_with_precision(@district.pres_2012.abs, precision: 2) %>%</span>
        <%end%>
          </td>        
        </tr>
      </tbody>
  </table>
  </div>
  </div>

<% if @district.jurisdiction.name == "County of San Diego" || @district.jurisdiction.name == "California Legislature" || @district.jurisdiction.name == "Congress"%>
<div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 30rem;">
      <div class="card-header">
        ELECTED OFFICIALS RESIDING IN DISTRICT
      </div>
       <div class="card-text pl-4 pr-4">
      <table class="table">
   
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>COH</th>
        <tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
        <tr>
          <% if person.is_incumbent?%>
              <% report = person.reports.most_recent %>
              <%if person.senate_district.to_s == @district.district || person.assembly_district.to_s == @district.district || person.congressional_district.to_s == @district.district || person.supe_district.to_s == @district.district %>
              <td>
                <% if person.party == "Republican" %>
                <%= link_to "#{person.first_name} #{person.last_name}", person, { :class =>"gop-text" }%><br><small><%= person.incumbent_district.name %></small>
                <%elsif person.party == "Democrat"%>
                <%= link_to "#{person.first_name} #{person.last_name}", person, { :class =>"dem-text" }%><br><small><%= person.incumbent_district.name %></small>
                <%else%>
                <%end%></td>
              <td>Age <%= person.calculated_age %></td>
              <td><strong><span class="green-pill">$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></span></strong></td>
              <%end%>
              <%end%>
            <% end %>
        </tr>
      </tbody>
    </table>
<%end%>  
</div>
</div>
  
 </div>
</div>

  

<% if current_user.admin? %>
<%= link_to("Add Candidate", new_person_path(:district_id => @district.id), :action => "new", :method => :get)%> |
<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Delete District', @district, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', districts_path %>

<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

