
<div class="wrapper container ">
<div class="row ">
  <div class="col ">
    <h4 class="mb-0 mt-2 header-text nounderline"><%= link_to "#{@district.jurisdiction.name}", @district.jurisdiction %></h4>
    <h1 class="heavy text-responsive primary-blue"><%= @district.name %>  
    <%if @district.district != "At Large" && @district.is_seat == false && @district.is_area == false %>
    <%= "- #{@district.district.to_i.ordinalize} District" %>
    <%elsif @district.is_seat %>
    <%= "- Seat #{@district.district}"%>
    <%elsif @district.is_area %>
    <%= "- Trustee Area #{@district.district}"%>
    <%end%></h1>
    <% if @district.at_large_district? && current_user.admin? %>
    <p>(Term Expires: <%= @district.term_expires %>)</p>
    <%end%>
  </div>
</div>
</div>     
    <br>
<div class="wrapper container">    
  <div class="row">
    <div class="col-lg">
        <%= render 'incumbent' %>
        <%= render 'registration'%>
        <% if @district.at_large_district == false && @district.map_url.present? %>
        <%= render 'map'%>
        <%end%>
    </div>
    <div class="col-lg">
      <% if @district.at_large_district == false %>
      <%= render 'districtcandidates'%>
      <% else %>
      <%= render 'atlargedistrictcandidates'%>
      <%end%>
      <% if @district.performance_eligible == true %>
      <%= render 'performance' %>  
      <%end%>
      <%= render 'campaignfinance' %>
              <% if @district.at_large_district == true && @district.map_url.present? %>
        <%= render 'map'%>
        <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'electedofficials'%>
    </div>
  </div>
</div>
</div>


  
<div class="container">
  <% if current_user.admin? %>

  <%= link_to "Add Candidate", new_person_path(:district_id => @district.id), 
        :class => "btn btn-primary mr-2", :action => "new", :method => :get %>

  <%= link_to "Edit", edit_district_path(@district), :class => "btn btn-outline-primary" %>      
  <%= link_to 'Delete District', @district, method: :delete, data: { confirm: 'Are you sure?' }, :class => "primary-blue btn" %> 
  <%end%>
  <%= link_to "Download District (PDF)", district_path(@district, format: "pdf"), :class => "float-right btn btn-primary ml-4" %>

  <% if current_user.following?(@district) %>
    <%= link_to "Stop Tracking District", unfollow_district_path(@district), :class => "float-right btn btn-outline-secondary" %>
  <%elsif current_user != @district %>
    <%= link_to "Track District", follow_district_path(@district), :class => "float-right btn btn-outline-secondary" %>
  <%end%>
</div>

 