
<div class="">
<div class="row ">
  <div class="col">
    <h3 class="mb-0 mt-2 header-text text-nowrap nounderline"><%= link_to "#{@district.jurisdiction.name}", @district.jurisdiction %></h4>
    <h1 class="heavy text-nowrap primary-blue"><%= @district.district_name %> </h1>

    <% if @district.at_large_district? &&  current_user.admin? && Admin.last.admin_mode == true %>
    <p>(Term Expires: <%= @district.term_expires %>)</p>
    <%end%>
  <%= render 'map'%>
  </div>
  <div class="col">
    <% if  current_user.admin? && Admin.last.admin_mode == true %><div class="float-right followers"><small><%= @district.district_followers %></small></div><%end%>
  </div>

</div>
</div>     
    <br>
<div class="">    
  <div class="row">
    <div class="col px-3">
    <%= render 'incumbent' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <% if @district.campaigns.present?%>
      <%= render partial: 'shared/candidates', locals: {district: @district, candidates: @district.campaigns.last.candidates.collect{|u| u.person}.flatten}%>
      <%end%>
    </div>
  </div>
  <% if @district.district_data == false %>
  <div class="row">
    <div class="col-lg">
        
        <%= render 'registration'%>

    </div>
    <div class="col-lg">
      
      <% if @district.performance_eligible == true %>
      <%= render 'performance' %>  
      <%end%>
      
    </div>
  </div>
  <%end%>
  
<div class="row">
  <div class="col">
    <%= render 'campaignfinance' %>
  </div>
</div>
  
<% if @district.registration_history.present? %>
  <div class="row">
    <div class="col">
      <%= render 'registration_history'%>
    </div>
  </div>
<%end%>
  <div class="row">
    <div class="col">
      <%= render 'electedofficials'%>
    </div>
  </div>

<div class="row">
    <div class="col">
      <%= render 'former_offices'%>
    </div>
  </div>  

<% if @district.statistical_datum.present? || @district.jurisdiction.statistical_datum.present? %>
  <div class="row">
    <div class="col">
      <%= render 'district_data'%>
    </div>
  </div>
<%end%>  

<%if @district.at_large_district == false %>
  <% if @district.election_histories.present? %> 
    <div class="row">
      <div class="col">
      <%= render 'historical_election' %> 
      </div>   
    </div>
  <% end %>
<%else%>
  <% if @district.jurisdiction.election_histories.present? %> 
    <div class="row">
      <div class="col">
      <%= render 'historical_election_atlarge' %> 
      </div>   
    </div>
  <%end%>
<%end%>

<div class="row">
 <div class="col float-right">
        <%= link_to "Download District (PDF)", district_path(@district, format: "pdf"), :class => "float-right btn btn-primary ml-4" %>

      <% if  current_user.following?(@district) %>
        <%= link_to "Stop Tracking District", unfollow_district_path(@district), :class => "float-right btn btn-outline-secondary" %>
      <%elsif  current_user != @district %>
        <%= link_to "Track District", follow_district_path(@district), :class => "float-right btn btn-outline-secondary" %>
      <%end%>
      <%= link_to "Help", '/pages/about_districts', :class => "btn btn-outline-secondary float-right align-bottom mt-auto mr-4", :target => "_blank"%>
    </div>
</div>
  
<%= render 'admin' %>

 