<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<div class="row">
  <div class="col">
    <h6><%= @district.jurisdiction.name %></h6>
    <h2><%= @district.name %>  
    <%if @district.district != "At Large"%>
    <%= "- #{@district.district.to_i.ordinalize} District" %>
    <%else%>
    <%end%> </h2>
    <hr>
    <% if @district.incumbent != nil%>
    <p><strong>Current Incumbent: </strong><%= link_to "#{@district.incumbent.first_name} #{@district.incumbent.last_name}", @district.incumbent %></p>
    <%end%>
      <div class="row">
        <div class="col-4"><strong>Total Voters:</strong></div>
        <div class="col-auto"><%= number_with_delimiter(@district.total_voters, :delimiter => ',') %></div>
      </div>
      
      <div class="row">
        <div class="col-4"><span style="color: #0015BC;"><strong>Dem %:</strong></span></div>
        <div class="col-auto"><%= @district.dem_voters.truncate(2) %>%</div>
      </div>    
      
      <div class="row">
        <div class="col-4"><span style="color: #DE0100;"><strong>Rep %:</strong></span></div>
        <div class="col-auto"><%= @district.rep_voters.truncate(2) %>%</div>
      </div>          
      
      <div class="row">
        <div class="col-4"><span style="color: gray;"><strong>Other %:</strong></span></div>
        <div class="col-auto"><%= @district.other_voters.truncate(2) %>%</div>
      </div>  
      <br>
      <div class="row">
        <div class="col-4"><strong>Advantage:</strong></div>
          <div class="col-auto">
                <% if @district.registration_advantage > 0 %>
                <span style="color: #0015BC;">D +<%= number_with_precision(@district.registration_advantage.abs, precision: 2) %>%</span>
                <% else %>
                <span style="color: #DE0100;">R +<%= number_with_precision(@district.registration_advantage.abs, precision: 2) %>%</span>
                <%end%>
          </div>      
      </div>
      <br>
      <div class="row">
        <div class="col-5">
          <strong>Contribution Limit:</strong><br>
          <strong>Corporate Contributions:</strong><br>
          <strong>PAC Contributions:</strong><br>
          <strong>Party Contributions:</strong>
        </div>
        <div class="col-auto">
        <% if @district.contribution_limit.present? %>        
          <td>$<%= number_with_delimiter(@district.contribution_limit, delimiter: ",") %></td>
        <%else%>
          <td>No limit</td>
        <%end%>          
        <br>
        <% if @district.corporate_contributions?%>
        Allowed
        <%else%>
        Prohibited
        <%end%>
        <br>        
        <% if @district.pac_contributions?%>
        Allowed
        <%else%>
        Prohibited
        <%end%>
        <br>  
        <% if @district.party_contributions?%>
        Allowed ($<%= number_with_delimiter(@district.party_contribution_limit, delimiter: ",") %>)
        
        <%else%>
        Prohibited
        <%end%>           
      </div>
    </div>       
  </div>
  <div class="col-auto">
    <%= content_tag(:iframe,'', width: 500, height: 320, src: "#{@district.map_url}") %>
  </div>
</div>
<br>

<div>
  <div class="row">
    <div class="col bg-light text-center border election-stats">2018 Governor</div>
    <div class="col bg-light text-center border election-stats">2016 President</div>
    <div class="col bg-light text-center border election-stats">2014 Governor</div>
    <div class="col bg-light text-center border election-stats">2012 President</div>
  </div>
  <div class="row">
      <div class="col text-center border dem-text">Newsom %</div>
      <div class="col text-center border gop-text">Cox %</div>
      <div class="col text-center border dem-text">Clinton %</div>
      <div class="col text-center border gop-text">Trump %</div>
      <div class="col text-center border dem-text">Brown %</div>
      <div class="col text-center border gop-text">Kashkari %</div>
      <div class="col text-center border dem-text">Obama %</div>
      <div class="col text-center border gop-text">Romney %</div>
  </div>  
  <div class="row">
      <div class="col text-center border"><%= @district.newsom_percent %></div>
      <div class="col text-center border"><%= @district.cox_percent %></div>
      <div class="col text-center border"><%= @district.clinton_percent %></div>
      <div class="col text-center border"><%= @district.trump_percent %></div>
      <div class="col text-center border"><%= @district.brown_percent %></div>
      <div class="col text-center border"><%= @district.kashkari_percent %></div>
      <div class="col text-center border"><%= @district.obama_percent %></div>
      <div class="col text-center border"><%= @district.romney_percent %></div>
  </div>
  <div class="row">
    <div class="col text-center border election-stats">
      <% if @district.registration_advantage > 0 %>
        <span class="dem-text">Newsom +<%= number_with_precision(@district.gov_2018.abs, precision: 2) %>%</span>
      <% else %>
        <span style="color: #DE0100;">Cox +<%= number_with_precision(@district.gov_2018.abs, precision: 2) %>%</span>
      <%end%>
    </div>
    <div class="col text-center border election-stats">
      <% if @district.registration_advantage > 0 %>
        <span class="dem-text">Clinton +<%= number_with_precision(@district.pres_2016.abs, precision: 2) %>%</span>
      <% else %>
        <span style="color: #DE0100;">Trump +<%= number_with_precision(@district.pres_2016.abs, precision: 2) %>%</span>
      <%end%>
    </div>
    <div class="col text-center border election-stats">
      <% if @district.registration_advantage > 0 %>
        <span class="dem-text">Brown +<%= number_with_precision(@district.gov_2014.abs, precision: 2) %>%</span>
      <% else %>
        <span style="color: #DE0100;">Kashkari +<%= number_with_precision(@district.gov_2014.abs, precision: 2) %>%</span>
      <%end%>
    </div>
    <div class="col text-center border election-stats">
      <% if @district.registration_advantage > 0 %>
        <span class="dem-text">Obama +<%= number_with_precision(@district.pres_2012.abs, precision: 2) %>%</span>
      <% else %>
        <span style="color: #DE0100;">Romney +<%= number_with_precision(@district.pres_2012.abs, precision: 2) %>%</span>
      <%end%>
    </div>
  </div>     
<br>
<hr>
<% if @district.candidates.present? %>
<h5>Candidates</h5>
<p>List of current candidates for this office</p>
<table class="table table-sm table-bordered">
<thead>
    <tr>
      <th>Name</th>
      <th>Party</th>
      <th>Profession</th>
      <th>Cash on Hand</th>
      <th>Ballot Status</th>
    </tr>
  </thead>

  <tbody> 
      <tr>
      <% if @district.incumbent != nil%>
      <% if @district.incumbent.running_reelection? %>
        <% report = incumbent.reports.most_recent %>
        <td><%= @district.incumbent.first_name %></td>
        <td><%= @district.incumbent.last_name %></td>
        <td><%= @district.incumbent.party %></td>
        <td><%= @district.incumbent.professional_career %></td>
        <td>$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></td>
      </tr>
    <% end %>
    <%end%>
  

  
    <% @district.candidates.each do |candidate| %>
    <tr>
      <% if candidate.on_ballot? %>
        <% report = candidate.reports.most_recent %>
        <td>
        <% if candidate.endorsed_republican? %>
        <span class="rep-text">&#10003</span>
        <%elsif candidate.endorsed_democrat?%>
        <span class="dem-text">&#10003</span>
        <%else%>
        
        <%end%>
        <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate %></td>
        <td><%= candidate.party %></td>
        <td><%if candidate.is_incumbent? %>
            <%= candidate.title %>
          <%else%>
            <%= candidate.professional_career %></td>
           <%end%>
        <td>$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></td>
        <td><%= candidate.ballot_status %></td>
        <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
<p class="small-text">(<span class="dem-text">&#10003</span> = Endorsed by SD County Democratic Party; <span class="gop-text">&#10003</span> = Endorsed by Republican Party of San Diego County)</p>
<hr>
<%end%>

<% if @district.jurisdiction.name == "County of San Diego" || @district.jurisdiction.name == "California Legislature" || @district.jurisdiction.name == "Congress"%>
<h5>Resident Elected Officials</h5>
<p>List of current elected officials who reside in the district</P>
<table class="table table-sm table-bordered">
<thead>
    <tr>
      <th>Name</th>
      <th>Party</th>
      <th>Currently Represents</th>
      <th>Age</th>
    </tr>
  </thead>
  

  
    <% @people.each do |person| %>
    <tr>
      <% if person.is_incumbent?%>
        <%if person.senate_district.to_s == @district.district || person.assembly_district.to_s == @district.district || person.congressional_district.to_s == @district.district || person.supe_district.to_s == @district.district %>
        <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
        <td><%= person.party %></td>
        <td><%= person.incumbent_district.name %> - District <%= person.incumbent_district.district %></td>
        <td>Age <%= person.calculated_age %></td>
        <%end%>
      <%end%>
    <% end %>
    </tr>
  </tbody>
</table>
<%end%>
<% if current_user.admin? %>
<%= link_to("Add Candidate", new_person_path(:district_id => @district.id), :action => "new", :method => :get)%> |
<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Delete District', @district, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', districts_path %>

<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>