
<div class="row ">
    <div class="col-md order-2 d-none d-md-table-cell text-right">
        <%= link_to "Export District (PDF)", district_path(@district, format: "pdf"), :class => "btn btn-primary float-end" %>
    </div>
  <div class="col-md order-1">
    <h3 class="mb-0 mt-2 header-text text-nowrap nounderline"><%= link_to "#{@district.jurisdiction.name}", @district.jurisdiction %></h4>
    <h1 class="heavy primary-blue text-nowrap"><%= @district.district_name %> </h1>
    
    <% if @district.at_large_district? && user_signed_in? && current_user.admin?  %>
    <p>(Term Expires: <%= @district.term_expires %>)</p>
    <%end%>
  </div>
</div>
    
    <br>


  <!-- Incumbent Card -->
<%= render 'incumbent' %>

<div class="row">
  
  <% if @district.note.present? || @district.district_map.present? %>
    <div class="col-12 my-3">
      <div class="card rounded primary-border">
        <div class="card-header">
          <span>District Analysis</span>
        </div>
        <div class="card-body">
       
          <% if @district.district_map.present? %>
            <%= image_tag @district.district_map.url, alt: "District map", class: "float-end img-fluid imgshadow district-map m-4" %>
          <% end %>
    
          <%= simple_format(@district.note) %>
        </div>
      </div>
    </div>
  <% end %>
</div>




  <div class="row">
    <div class="col">
     <% if @district.statistical_datum.present? || @district.jurisdiction.statistical_datum.present? %>
        <div class="row">
          <div class="col">
            <% if @district.at_large_district == false %>
              <% statistical_datum = @district.statistical_datum.last || @district.jurisdiction.statistical_datum.last %>
              <%= render partial: 'shared/statistical_datum', locals: { district: @district, statistical_datum: statistical_datum } %>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <% if @district.statistical_datum.present? || @district.jurisdiction.statistical_datum.present? %>
  <div class="row">
    <div class="col">
    <% if @district.at_large_district == false %>
    <%= render partial: 'shared/statistical_datum', locals: { district: @district } %>
    <hr>
    <%end%>
    
    </div>
  </div>
  <%end%>  




<%if @district.at_large_district == false %>
  <% if @district.campaigns.historic.present? %> 
    <div class="row">
      <div class="col">
      <%= render partial: 'shared/historical_election', locals: { historical_elections: @district.campaigns.historic.order("election_date desc"), show_district: false } %> 
      </div>   
    </div>
  <% end %>
<%else%>
  <% if @district.jurisdiction.campaigns.historic.present? %> 
    <div class="row">
      <div class="col">
      <%= render partial: 'shared/historical_election', locals: { historical_elections: @district.jurisdiction.campaigns.historic.order("election_date desc"), show_district: false } %> 
      </div>   
    </div>
  <%end%>
<%end%>

<div class="row">
 <div class="col float-end">


      <%= link_to "Help", '/pages/about_districts', :class => "btn btn-outline-secondary float-end align-bottom mt-auto", :target => "_blank"%>
    </div>
</div>
  
<%= render 'admin' %>

 <script>
  function toggleNote() {
    var shortNote = document.getElementById('short-note');
    var fullNote = document.getElementById('full-note');
    shortNote.classList.toggle('d-none');
    fullNote.classList.toggle('d-none');
  }
</script>