
<div class="wrapper">
<div class="row ">
  <div class="col-md order-2 d-md-none ">
        <%= link_to "Export District (PDF)", district_path(@district, format: "pdf"), :class => "btn btn-primary " %>
  </div>
    <div class="col-md order-2 d-none d-md-table-cell text-right">
        <%= link_to "Export District (PDF)", district_path(@district, format: "pdf"), :class => "btn btn-primary " %>
  </div>
  <div class="col-md order-1">
    <h3 class="mb-0 mt-2 header-text text-nowrap nounderline"><%= link_to "#{@district.jurisdiction.name}", @district.jurisdiction %></h4>
    <h1 class="heavy primary-blue"><%= @district.district_name %> </h1>
    
    <% if @district.at_large_district? && user_signed_in? && current_user.admin? && Admin.last.admin_mode == true %>
    <p>(Term Expires: <%= @district.term_expires %>)</p>
    <%end%>
  
  </div>



</div>
</div>     
    <br>
<div class="">    
  <div class="row">
    <div class="col px-3">
    <%= render 'incumbent' %>
    </div>
  </div>
  <% if @district.note != nil %>
  <div class="row mb-3">
    <div class="col">
    <%if @district.note.length > 1%>
    <%= render 'note' %>
    <%end%>
    </div>
  </div>
  <% end %>
  <div class="row mb-3">
    <div class="col">
      <% if @district.at_large_district == false %>
        <% if @district.campaigns.active.present?%>
        <%= render partial: 'shared/candidates', locals: {district: @district, candidates: @district.campaigns.active.last.candidates, campaign: @district.campaigns.active.last}%>
        <%end%>
      <%else %>
        <% if @district.jurisdiction.campaigns.active.present?%>
        <%= render partial: 'shared/candidates', locals: {district: @district, candidates: @district.jurisdiction.campaigns.active.last.candidates, campaign: @district.jurisdiction.campaigns.active.last}%>
        <%end%>
      <%end%>
    </div>
  </div>



  <% if @district.statistical_datum.present? || @district.jurisdiction.statistical_datum.present? %>
  <div class="row">
    <div class="col">
    <% if @district.is_at_large == false %>
    <%= render 'redistricting_data'%>
    <%end%>
    <%= render 'district_data'%>
    </div>
  </div>
  <%end%>  

  <% if @district.district_data == false %>
  <div class="row">
    <div class="col-lg">
        
        <%= render 'registration'%>

    </div>
    <div class="col-lg">
      
      <% if @district.performance_eligible == true %>
      <%= render 'performance' %>  
      <%end%>
      
    </div>
  </div>
  <%end%>
  
<% if @district.campaign_finance_module.present? %>
<div class="row">
  <div class="col">
    <%= render partial: 'campaignfinance', locals: {district: @district.campaign_finance_module} %>
  </div>
</div>

<% elsif @district.jurisdiction.campaign_finance_module.present? %>
<div class="row">
  <div class="col">
    <%= render partial: 'campaignfinance', locals: {district: @district.jurisdiction.campaign_finance_module } %>
  </div>
</div>
<%end%>
  

<div class="row">
    <div class="col">
      <%= render 'former_offices'%>
    </div>
  </div>  



<%if @district.at_large_district == false %>
  <% if @district.campaigns.historic.present? %> 
    <div class="row">
      <div class="col">
      <%= render partial: 'shared/historical_election', locals: { historical_elections: @district.campaigns.historic.order("election_date desc"), show_district: false } %> 
      </div>   
    </div>
  <% end %>
<%else%>
  <% if @district.jurisdiction.campaigns.historic.present? %> 
    <div class="row">
      <div class="col">
      <%= render partial: 'shared/historical_election', locals: { historical_elections: @district.jurisdiction.campaigns.historic.order("election_date desc"), show_district: false } %> 
      </div>   
    </div>
  <%end%>
<%end%>

<div class="row">
 <div class="col float-right">


      <%= link_to "Help", '/pages/about_districts', :class => "btn btn-outline-secondary float-right align-bottom mt-auto", :target => "_blank"%>
    </div>
</div>
  
<%= render 'admin' %>

 