<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>District:</strong>
  <%= @district.district %>
</p>

<p>
  <strong>Total voters:</strong>
  <%= @district.total_voters %>
</p>

<p>
  <strong>Dem percent:</strong>
  <%= @district.dem_percent %>
</p>

<p>
  <strong>Rep percent:</strong>
  <%= @district.rep_percent %>
</p>

<p>
  <strong>Other percent:</strong>
  <%= @district.other_percent %>
</p>

<p>
  <strong>Newsom percent:</strong>
  <%= @district.newsom_percent %>
</p>

<p>
  <strong>Cox percent:</strong>
  <%= @district.cox_percent %>
</p>

<p>
  <strong>Clinton percent:</strong>
  <%= @district.clinton_percent %>
</p>

<p>
  <strong>Trump percent:</strong>
  <%= @district.trump_percent %>
</p>

<p>
  <strong>Brown percent:</strong>
  <%= @district.brown_percent %>
</p>

<p>
  <strong>Kashkari percent:</strong>
  <%= @district.kashkari_percent %>
</p>

<p>
  <strong>Obama percent:</strong>
  <%= @district.obama_percent %>
</p>

<p>
  <strong>Romney percent:</strong>
  <%= @district.romney_percent %>
</p>

<p>
  <strong>Average percent:</strong>
  <%= @district.average_percent %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @district.jurisdiction.name %>
</p>

<%= content_tag(:iframe,'', width: 640, height: 480, src: "#{@district.map_url}") %>


<h3>Candidates</h3>
<table>
<thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Party</th>
      <th>Profession</th>
      <th>Age</th>
      <th>Campaign Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incumbents.each do |incumbent| %>
      <% if incumbent.on_ballot == true %>
          <tr>
          <td><strong><%= incumbent.first_name %></strong></td>
          <td><strong><%= incumbent.last_name %></strong></td>
          <td><strong><%= incumbent.party %></strong></td>
          <td><strong><%= incumbent.title %></strong></td>
          <td><strong>Age <%= incumbent.calculated_age %></strong></td>
          <td><strong><%= link_to incumbent.campaign_website %></strong></td>
          </tr>
      <% end %>
    <% end %>    
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.professional_career %></td>
        <td>Age <%= candidate.calculated_age %></td>
        <td><%= link_to candidate.campaign_website %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
