<% if user_signed_in? %>
<div class="wrapper container">
<div class="row">
  <div class="col">
    <h4 class="mb-0 mt-2 dark-red-supporting"><%= @district.jurisdiction.name %></h4>
    <h1 class="heavy text-responsive primary-blue"><%= @district.name %>  
    <%if @district.district != "At Large"%>
    <%= "- #{@district.district.to_i.ordinalize} District" %>
    <%else%>
    <%end%></h1>
    </div>
</div>
</div>     
    <br>
<div class="wrapper container">    
<div class="row">
  <div class="col-lg">
      <div class="card shadow-sm mb-3 bg-white rounded border-primary" style="max-width: 100%;">
          <div class="card-header">
            INCUMBENT
          </div>
        <div class="row no-gutters">
          <div class="col-auto d-flex align-items-center justify-content-center pl-4" >
            <%= image_tag @district.incumbent.image.url(:headshot), alt: 'headshot', :class => "avatar text-center shadow", size: "125x125"  %></div>
          <div class="col-auto">
            <div class="card-body">
              <h4 class="card-title"> <%= link_to "#{@district.incumbent.first_name} #{@district.incumbent.last_name}", @district.incumbent %></h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= @district.incumbent.title %></h6>
              <p class="card-text">
              <div>
                  <small class="heavy">Birthdate: </small><small><%= @district.incumbent.birthdate.to_formatted_s(:long) %> (Age <%= @district.incumbent.calculated_age %>) 
                  <%if @district.incumbent.birthplace? %>
                  in <%= @district.incumbent.birthplace %>
                  <% end %></small><br>
                  <small class="heavy">Term Expires: </small><small><%= @district.incumbent.term_expires %></small>
                  <% if @district.incumbent.term? %>
                  <small><%= "(Term Limited in #{@district.incumbent.term})" %></small>
                  <%end%><br>
                  <small class="heavy">Resides in: </small><small><% if @district.incumbent.congressional_district != nil %>
                  <%=  "CD-#{@district.incumbent.congressional_district}" %>,
                  <%end%>
                  <% if @district.incumbent.senate_district != nil %>
                  <%= "SD-#{@district.incumbent.senate_district}" %>,
                  <%end%>
                  <% if @district.incumbent.assembly_district != nil %>
                  <%= "AD-#{@district.incumbent.assembly_district}" %>,
                  <%end%>
                  <% if @district.incumbent.supe_district != nil %>
                  <%= "BOS-#{@district.incumbent.supe_district}" %>
                  <%end%></small>
                </div>
                </p>
            </div>
          </div>
        </div>
      </div>

      
      <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
          <div class="card-header">
            DISTRICT REGISTRATION
          </div>
        <div class="card-text pl-4 pr-4">
        <div class="row p-1 pb-2"> 
          <div class="col-md" style="color: #35469C;"><br>
            <h6 class="card-subtitle text-muted" >DEM</h6>
            <h5><%= @district.dem_voters.truncate(2) %>%</h5>
          </div>
          <div class="col-md" style="color: #911111;"><br>
            <h6 class="card-subtitle text-muted" >REP</h6>
            <h5><%= @district.rep_voters.truncate(2) %>%</h5>
          </div>
          <div class="col-md d-none d-xl-block" style="color: #627D98;"><br>
            <h6 class="card-subtitle text-muted" >OTHER</h6>
            <h5><%= @district.other_voters.truncate(2) %>%</h5>
          </div>
          <div class="col-md"><br>
            <h6 class="card-subtitle text-muted">ADVANTAGE</h6>
            <h5><% if @district.registration_advantage > 0 %>
                  <strong><span style="color: #35469C;">D +<%= number_with_precision(@district.registration_advantage.abs, precision: 2) %>%</span></strong>
                  <% else %>
                  <strong><span style="color: #911111;">R +<%= number_with_precision(@district.registration_advantage.abs, precision: 2) %>%</span></strong>
                  <%end%></h5>
          </div>        
          </div>        
        </div>
          <div class="card-footer">
            <%= number_with_delimiter(@district.total_voters, :delimiter => ',') %> TOTAL VOTERS
          </div>        
      </div>


  <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
    <div class="card-header">
      DISTRICT MAP
    </div>
    <div style="height:280px; border:2px solid #eee; display:inline-block; overflow:hidden;">
      <iframe style="position:relative; top:-46px; border:none;" 
          src="<%=@district.map_url %>" 
          width=700 height=320></iframe>      
    </div>
    <div class="card-footer">
        <%= link_to "View Full Map", @district.map_url %> 
    </div>                        
  </div>

   
  <br>
</div>


<div class="col-lg">
<% if @district.incumbent.running_reelection == true || @district.candidates.present? %>
<div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
  <div class="card-header text-uppercase">
    candidates for this office
  </div>
  <div class="card-text pl-4 pr-4">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
        <th></th>
        <th>Candidate</th>
        <th>Status</th>
        <tr>
      </thead>

      <tbody>
      <tr>
        <% if @district.incumbent != nil%>
        <% if @district.incumbent.running_reelection? %>
        <% report = @district.incumbent.reports.most_recent %>
        <td class="condensed-column">
          <% if @district.incumbent.endorsed_republican? %>
          <div class="red-checkmark"><span class="text-white">&#10003</div>
          <%elsif @district.incumbent.endorsed_democrat?%>
          <div class="blue-checkmark"><span class="text-white">&#10003</div>
          <%else%>
          <%end%>
          </td>
        <td>
          <% if @district.incumbent.party == "Republican" %>
          <%= link_to "#{@district.incumbent.first_name} #{@district.incumbent.last_name}", @district.incumbent, { :class =>"gop-text" }%><br><small><%= @district.incumbent.title %></small>
          <%elsif @district.incumbent.party == "Democrat"%>
          <%= link_to "#{@district.incumbent.first_name} #{@district.incumbent.last_name}", @district.incumbent, { :class =>"dem-text" }%><br><small><%= @district.incumbent.title %></small>
          <%else%>
          <%end%></td>
          <td>
          <% if @district.incumbent.ballot_status == "Advanced to General"%>
          <span class="badge badge-success"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "Lost in Primary"%>
          <span class="badge badge-warning"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "Rumored"%>
          <span class="badge badge-info"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "Declared Candidacy"%>
          <span class="badge badge-light"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "On Ballot"%>
          <span class="badge badge-primary"><%= @district.incumbent.ballot_status%></span>
          <%elsif @district.incumbent.ballot_status == "Withdrew"%>
          <span class="badge badge-danger"><%= @district.incumbent.ballot_status%></span>
          <%end%>
          </td>
      </tr>
      <% end %>
      <%end%>

      <% @district.candidates.each do |candidate| %>
      <tr>
        <% if candidate.on_ballot? %>
          <% report = candidate.reports.most_recent %>
          <td class="condensed-column">
          <% if candidate.endorsed_republican? %>
          <div class="red-checkmark"><span class="text-white">&#10003</div>
          <%elsif candidate.endorsed_democrat?%>
          <div class="blue-checkmark"><span class="text-white">&#10003</div>
          <%else%>
          <%end%>
          </td>
          <td>
          <% if candidate.party == "Republican" %>
          <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"gop-text" }%><br><small><%= candidate.title %></small>
          <%elsif candidate.party == "Democrat"%>
          <%= link_to "#{candidate.first_name} #{candidate.last_name}", candidate, { :class =>"dem-text" }%><br><small><%= candidate.title %></small>
          <%else%>
          <%end%></td>
          <td>
          <% if candidate.ballot_status == "Advanced to General"%>
          <span class="badge badge-success"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "Lost in Primary"%>
          <span class="badge badge-warning"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "Rumored"%>
          <span class="badge badge-info"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "Declared Candidacy"%>
          <span class="badge badge-light"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "On Ballot"%>
          <span class="badge badge-primary"><%= candidate.ballot_status%></span>
          <%elsif candidate.ballot_status == "Withdrew"%>
          <span class="badge badge-danger"><%= candidate.ballot_status%></span>
          <%end%>
          </td>
          <% end %>
          <% end %>
          
      </tr>    
      <small class="text-muted">Checkmark = Party Endorsement</small>
      </tbody>
      </div>
      </table>
    </div>
  </div>
</div>
<%end%>
  <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
      <div class="card-header">
      PAST PERFORMANCE
      </div>
  <div class="card-text pl-4 pr-4">
  <div class="table-responsive">
  <table class="table">
      <tbody>
        <tr>
          <td class="no-border">2018 Gubernatorial</td>
          <td class="no-border"><% if @district.registration_advantage > 0 %>
          <span class="dem-text">Newsom</span>
        <% else %>
          <span class="gop-text">Cox</span>
        <%end%> 
          </td>
          <td class="no-border"><% if @district.registration_advantage > 0 %>
          <span class="dem-pill float-right">+<%= number_with_precision(@district.gov_2018.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-pill float-right">+<%= number_with_precision(@district.gov_2018.abs, precision: 2) %>%</span>
        <%end%> 
          </td>        
        </tr>
        <tr>
          <td>2016 Presidential</td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text">Clinton</span>
        <% else %>
          <span class="gop-text">Trump</span>
        <%end%>
          </td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-pill float-right">+<%= number_with_precision(@district.pres_2016.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-pill float-right">+<%= number_with_precision(@district.pres_2016.abs, precision: 2) %>%</span>
        <%end%>
          </td>        
        </tr>
        <tr>
          <td>2014 Gubernatorial</td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text">Brown</span>
        <% else %>
          <span class="gop-text">Kashkari</span>
        <%end%>
          </td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-pill float-right">+<%= number_with_precision(@district.gov_2014.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-pill float-right">+<%= number_with_precision(@district.gov_2014.abs, precision: 2) %>%</span>
        <%end%>
          </td>        
        </tr>
        <tr>
          <td>2012 Presidential</td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-text">Obama</span>
        <% else %>
          <span class="gop-text">Romney</span>
        <%end%>
          </td>
          <td><% if @district.registration_advantage > 0 %>
          <span class="dem-pill float-right">+<%= number_with_precision(@district.pres_2012.abs, precision: 2) %>%</span>
        <% else %>
          <span class="gop-pill float-right">+<%= number_with_precision(@district.pres_2012.abs, precision: 2) %>%</span>
        <%end%>
          </td>        
        </tr>
      </tbody>
  </table>
  </div>
  </div>
</div>

<div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
    <div class="card-header">
      CAMPAIGN FINANCE LIMITS
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          Contribution Limit:
          <div class="green-pill font-size-12 float-right"><strong><% if @district.contribution_limit.present? %>        
            $<%= number_with_delimiter(@district.contribution_limit, delimiter: ",") %>
          <%else%>
            No Limit
          <%end%></strong></div></li>
      <li class="list-group-item">Corporate Contributions:
          <% if @district.corporate_contributions?%>
          <div class="green-pill float-right"><strong>Allowed</strong>
          <%else%>
          <div class="red-pill float-right"><strong>Prohibited</strong>
          <%end%></li>
      <li class="list-group-item">PAC Contributions:
          <% if @district.pac_contributions?%>
          <div class="green-pill float-right"><strong>Allowed</strong>
          <%else%>
          <div class="red-pill float-right"><strong>Prohibited</strong>
          <%end%></li>
      <li class="list-group-item">
          <% if @district.party_contributions?%>
          Party Contribution Limit:
          <div class="green-pill font-size-12 float-right"><strong>$<%= number_with_delimiter(@district.party_contribution_limit, delimiter: ",") %></strong>
          <%else%>
          Party Contributions:
          <div class="red-pill font-size-12 float-right"><strong>Prohibited</strong>
          <%end%></li></li>
    </ul>
  </div> 

<% if @district.jurisdiction.name == "County of San Diego" || @district.jurisdiction.name == "California Legislature" || @district.jurisdiction.name == "Congress"%>
  <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
    <div class="card-header">
      ELECTED OFFICIALS RESIDING IN DISTRICT
    </div>
    <div class="card-text pl-4 pr-4">
    <div class="table-responsive">
        <table class="table">
        <thead>
          <tr>
            <th class="no-border"></th>
            <th class="no-border">Name</th>
            <th class="no-border">Age</th>
            <th class="no-border">COH</th>
          <tr>
        </thead>

        <tbody>
          <% @people.each do |person| %>
          <tr>
            <% if person.incumbent_district.present? %>
                <% report = person.reports.most_recent %>
                <%if person.senate_district.to_s == @district.district || person.assembly_district.to_s == @district.district || person.congressional_district.to_s == @district.district || person.supe_district.to_s == @district.district %>
                <td class="condensed-column"><%= image_tag person.image.url(:headshot), alt: 'headshot', :class => "avatar", size: "45x45"  %></td>
                <td>
                  <% if person.party == "Republican" %>
                  <%= link_to "#{person.first_name} #{person.last_name}", person, { :class =>"gop-text" }%><br><small><%= person.incumbent_district.name %></small>
                  <%elsif person.party == "Democrat"%>
                  <%= link_to "#{person.first_name} #{person.last_name}", person, { :class =>"dem-text" }%><br><small><%= person.incumbent_district.name %></small>
                  <%else%>
                  <%end%></td>
                <td>Age <%= person.calculated_age %></td>
                <td><strong><span class="green-pill">$<%= number_with_delimiter(report&.current_coh, :delimiter => ',') %></span></strong></td>
                <%end%>
                <%end%>
              <% end %>
          </tr>
        </tbody>
      </table>
      </div>
    <%end%>  
  </div>
</div>
  
 </div>
</div>
</div>

  
<div class="container">
<% if current_user.admin? %>

<%= button_to "Add Candidate", new_person_path(:district_id => @district.id), 
      :class => "btn btn-primary", :action => "new", :method => :get %>

<%= button_to "Edit", edit_district_path(@district), :class => "btn btn-outline-primary" %>      

 |
<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Delete District', @district, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', districts_path %>

<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
</div>

