<p id="notice"><%= notice %></p>

<h1><%= @vendor.full_name.titleize %></h1>

<table class=table>
  <thead>
  <tr>
    <th>Committee</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @vendor.transactions.each do |transaction| %>
  <tr>
    <td><%= link_to "#{transaction.candidate_committee.name}", transaction.candidate_committee %></td>
    <td><%= number_to_currency(transaction.amount) %></td>
    <td><%= transaction.full_expense_type %></td>
    <td><%= transaction.transaction_date %></td>
    </td>
  </tr>

    <%end%>
    <tr class="heavy table-primary">
    <td>Total</td>
    <td><%= number_to_currency(@vendor.transactions.sum(:amount)) %></td>
    <td></td>
    <td></td>
    
  </tr>
  </tbody>
</table>
<br>
<h4>Possible Similar Vendors</h4>
<% if @vendor.vendor_similar.count > 0 %>
  <% @vendor.vendor_similar.each do |vendor| %>
  <tr>
  <%= link_to "#{vendor.full_name.titlecase}", vendor %>
  </tr>
  
  <%end%>
<%end%>

