      <hr>
      <h5 class="dark-red-supporting heavy">Aggregate Expenditures this Election</h5>

        <div class="table-responsive shadow-sm bg-white rounded primary-border p-4">
            <table class="table">
            <thead>
            <tr>
                <th>Candidates</th>
                <th>Total Support</th>
                <th>Total Oppose</th>
            </tr>
            </thead>

            <tbody>
            <% @expenditures.where.not(person: nil).collect{|u| u.person}.flatten.uniq.each do |candidate| %>
                
                <tr>
                <td><%= link_to "#{candidate.full_name}", candidate %></td>
                <td><% if candidate.expenditures.where(:is_support => true).where(committee: @committee).sum(:amount) > 0 %><span class="green-text "><%= number_to_currency(candidate.expenditures.where(:is_support => true).where(committee: @committee).sum(:amount)) %></span><% end %></td>
                <td><% if candidate.expenditures.where(:is_oppose => true).where(committee: @committee).sum(:amount) > 0 %><span class="red-text "><%= number_to_currency(candidate.expenditures.where(:is_oppose => true).where(committee: @committee).sum(:amount)) %></span><% end %></td>
                </tr>
                <% end %>
            </tbody>

            <thead>
            <tr>
                <th>Measures</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <% @expenditures.where.not(measure: nil).collect{|u| u.measure}.flatten.uniq.each do |measure| %>
                
                <tr>
                <td><%= link_to "Measure #{measure.letter}", measure %></td>
                <td><% if measure.expenditures.where(:is_support => true).where(committee: @committee).sum(:amount) > 0 %><span class="green-text "><%= number_to_currency(measure.expenditures.where(:is_support => true).where(committee: @committee).sum(:amount)) %></span><% end %></td>
                <td><% if measure.expenditures.where(:is_support => false).where(committee: @committee).sum(:amount) > 0 %><span class="red-text "><%= number_to_currency(measure.expenditures.where(:is_support => false).where(committee: @committee).sum(:amount)) %></span><% end %></td>
                </tr>
                <% end %>
            </tbody>            
            
            <tfoot>
                <tr>
                    <td><strong>Total Expenditures this Election: &nbsp; </strong><%= number_to_currency(@expenditures.sum(:amount)) %></td>
                    <td></td>
                    <td></td>
            </tfoot>

            </table>
        </div>
