<hr>
      <h5 class="dark-red-supporting heavy">Expenditures</h5>
      
          <div class="table-responsive shadow-sm bg-white rounded primary-border p-4">
            <table class="table">
            <thead>
                <tr>
                  <th>Date</th>
                  <th>Candidate / Measure</th>
                  <th>District / Jurisdiction</th>
                  <th>Amount</th>
                  <th>Description</th>
                  <th>Support / Oppose</th>
                  <th>View</th>
                </tr>
              </thead>

              <tbody>
                <% @expenditures.order('expenditure_date DESC').each do |expenditure| %>
                  <tr>
                  <% if current_user.admin?%>
                    <td><%= link_to "#{expenditure.expenditure_date.strftime("%b-%d-%y")}", expenditure %></td>
                  <%else%>
                    <td><%= expenditure.expenditure_date.strftime("%b-%d-%y") %></td>
                    <%end%>
                    
                    <% if expenditure.person.present?%>
                          <td><%= link_to "#{expenditure.person.first_name} #{expenditure.person.last_name}", expenditure.person %></td>
                          <td><%if expenditure.person.running_reelection? %><%= link_to "#{expenditure.person.incumbent_district.jurisdiction.name}", expenditure.person.incumbent_district.jurisdiction  %><%else%><%= link_to "#{expenditure.person.district.jurisdiction.name}", expenditure.person.district.jurisdiction  %><%end%></td>
                        <%else%>
                          <td><%= link_to "Measure #{expenditure.measure.letter}", expenditure.measure %></td>
                          <td><%= link_to "#{expenditure.measure.jurisdiction.name}", expenditure.measure.jurisdiction %></td>
                          <%end%>
                    <td><%= number_to_currency(expenditure.amount) %></td>
                    <td><%= expenditure.description %></td>
                    <td><% if expenditure.is_support?%>
                        Support
                        <%else%>
                        Oppose
                        <%end%></td>
                    <td><% if expenditure.pdf.url.present? %><%= link_to "View", expenditure.pdf.url, :class => "btn btn-primary btn-sm", target: :_blank %><%end%></td>
                  </tr>
                <% end %>
              </tbody>
              </table>
            
          </div>