<%= form_with(model: committee, local: true) do |form| %>
  <% if committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :jurisdiction_id %>
    <%= form.text_field :jurisdiction_id %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :candidate_id %>
    <%= form.text_field :candidate_id %>
  </div>

  <div class="field">
    <%= form.label :incumbent_id %>
    <%= form.text_field :incumbent_id %>
  </div>

  <div class="field">
    <%= form.label :measure_id %>
    <%= form.text_field :measure_id %>
  </div>

  <div class="field">
    <%= form.label :support %>
    <%= form.check_box :support %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
