<%= form_with(model: committee, local: true) do |form| %>
  <% if committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :jurisdiction_id %>
    <%= form.select(:jurisdiction_id, Jurisdiction.all.collect { |v| [ "#{v.name}", v.id ] }, {}, { "data-placeholder": "Select Jurisdiction" }) %>
  </div>

  <div class="field">
    <%= form.label :committee_type %>
    <%= form.select :committee_type, ['General Purpose', 'Primarily Formed'], :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :candidate_id %>
    <%= form.select(:candidate_id, Candidate.all.collect { |v| [ "#{v.last_name}, #{v.first_name}", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Candidate" }) %>
  </div>

  <div class="field">
    <%= form.label :incumbent_id %>
    <%= form.select(:incumbent_id, Incumbent.all.collect { |v| [ "#{v.last_name}, #{v.first_name}", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Incumbent" }) %>
  </div>

  <div class="field">
    <%= form.label :measure_id %>
    <%= form.select(:measure_id, Measure.all.collect { |v| [ "Measure #{v.letter}", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Measure" })  %>
  </div>

  <div class="field">
    <%= form.label :support, "Support or Oppose" %>
    <%= form.radio_button :support, "Support" %> Support <br/>
    <%= form.radio_button :support, "Oppose" %> Oppose <br/>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
