<hr>
      <h5 class="dark-red-supporting heavy">Campaign Finance Reports</h5>
      <div class="table-responsive shadow-sm bg-white rounded primary-border p-4">
      <table class="table">
      <thead>
          <tr>
            <th>Report Date</th>
            <th>Period Receipts</th>
            <th>Period Disbursements</th>
            <th>Cash-on-hand</th>
            <th>Debt</th>
            <th>View</th>
          </tr>
        </thead>

        <tbody>
          <% @reports.order('report_filed DESC').each do |report| %>
            <tr>
              <td><%= link_to "#{report.report_filed.strftime("%b-%d-%y")}", report %><br><small class="text-nowrap"><%= "#{report.period_begin.strftime("%b-%d-%y")} - " %><%= "#{report.period_end.strftime("%b-%d-%y")}" %></small></td>
              <td><%= number_to_currency(report.period_receipts) %></td>
              <td><%= number_to_currency(report.period_disbursements) %></td>
              <td><span class="green-pill"><%= number_to_currency(report.current_coh) %></span></td>
              <td><%= number_to_currency(report.current_debt) %></td>
              <td><% if report.pdf.url.present? %><%= link_to "View", report.pdf.url, :class => "btn btn-primary", target: :_blank %><%end%></td>
            </tr>
          <% end %>
        </tbody>
        </table>
        </div>
        <br>