<p id="notice"><%= notice %></p>

<h1>Committees</h1>
<br>
<table class="table small-table table-bordered table-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Jurisdiction</th>
      <th>Type</th>
      <th>Candidate or Measure</th>
      <th>Support</th>
    </tr>
  </thead>

  <tbody>
    <% @committees.each do |committee| %>
      <tr>
        <td><%= link_to "#{committee.name}", committee %></td>
        <td><%= link_to "#{committee.jurisdiction.name}", committee.jurisdiction %></td>
        <td><%= committee.committee_type %></td>
        <td> <% if committee.person.present? %>
            <%= link_to "#{committee.person.first_name} #{committee.person.last_name}", committee.person %>
            <%elsif committee.measure.present? %>
            <%= link_to "Measure #{committee.measure.letter}", committee.measure %>
            <%else%>
            <%end%>
        </td>
        <td><%= committee.support %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committee', new_committee_path %>
