<div class="container">
  <div class="row">
    <div class="col">  
    <h1 class="primary-blue heavy">Committees</h1>
    <br>
    <div class="panel panel-default">
      <div class="table-responsive shadow bg-white rounded border-primary p-4">
        <table class="table" id="committees">
          <thead class="thead-light">
            <tr>
              <th>Name<br><small>Jurisdiction</small></th>
              <th>Type</th>
              <th>Candidate or Measure</th>
              <th>Support/Oppose</th>
            </tr>
          </thead>

          <tbody>
            <% @committees.each do |committee| %>
              <tr>
                <td><%= link_to "#{committee.name}", committee %><br><small><%= link_to "#{committee.jurisdiction.name}", committee.jurisdiction %></small></td>
                <td><%= committee.committee_type %></td>
                <td> <% if committee.person.present? %>
                    <%= link_to "#{committee.person.first_name} #{committee.person.last_name}", committee.person %>
                    <%elsif committee.measure.present? %>
                    <%= link_to "Measure #{committee.measure.letter}", committee.measure %>
                    <%else%>
                    <%end%>
                </td>
                <td><%= committee.support %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
       </div>
      </div>  
    </div>
  </div>


<br>
<% if current_user.admin? %>
<%= link_to 'New Committee', new_committee_path, :class => "btn btn-primary mr-2" %>
<%end%>    
</div>
<script>
    $( document ).on('turbolinks:load', function() {
    $('#committees').DataTable( {
      retrieve: true
    });
});
</script>