<div class="container">
  <div class="row">
    <div class="col">  
    <h1 class="primary-blue heavy">Committees</h1>
    <br>
    <% if user_signed_in? && current_user.admin? && Admin.last.admin_mode == true %>
    <div class="panel panel-default">
      <div class="table-responsive shadow bg-white rounded primary-border p-4">
        <table class="table table-sm" id="committees">
          <thead class="thead-light">
            <tr>
              <th>Name<br><small>Jurisdiction</small></th>
              <th>Candidate or Measure</th>
             
              <th>Cash-on-Hand</th>
            </tr>
          </thead>

          <tbody>
            <% @committees.each do |committee| %>
              <tr>
                <td><%= link_to "#{committee.name}", committee %> (<%= committee.committee_type %>)<br><small><%= link_to "#{committee.jurisdiction.name}", committee.jurisdiction %></small></td>
                <td> <% if committee.person.present? %>
                    <%= link_to "#{committee.person.first_name} #{committee.person.last_name}", committee.person %>
                    <%elsif committee.measure.present? %>
                    <%= link_to "Measure #{committee.measure.letter}", committee.measure %>
                    <%else%>
                    <%end%>
                    <br><small><%if committee.is_support?%>Support</td><%elsif committee.is_oppose?%>Oppose<%end%></small>
                </td>
                <td class="pr-4"><span class="green-text font-weight-bold float-right"><% if committee.reports.present? %><%= number_to_currency(committee.reports.order('period_end DESC').first.current_coh ) %><%else%>$0.00<%end%></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
       </div>
       <%else%>
       <p>Currently under construction.</p>
       <%end%>
      </div>  
    </div>
  </div>


<br>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Committee', new_committee_path, :class => "btn btn-primary mr-2" %>
<%end%>    
</div>
<script>
    $( document ).on('turbolinks:load', function() {
    $('#committees').DataTable( {
      retrieve: true
    });
});
</script>