<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'header'%>

      <% if @committee.reports.present? %>
        <%= render 'reports'%>
      <%end%> 
      <br>
      <% if  current_user.admin? && Admin.last.admin_mode == true %>
      <%= link_to("Add Report", new_report_path(:committee_id => @committee.id), :action => "new", :method => :get, :class => "btn btn-primary mr-2")%>
      <%= link_to("Add Expenditure", new_expenditure_path(:committee_id => @committee.id), :action => "new", :method => :get, :class => "btn btn-primary mr-2")%>
      <%= link_to 'Edit', edit_committee_path(@committee), :class => "btn btn-outline-primary mr-2" %>  
      <%= link_to 'Delete Committee', @committee, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %> 
      <%end%>
      <%= link_to 'Back', committees_path, :class => "float-right btn btn-outline-secondary text-right" %>
    </div>
  </div> 
</div>

    

