<div class="container bg-white shadow-sm border rounded mt-2 p-5">
<%= bootstrap_form_for(@jurisdiction, label_errors: true) do |f| %>

  <div class="row ">
    <div class="col ">
      <%= f.text_field :name, label: "Jurisdiction Name"%>
    </div>
    <div class="col ">
      <%= f.select :jurisdiction_type, ['Federal', 'State', 'County', 'City', 'School District', 'Water District', 'Fire District', 'Healthcare', 'Public Utility'], :include_blank => true, label: "Jurisdiction Type" %>
    </div>
      <div class="form-group">
        <%= f.label :at_large_districts, "At Large Districts" %>
        <%= f.check_box :at_large_districts %>
      </div>
  </div>      
  <%= f.text_area :description, label: "Jurisdiction Description" %>


  <div class="row">
    <div class="col">
         <div class="field">
            <%= f.label :map_url, "Jurisdiction Image Map" %>
            <%= f.file_field :map_url %>
          </div>
    </div>

    <%= f.text_field :google_maps_url, label: "Google Maps Embed URL" %>

   
  </div>

  <%= f.submit %>
  <%= link_to 'Back', jurisdictions_path, :class => "btn btn-outline-primary"  %>
  <%end%>
  <br>
  </div>


