<div class="container bg-white shadow-sm border rounded mt-2 p-5">
<%= bootstrap_form_for(@jurisdiction, label_errors: true) do |f| %>

  <div class="row ">
    <div class="col ">
      <%= f.text_field :name, label: "Jurisdiction Name"%>
    </div>
    <div class="col ">
      <%= f.select :jurisdiction_type, ['Federal', 'State', 'County', 'City', 'School District', 'Water District', 'Fire District', 'Healthcare', 'Public Utility'], :include_blank => true, label: "Jurisdiction Type" %>
    </div>
  </div>      
  <%= f.text_area :description, label: "Jurisdiction Description" %>


  <div class="row">
    <div class="col">
        <%= f.text_field :map_url, label: "Map URL" %>
    </div>
    <div class="col">
      <%= f.select(:registration_history_id, RegistrationHistory.order(:name).all.collect { |v| [ "#{v.name}", v.id ] }, {:include_blank => true, label: false} ) %>    
      </div>
      <div class="col">
        <%= f.file_field :logo, { label: "Logo" } %>
      </div>      
  </div>

  <%= f.submit %>
  <%= link_to 'Back', jurisdictions_path, :class => "btn btn-outline-primary"  %>
  <%end%>
  <br>
  </div>


