<div class="container">

<h1 class="heavy primary-blue">Jurisdictions</h1>
<div class="shadow bg-white rounded primary-border p-4">
<table class="table" id="jurisdictions">
  <thead>
    <tr>
      <th>Name</th>
      <th class=" d-none d-lg-table-cell">Jurisdiction Type</th>
      <%if user_signed_in? && current_user.admin?%><th>Archive</th><%end%>
    </tr>
  </thead>

  <tbody>
    <% @jurisdictions.where('archived = ?', false).each do |jurisdiction| %>
      <tr>
        <td><%= link_to "#{jurisdiction.name}", jurisdiction %></td>
        <td class=" d-none d-lg-table-cell"><%= jurisdiction.jurisdiction_type %>
        <%if user_signed_in? && current_user.admin?%><td><%if jurisdiction.archived == false %> <%= link_to 'Archive', make_archived_jurisdiction_path(jurisdiction), :class => "btn btn-primary btn-sm mr-2" %><%end%><%if jurisdiction.archived == true %> <%= link_to 'Un-Archive', unarchive_jurisdiction_path(jurisdiction), :class => "btn btn-primary btn-sm mr-2" %><%end%></td><%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Jurisdiction', new_jurisdiction_path, :class => "btn btn-primary mr-2" %>
<%end%>    

</div>
<script>
    $( document ).on('turbolinks:load', function() {
    $('#jurisdictions').DataTable( {
      retrieve: true
    });
});
</script>
