<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jurisdiction.name %>
</p>

<p>
  <strong>Contribution limit:</strong>
  <% if @jurisdiction.contribution_limit > 0%>        
    <td>$<%= @jurisdiction.contribution_limit %></td>
  <%else%>
    <td>No limit</td>
  <%end%>
</p>

<%= link_to 'Edit', edit_jurisdiction_path(@jurisdiction) %> |
<%= link_to 'Back', jurisdictions_path %> |
<%= link_to("Add District", new_district_path(:jurisdiction_id => @jurisdiction.id), :action => "new", :method => :get)%>

