<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<h3><%= @jurisdiction.name %></h3>
<hr>
<div class="row">
  <div class="col">
    <p><%=  h(@jurisdiction.description).gsub(/\n/, '</br>').html_safe %> </p> <br>
  </div>
  <div class="col-auto">
    <% if @jurisdiction.map_url.present?%>
    <%= content_tag(:iframe,'', width: 500, height: 320, src: "#{@jurisdiction.map_url}") %>
    <%end%>
  </div>
</div>
<hr>
<h5> List of Offices & Districts </h5>
<br>
<table class="table table-sm table-bordered">
<thead>
    <tr>
      <th>Office</th>
      <th>District</th>
      <th>Incumbent</th>
      <th>Party</th>
    </tr>
  </thead>

  <tbody> 
      <tr>
      <% @jurisdiction.districts.order(:district).each do |district| %>
        <td><%= district.name %></td>
        <td><% if district.district == "At Large" %>
              <%= link_to "#{district.district}", district %></td>
            <% else %>
              <%= link_to "#{district.district.to_i.ordinalize} District", district %>
            <%end%>
        <td><%= link_to "#{district.incumbent.first_name} #{district.incumbent.last_name}", district.incumbent %></td>
        <td><%= district.incumbent.party %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @jurisdiction.measures.present? %>
<h5>Current Ballot Measures</h5>
<table class="table small-table table-striped table-bordered">
    <thead>
    <tr>
      <th>Measure</th>
      <th>Topic</th>
      <th>Type</th>
      <th>Origin</th>
      <th>Threshold</th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
    <tr> 
      <td><%= link_to "Measure #{measure.letter}", measure.letter %> </td>
      <td><%= measure.topic %></td>
      <td><%= measure.measure_type %></td>
      <td><%= measure.origin %></td>     
      <td><%= number_to_percentage(measure.threshold, precision: 2) %></td>                  
    </tr>
    <%end%>
  </tbody>
</table>
<%end%>

<% if current_user.admin? %>
<%= link_to("Add District", new_district_path(:jurisdiction_id => @jurisdiction.id), :action => "new", :method => :get)%> |
<%= link_to 'Edit', edit_jurisdiction_path(@jurisdiction) %> |
<%= link_to 'Delete Jurisdiction', @jurisdiction, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', jurisdictions_path %> 

<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

