<div class="container">
  <div class="row bg-light shadow-sm bg-white rounded primary-border mt-1 p-3">
      <div class="row p-1 m-1">
        <h2 class="primary-blue heavy"><%= @jurisdiction.name %></h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <% if @jurisdiction.map_url.present?%>
            <%= render 'map' %>
            <%end%>
          </div>
          <div class="col-lg-7">
            <%= render 'data'%>
          </div>
        </div>
        </div>
    </div> 
  </div>   

 
<br>
<hr>
<br>
<div class="container primary-border rounded p-3">
  <h5 class="dark-red-supporting heavy"> List of Offices & Districts </h5>
  <div class="table-responsive bg-white rounded border-primary p-4">
    <table class="table">
    <thead>
        <tr>
          <th>Office</th>
          <th>District</th>
          <th class="condensed-column"></th>
          <th>Incumbent</th>
          <th>Term Expires</th>
          <th>Reg Advantage</th>
        </tr>
      </thead>

      <tbody> 
          <tr>
          <% @jurisdiction.districts.order(:district).each do |district| %>
            <td><%= district.name %></td>
            <td>
                  <%if district.district != "At Large" && district.is_seat == false && district.is_area == false %>
                  <%= link_to "#{district.district.to_i.ordinalize} District", district %>
                  <%elsif district.is_seat %>
                  <%= link_to "Seat #{district.district}", district %>
                  <%elsif district.is_area %>
                  <%= link_to "Trustee Area #{district.district}", district%>
                  <%elsif district.district == "At Large" %>
                  <%= link_to "At Large", district%>
                  <%end%>
                  <%if district.at_large_district? && current_user.admin? %><br><small>Term Expires: <%= district.term_expires %> </small><%end%>
                </td>

                <% if district.incumbent.present? %>
                <td class="condensed-column"><%= image_tag district.incumbent.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %></td>
                <%else%>
                <td class="condensed-column"><%= image_tag 'https://nex3.com/wp-content/uploads/2019/12/placeholder-headshot-300x300.png', alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %></td>
                <%end%>

            <td><% if district.incumbent.present? %><%= link_to "#{district.incumbent.first_name} #{district.incumbent.last_name}", district.incumbent %><br><small><%= district.incumbent.party %></small><%else%>Vacant<%end%></td>
            <td><%= district.incumbent&.term_expires %>
            <td class="text-nowrap"><% if district.registration_advantage > 0 %>
                <span class="float-right dem-pill" >D +<%= number_with_precision(district.registration_advantage, precision: 2) %>%</span>
                <% else %>
                <span class="float-right gop-pill" >R +<%= number_with_precision(district.absolute_registration_advantage, precision: 2) %>%</span>
                <%end%>
            </td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  
<br>
<% if @jurisdiction.measures.present? %>
<hr>
<h5 class="dark-red-supporting heavy">Current Ballot Measures</h5>
<div class="container primary-border rounded p-3">
  
  <div class="table-responsive shadow-sm bg-white rounded border-primary p-4">
    <table class="table">
        <thead>
        <tr>
          <th>Measure</th>
          <th>Topic</th>
          <th>Type</th>
          <th>Origin</th>
          <th>Threshold</th>
        </tr>
      </thead>

      <tbody>
        <% @measures.each do |measure| %>
        <tr> 
          <td><%= link_to "Measure #{measure.letter}", measure.letter %> </td>
          <td><%= measure.topic %></td>
          <td><%= measure.measure_type %></td>
          <td><%= measure.origin %></td>     
          <td><%= number_to_percentage(measure.threshold, precision: 2) %></td>                  
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<%end%>
<br>
<% if @jurisdiction.committees.present? %>
<%= render 'committees'%>
<%end%>
<br>
<div class="container">
<% if current_user.admin? %>
<%= link_to("Add District", new_district_path(:jurisdiction_id => @jurisdiction.id), :action => "new", :method => :get, :class => "btn btn-primary mr-2")%> 
<%= link_to 'Edit', edit_jurisdiction_path(@jurisdiction), :class => "btn btn-outline-primary mr-2" %> 
<%= link_to 'Delete Jurisdiction', @jurisdiction, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %> 
<%end%>

<%= link_to "Download Jurisdiction Fundraising Report (PDF)", jurisdiction_path(@jurisdiction, format: "pdf"), :class => "float-right btn btn-primary ml-4" %>

<%= link_to 'Back', jurisdictions_path, :class => "float-right btn btn-outline-secondary text-right" %> 
</div>
    
</div>

</div>
