<div class="container bg-white shadow-sm border rounded mt-2">
<%= bootstrap_form_for(@expenditure, label_errors: true) do |f| %>
<% if @expenditure.errors.any? %>
    <% @expenditures.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>


<div class="row p-3">
  <div class="col-md-3">
    <h5 class="heavy">Expenditure Information</h5>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col">
        <%= f.select(:committee_id, Committee.order(:name).all.collect { |v| [ v.name, v.id ] }, {:selected => params[:committee_id]}, { "data-placeholder": "Select Committee" }) %>
        <%= f.select :election_type, ['General', 'Primary', 'Special'], :selected => 'General' %>
        <%= f.select :election_cycle, ['2016','2018','2020',], :selected => '2020' %>
      </div>
      <div class="col">
        <%= f.select(:person_id, Person.order('last_name ASC').all.collect { |v| [ "#{v.last_name}, #{v.first_name} ", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Candidate" }) %>
        <%= f.select(:measure_id, Measure.order('letter ASC').all.collect { |v| [ "Measure #{v.letter}", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Measure" }) %>
          <%= f.form_group :support, label: { text: "Support or Oppose" }  do %>
          <%= f.check_box :is_support, label: "Support" %> 
          <%= f.check_box :is_oppose, label: "Oppose" %> 
        <%end%>
          <%= f.check_box :is_amendment, label: "Amended Form" %><br>
      </div>
    </div>
        <div class="row">
      <div class="col">
        <%= f.date_field :expenditure_date, value: (f.object.new_record? ? 
Date.today : f.object.expenditure_date) %> 
        <%= f.file_field :pdf, { label: "Upload Expenditure" } %>
      </div>
      <div class="col">
        <%= f.text_field :description %>
      </div>      
      <div class="col">
        <%= f.number_field :amount, step: :any %>
      </div>
    </div>   
  </div>
</div>  

  
 

    

  <br>
  <div class="form-actions">
    <%= f.submit %>
    <%= link_to 'Back', expenditures_path, :class => "btn btn-outline-primary"  %>

<% end %>
<br>
</div>
