<div class="container bg-white shadow-sm border rounded mt-2">
<%= bootstrap_form_for(@expenditure, label_errors: true) do |f| %>



<div class="row p-3">
  <div class="col-md-3">
    <h5 class="heavy">Expenditure Information</h5>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col">
        <%= f.select(:committee_id, Committee.all.collect { |v| [ v.name, v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Committee" }) %>
        <%= f.select(:district_id, District.all.collect { |v| [ "#{v.jurisdiction.name} - #{v.name} (District #{v.district})", v.id ] }, {:include_blank => true}, label: "District where expenditure occurred") %>
        <%= f.select :election_type, ['General', 'Primary', 'Special'], :selected => 'General' %>
        <%= f.select :election_cycle, ['2016','2018','2020',], :selected => '2020' %>
      </div>
      <div class="col">
        <%= f.select(:person_id, Person.all.collect { |v| [ "#{v.first_name} #{v.last_name}", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Candidate" }) %>
        <%= f.select(:measure_id, Measure.all.collect { |v| [ "Measure #{v.letter}", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Measure" }) %>
          <%= f.form_group :support, label: { text: "Support or Oppose" }  do %>
          <%= f.radio_button :is_support, true, label: "Support" %> 
          <%= f.radio_button :is_support, false, label: "Oppose" %> 
        <%end%>
      </div>
    </div>
        <div class="row">
      <div class="col">
        <%= f.date_field :expenditure_date, value: Date.today %>
        <%= f.check_box :is_amendment, label: "Amended Form" %>
      </div>
      <div class="col">
        <%= f.text_field :description %>
      </div>      
      <div class="col">
        <%= f.number_field :amount, step: :any %>
      </div>
    </div>   
  </div>
</div>  

  
 

    

  <br>
  <div class="form-actions">
    <%= f.submit %>
    <%= link_to 'Back', expenditures_path, :class => "btn btn-outline-primary"  %>

<% end %>
<br>
</div>
