<div class="container bg-white shadow-sm border rounded mt-2">
<%= bootstrap_form_for(@expenditure, label_errors: true) do |f| %>
<% if @expenditure.errors.any? %>
    <% @expenditures.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>


<div class="row p-3">
  <div class="col-md-3">
    <h5 class="heavy">Expenditure Information</h5>
  </div>
  <div class="col-md-9 form-inputs">
    <div class="row">
      <div class="col">
        <%= f.select(:committee_id, Committee.order(:name).all.collect { |v| [ v.name, v.id ] }, {:selected => params[:committee_id]}, { "data-placeholder": "Select Committee" }) %>
       <%= f.file_field :pdf, { label: "Upload Expenditure" } %>
      </div>
      <div class="col">
        <%= f.select(:candidate_id, Candidate.all.where(:active => true).sort {|a,b| a.reverse_display_name <=> b.reverse_display_name}.collect { |v| [ "#{v.reverse_display_name}", v.id ] }, {:include_blank => true}, { "data-placeholder": "Select Candidate" }) %>
        
          <%= f.form_group :support, label: { text: "Support or Oppose" }  do %>
          <%= f.check_box :is_support, label: "Support" %> 
          <%= f.check_box :is_oppose, label: "Oppose" %> 
        <%end%>
         
      </div>
    </div>
       <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
            <th></th>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th>
            
            </tr>
          </thead>
        
        <tbody class='itemized_expenditures'>
          <%= f.simple_fields_for :itemized_expenditures do |builder| %>
            <%= render 'itemized_expenditure_fields', f: builder %>
          <% end %>  
        </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>  



  
 

    

  <br>
  <div class="form-actions">
    <%= f.submit %>
    <%= link_to_add_association 'Add Expenditure', f, :itemized_expenditures, class: 'btn btn-primary', data: {association_insertion_node: '.itemized_expenditures', association_insertion_method: :append} %>
    <%= link_to 'Back', expenditures_path, :class => "btn btn-outline-primary"  %>

<% end %>
<br>
</div>
