<p id="notice"><%= notice %></p>

<h1>Committee Expenditures</h1>
<br>
<table class="table small-table table-bordered table-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Committee</th>
      <th>Amount</th>
      <th>Candidate / Measure</th>
      <th>District</th>
      <th>Support/Oppose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.expenditure_date.to_formatted_s(:long) %></td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.description %></td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= expenditure.committee.name %></td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><%= number_to_currency(expenditure.amount) %></td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>">
          <% if expenditure.person != nil %>
            <%= link_to "#{expenditure.person.first_name} #{expenditure.person.last_name}", expenditure.person %>
            <%else%>
            <%= link_to "Measure #{expenditure.measure.letter}", expenditure.measure %>
            <%end%>
        </td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>">
        <% if expenditure.person.present?%>
        <%= link_to "#{expenditure.person.district.name} - District #{expenditure.person.district.district}", expenditure.person.district %>
        <%end%>
        <% if expenditure.measure.present? %>
        <%= link_to "#{expenditure.measure.jurisdiction.name}", expenditure.measure.jurisdiction %>
        <%end%>        
        </td>
        <td class="<%= expenditure.is_amendment? ? 'amended' : 'not-amended' %>"><% if expenditure.is_support? %>
            Support
            <%else%>
            Oppose
            <%end%></td>
        <td><%= link_to 'Edit', edit_expenditure_path(expenditure) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expenditure', new_expenditure_path %>
