<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="primary-blue heavy">Independent Expenditures</h1>
      <br>
      <div class="panel panel-default">
        <div class="table-responsive shadow bg-white rounded primary-border p-4">
          <table class="table" id="expenditures">
            <thead class="thead-light">
              <tr>
                <th>Expenditure Date</th>
                <th>Description</th>
                <th>Committee</th>
                <th>Amount</th>
                <th>Candidate / Measure</th>
                <th>Office / Jurisdiction</th>
                <th>View</th>
              </tr>
            </thead>

            <tbody>
              <% @expenditures.each do |expenditure| %>
                <tr>
                  <td class=""><%= expenditure.expenditure_date.to_formatted_s(:long) %><% if expenditure.is_amendment? %>*<%end%><%if current_user.admin?%><br><small><%= link_to 'Edit', edit_expenditure_path(expenditure) %></small><%end%></td>
                  <td class=""><%= expenditure.description %></td>
                  <td class=""><%= link_to expenditure.committee.name %></td>
                  <td class=""><%= number_to_currency(expenditure.amount) %></td>
                  <td class="">
                    <% if expenditure.person != nil %>
                      <%= link_to "#{expenditure.person.first_name} #{expenditure.person.last_name}", expenditure.person %>
                      <%else%>
                      <%if expenditure.measure.present? %><%= link_to "Measure #{expenditure.measure.letter}", expenditure.measure %><%end%>
                      <%end%>
                      <br>
                  <small><% if expenditure.is_support? %>
                      Support
                      <%elsif expenditure.is_oppose? %>
                      Oppose
                      <%end%></small>  
                  </td>
                  <td class="">
                  <% if expenditure.person.present?%>
                  <%= link_to "#{expenditure.person.district.name}", expenditure.person.district %>
                  <%end%>
                  <% if expenditure.measure.present? %>
                  <%= link_to "#{expenditure.measure.jurisdiction.name}", expenditure.measure.jurisdiction %>
                  <%end%>
                        
                  </td>
                  
                  <td><% if expenditure.pdf.url.present? %><%= link_to "View", expenditure.pdf.url, :class => "btn btn-primary", target: :_blank %><%end%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>  
      <br>
      <span class="small-text" ><em>* = amended version of prior reported expenditures.</em></span>

      <br>
      <br>
      <% if current_user.admin? %>
      <%= link_to 'New Expenditure', new_expenditure_path, :class => "btn btn-primary mr-2" %>
      <%end%>
    </div>
  </div>
</div>      

      <script>
          $( document ).on('turbolinks:load', function() {
          $('#expenditures').DataTable( {
            retrieve: true
          });
      });
      </script>
