<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<p>
  <strong>Expenditure date:</strong>
  <%= @expenditure.expenditure_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expenditure.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@expenditure.amount) %>
</p>





<p>
  <strong>Is support:</strong>
  <%= @expenditure.is_support %>
</p>

<p>
  <strong>Is amendment:</strong>
  <%= @expenditure.is_amendment %>
</p>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Delete Expenditure', @expenditure, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', expenditures_path %>

<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
