<tr>
    <td>
        <%= f.hidden_field :_destroy %>
        <%= link_to 'Delete', '#', class: 'remove_record' %>
    </td>
    <td><%= f.select(:person_id, Person.order('last_name ASC').all.collect { |v| [ " #{v.last_name}, #{v.first_name}", v.id ] }, {:include_blank => true, hide_label: true }) %></td>
    <td><%= f.text_field :first_name, hide_label: true %></td>
    <td><%= f.text_field :last_name, hide_label: true  %></td>
    <td><%= f.select :party_registration, ['Republican', 'Democrat', 'Declined to State', 'Green', 'Peace & Freedom', 'Libertarian', 'Reform', 'Natural Law', 'American Independent', 'Unknown'], {:include_blank => true, hide_label: true} %></td>
    <td><%= f.text_field :ballot_title, hide_label: true  %></td>
    <td><%= f.number_field :votes, hide_label: true  %></td>

</tr>

     