<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= link_to "#{@campaign.district.jurisdiction.name} - #{@campaign.district.name} (District #{@campaign.district.district}) #{@campaign.district.term_expires}", @campaign.district %>
</p>

<p>
  <strong>Election date:</strong>
  <%= @campaign.election_date %>
</p>

<p>
  <strong>Election type:</strong>
  <%= @campaign.election_type %>
</p>

<p>
  <strong>Number of winners:</strong>
  <%= @campaign.number_of_winners %>
</p>

<%= render 'candidates_table' %>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
