<p id="notice"><%= notice %></p>


<h1><%= @contributor.first_name %> <%= @contributor.last_name %></h1>
<br>
<div class="card">
<div class="card-header" style="max-width: 100%;">List of Contributions</div>
<table class=table>
  <thead>
  <tr>
    <th class="pl-4">Committee</th>
    <th>Amount</th>
    <th>Contribution Type</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @contributor.transactions.each do |transaction| %>
  <tr>
    <td class="pl-4"><%= link_to "#{transaction.candidate_committee.name}", transaction.candidate_committee %></td>
    <td><%= number_to_currency(transaction.amount) %></td>
    <td><%= transaction.full_payment_type %></td>
    <td><%= transaction.transaction_date %></td>
    </td>
    <%end%>
  </tbody>
</table>
</div>
<br>
<div class="card">
<div class="card-header" style="max-width: 100%;">Aggregate Contributions by Committee</div>
<table class=table>
  <thead>
  <tr>
    <th class="pl-4">Committee</th>
    <th>Amount</th>

  </tr>
  </thead>
  <tbody>
  <% @contributor.transactions.select('candidate_committee_id, sum(amount) as total').group('candidate_committee_id').order('total desc').each do |transaction| %>
  <tr>
    <td class="pl-4"><%= link_to "#{transaction.candidate_committee.name}", transaction.candidate_committee %></td>
    <td><%= number_to_currency(transaction.total) %></td>
 
    </td>
    <%end%>
  </tbody>
</table>
</div>


