<p id="notice"><%= notice %></p>



<p>
  <strong>First name:</strong>
  <%= @contributor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contributor.last_name %>
</p>

<table class=table>
  <thead>
  <tr>
    <th>Committee</th>
    <th>Amount</th>
 
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @contributor.transactions.each do |transaction| %>
  <tr>
    <td><%= link_to "#{transaction.candidate_committee.name}", transaction.candidate_committee %></td>
    <td><%= number_to_currency(transaction.amount) %></td>

    <td><%= transaction.transaction_date %></td>
    </td>
    <%end%>
  </tbody>
</table>

<%= link_to 'Edit', edit_contributor_path(@contributor) %> |
<%= link_to 'Back', contributors_path %>
