<p id="notice"><%= notice %></p>

<p>
  <h2><%= @incumbent.title %> <%= @incumbent.first_name %> <%= @incumbent.last_name %></h2>
</p>
<%= image_tag @incumbent.image_url.to_s %> <br>

<p>
  <strong>Date of Birth:</strong> <%= @incumbent.birth_date %> (Age <%= @incumbent.calculated_age %>)
</p>

<p>
  
<% if @incumbent.party == 'Republican' %>
  <strong>Party:</strong> <span style="color: #DE0100;"><%= @incumbent.party %></span>
<% else %>
   <p>Book Online : <%= @incumbent.party %></p>
<% end %>
</p>



<p>
  <strong>Year Elected as <%= @incumbent.title %>:</strong> <%= @incumbent.first_elected %> 
</p>

<p>
  <strong>Prior Elected Office:</strong> <%= @incumbent.prior_elected %> 
</p>

<p>
  <strong>Elected Official Salary:</strong> $<%= number_with_delimiter(@incumbent.salary, :delimiter => ',') %> 
</p>

<p>
  <strong>Professional career:</strong> <%= @incumbent.professional_career %>
</p>

<p>
  <strong>Congressional District:</strong> <%= @incumbent.congressional_district.ordinalize %>
</p>

<p>
  <strong>Senate District:</strong> <%= @incumbent.senate_district.ordinalize %>
</p>

<p>
  <strong>Assembly District:</strong> <%= @incumbent.assembly_district.ordinalize %>
</p>

<p>
  <strong>Supervisorial District:</strong> <%= @incumbent.supe_district.ordinalize %>
</p>

<p>
  <strong>Birthplace:</strong> <%= @incumbent.birth_place %>
</p>

<p>
  <strong>Public E-Mail:</strong> <%= mail_to @incumbent.email %>
</p>

<p>
  <strong>Twitter:</strong> <%= @incumbent.twitter %>
</p>

<p>
  <strong>Facebook:</strong> <%= @incumbent.facebook %>
</p>

<p>
  <strong>Public Phone Number:</strong> <%= @incumbent.phone %>
</p>

<p>
  <strong>Termed Out:</strong> <%= @incumbent.term %>
</p>

<p>
  <strong>On November, 2020 ballot?:</strong> <%= @incumbent.on_ballot %>
</p>

<p>
  <strong>Current term expires:</strong> <%= @incumbent.term_expires %>
</p>

<%= link_to 'Edit', edit_incumbent_path(@incumbent) %> |
<%= link_to 'Back', incumbents_path %>



<h3>Reports</h3>
<table>
<thead>
    <tr>
      <th>Reporting Period Begin</th>
      <th>Reporting Period End</th>
      <th>Date report filed</th>
      <th>Period Receipts</th>
      <th>Period Disbursements</th>
      <th>Current Cash-on-hand</th>
      <th>Current debt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.period_begin %></td>
        <td><%= report.period_end %></td>
        <td><%= report.report_filed %></td>
        <td>$ <%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.current_coh, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.current_debt, :delimiter => ',') %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report,  { :incumbent_id => @incumbent.id } ) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("Add Report", new_report_path(:incumbent_id => @incumbent.id), :action => "new", :method => :get)%>

