


<div class="container bg-white shadow-sm border rounded mt-2">
<br>
<%= bootstrap_form_for(@statistical_datum, label_errors: true) do |f| %>
<% if @statistical_datum.errors.any? %>
    <% @statistical_datum.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>


<div class="row">
  <div class="col-md">
    <% selected_jurisdiction_id = f.object.new_record? ? params[:jurisdiction_id] : f.object.jurisdiction_id %>
    <%= f.select(:jurisdiction_id, options_for_select(Jurisdiction.order(:name).pluck(:name, :id), selected_jurisdiction_id), include_blank: true) %>
  </div>
  <div class="col-md">
    <% selected_district_id = f.object.new_record? ? params[:district_id] : f.object.district_id %>
    <%= f.select(:district_id, options_for_select(District.order(jurisdiction_id: :asc, name: :desc).map { |v| ["#{v.jurisdiction.name} - #{v.name} (District #{v.district}) #{v.term_expires}", v.id] }, selected_district_id), include_blank: true) %>
  </div>
  <div class="col-md">
    <%= f.select :district_year, options_for_select(['2010', '2020'], '2020'), required: true %>
  </div>
</div>
<hr>

<%= f.number_field :total_population, label: "Total Population", step: :any %>
<div class="row">


            <div class="col-md text-nowrap">
             
              <%= f.number_field :white, label: "White", step: :any %>
              <%= f.number_field :hispanic, label: "Hispanic", step: :any %>
              <%= f.number_field :black, label: "Black", step: :any %>

            </div>
            <div class="col-md text-nowrap">
              
              <%= f.number_field :asian, label: "Asian", step: :any %>
              <%= f.number_field :native, label: "Native", step: :any %>
              <%= f.number_field :pacific, label: "Pacific", step: :any %>            
  
            </div>
        
      
       
      
        <div class="col-md dem-text "> 
          <%= f.number_field :newsom_2022, label: "Newsom %", step: :any %>
          <%= f.number_field :biden_2020, label: "Biden %", step: :any %>
          <%= f.number_field :newsom_2018, label: "Newsom %", step: :any %>
          <%= f.number_field :clinton_2016, label: "Clinton %", step: :any %>
         
        </div>
        <div class="col-md gop-text">
          <%= f.number_field :dahle_2022, label: "Dahle %", step: :any %>
          <%= f.number_field :trump_2020, label: "Trump '20 %", step: :any %>
          <%= f.number_field :cox_2018, label: "Cox %", step: :any %>
          <%= f.number_field :trump_2016, label: "Trump '16 %", step: :any %>
          
        </div>  

    </div>


  <div class="actions">
      <%= f.submit %>
  </div>

<%end%>