
<%= bootstrap_form_for(@candidate_committee, label_errors: true) do |f| %>
<% if @candidate_committee.errors.any? %>
    <% @candidate_committee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="form-inputs">
    <%= f.text_field :name %>
    <div class="row">
      <div class="col"><%= f.select :cycle, ['2022', '2020', '2018'] %></div>
      <div class="col"> <%= f.select :status, ['Open', 'Closed'] %></div>
      <div class="col"><%= f.check_box :primary_committee, value: (f.object.new_record? ? 
          true : f.object.primary_committee)  %></div>
    </div>
    <%= f.select(:person_id, Person.order('last_name ASC').all.collect { |v| [ "#{v.last_name}, #{v.first_name}", v.id ] }, {:selected => params[:person_id]},  label: "Candidate:" ) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
