<h1>Candidate Committees</h1>

<table class="table">
  <thead>
    <tr>
      <th>Committee Name</th>
      <th>Most Recent </th>
      <th>3 Most Recent </th>
      <th>Person</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @candidate_committees.each do |committee| %>
      <tr>
        <td><%= link_to committee.name, candidate_committee_path(committee) %></td>
        <td><%= committee.reports.first.period_end if committee.reports.any? %></td>
        <td>
          <% committee.reports.limit(3).each do |report| %>
            <%= report.period_end %><br>
          <% end %>
        </td>
        <td>
          <% if committee.person %>
            <%= link_to "#{committee.person.first_name} #{committee.person.last_name}", person_path(committee.person) %>
          <% end %>
        </td>
        <td><%= link_to 'Add New Report', new_report_path(candidate_committee_id: committee.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
