<div class="container mt-4">
  <h1 class="text-center"><%= @candidate_committee.name %></h1>

  <div class="text-center mb-4">
    <strong>Committee for:</strong>
    <%= link_to @candidate_committee.person.full_name, @candidate_committee.person %>
    <% if user_signed_in? && current_user.admin? %>
      <div>
        <%= link_to "Add Report", new_report_path(candidate_committee_id: @candidate_committee.id), class: "btn btn-primary btn-sm float-right" %>
      </div>
    <% end %>
  </div>

  <div class="card mb-3">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-nowrap">Summary</th>
            <th class="text-right">Raised</th>
            <th class="text-right">Loans Received</th>
            <th class="text-right">Spent</th>
            <th class="text-right">Debt</th>
            <th class="text-right">Cash on Hand</th>
            <th class="text-right">Net Cash on Hand</th>
            
          </tr>
        </thead>
         <% if @candidate_committee.reports.present? %>
        <tbody>
          <!-- Summary Totals row -->
          <tr class="table-primary">
            <td class="text-nowrap"><strong>Summary Totals</strong></td>
            <td class="text-right"><%= number_to_currency(@candidate_committee.reports.sum(:period_receipts)) %></td>
            <td class="text-right"><%= number_to_currency(@candidate_committee.reports.sum(:loans_received)) %></td>
            <td class="text-right"><%= number_to_currency(@candidate_committee.reports.sum(:period_disbursements)) %></td>
            <td class="text-right"><%= number_to_currency(@candidate_committee.reports.order(period_end: :desc).first.current_debt) %></td>
            <td class="text-right"><%= number_to_currency(@candidate_committee.reports.order(period_end: :desc).first.current_coh) %></td>
            <td class="text-right"><%= number_to_currency(@candidate_committee.reports.order(period_end: :desc).first.current_coh - @candidate_committee.reports.order(period_end: :desc).first.current_debt) %></td>
            <td></td>
          </tr>

          <!-- Individual report rows -->
         
            <% @candidate_committee.reports.order('period_end DESC').each do |report| %>
              <tr>
                <td><%= link_to "#{report.period_begin.strftime("%b %d, %Y")} - #{report.period_end.strftime("%b %d, %Y")}", report %></td>
                <td class="text-right"><%= number_to_currency(report.period_receipts) %></td>
                <td class="text-right"><%= number_to_currency(report.loans_received) %></td>
                <td class="text-right"><%= number_to_currency(report.period_disbursements) %></td>
                <td class="text-right"><%= number_to_currency(report.current_debt) %></td>
                <td class="text-right"><%= number_to_currency(report.current_coh) %></td>
                <td class="text-right"><%= number_to_currency(report.current_coh - report.current_debt) %></td>
                <td> <% if report.pdf.url.present? %>
                        <%= link_to "Download Report", report.pdf.url, target: "_blank", rel: "noopener noreferrer" %>
                      <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7" class="text-center">No reports filed yet.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_candidate_committee_path(@candidate_committee) %>
<% end %>

<script>

jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "currency-pre": function ( a ) {
        a = (a==="-") ? 0 : a.replace( /[^\d\-\.]/g, "" );
        return parseFloat( a );
    },
 
    "currency-asc": function ( a, b ) {
        return a - b;
    },
 
    "currency-desc": function ( a, b ) {
        return b - a;
    }
} );

$(document).ready(function () {
    $('table.display').DataTable({
        order: [[2, 'desc']],
        columnDefs: [
       { type: 'currency', targets: 2 }
     ],
    });
});
</script>

