<div style="width:100%;">
    <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
        <h5 class="dark-red-supporting heavy pt-4 pl-4">Aggregate Expenditures by Committee Supporting/Opposing <%= "Measure #{@measure.letter}" %></h5>
        <div class="table-responsive p-3">
            <table class="table bg-white" style="width:100%">
            <thead class="thead-white rounded">
            <tr>
                <th>Committee</th>
                <th>Total Support</th>
                <th>Total Oppose</th>
            </tr>
            </thead>

            <tbody>
            <% @expenditures.collect{|u| u.committee}.flatten.uniq.each do |committee| %>
                <tr>
                <td><%= link_to "#{committee.name}", committee %></td>
                <td><% if committee.expenditures.where(:is_support => true).where(measure: @measure).sum(:amount) > 0 %><span class="green-text "><%= number_to_currency(committee.expenditures.where(:is_support => true).where(measure: @measure).sum(:amount)) %></span><% end %></td>
                <td><% if committee.expenditures.where(:is_support => false).where(measure: @measure).sum(:amount) > 0 %><span class="red-text "><%= number_to_currency(committee.expenditures.where(:is_support => false).where(measure: @measure).sum(:amount)) %></span><% end %></td>
                </tr>
                <% end %>
            </tbody>

            <tfoot>
                <tr>
                    <td><strong>Totals</strong></td>
                    <td><span class="green-text heavy"><%= number_to_currency(@expenditures.where(:is_support => true).sum(:amount)) %></span></td>
                    <td><span class="red-text heavy"><%= number_to_currency(@expenditures.where(:is_support => false).sum(:amount)) %></span></td>
                </tr>
            </tfoot>
            </table>
        </div>
    </div>
</div>  