<div class="container">
  <div class="row rounded primary-border p-4 shadow-sm">
    <div class="col">

      <div class="row">
        <h2 class="primary-blue heavy">Measure <%= @measure.letter %> </h2>
        <h4>(<%= @measure.topic %>)</h4>
        <h6><%= link_to "#{@measure.jurisdiction.name}", @measure.jurisdiction %></h6>
      </div>
      <br>
      <div class="row">
        <strong>Measure Summary:</strong><br>
        <p><%= @measure.text %></p><br>
      </div>
      <div class="row mb-4">
        <% if @measure.pdf.url.present? %><%= link_to "Download Full Measure", @measure.pdf.url, :class => "btn btn-primary", target: :_blank %><%end%>
      </div>

      <div class="row">  
        <div class="col-auto p-0">
            <strong>Type:</strong><br>
            <strong>Origin:</strong><br>
            <strong>Required Vote Threshold:</strong>
        </div>
        <div class="col-auto">
          <%= @measure.measure_type %><br>
          <%= @measure.origin %><br>
          <%= number_to_percentage(@measure.threshold, precision: 2) %><br>
        </div>
      </div>

    </div>
  </div>    
</div>  
  <hr>
  <% if @measure.committees.present? %>
  <div class="container">
  <div class="row rounded primary-border p-4 shadow-sm mb-3">
  <h5 class="dark-red-supporting heavy">Committees Supporting / Opposing Measure <%= @measure.letter %></h5>
  <div class="table-responsive">
    <table class="table border-primary shadow-sm bg-white p-2">
      <thead>
      <tr>
        <th>Committee Name</th>
        <th>Support / Oppose</th>
        <th>Total Receipts</th>
        <th>Total Expenditures</th>
      </tr>
    </thead>

    <tbody>
      <% @committees.each do |committee| %>
      <tr> 
        <td><%= link_to "#{committee.name}", committee %> </td>
        <td><% if committee.is_support?%>
            Support
            <%else%>
            Oppose
            <%end%> </td>
        <td><%= number_to_currency(committee.reports.sum(:period_receipts)) %> </td>
        <td><%= number_to_currency(committee.reports.sum(:period_disbursements)) %> </td>                   
      </tr>
      <%end%>
    </tbody>
  </table>
  </div>
    </div>
  </div>
  <%end%>

<% if current_user.admin? %>
<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Delete Measure', @measure, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', measures_path %>
</div>
</div>
