<div class="container">
  <div class="row rounded primary-border p-4 shadow-sm">
    <div class="col">

      <div class="row">
        <div class="col">
          <h2 class="primary-blue heavy">Measure <%= @measure.letter %> </h2>
          <h5><%= @measure.topic %></h5>
          <h6><%= link_to "#{@measure.jurisdiction.name}", @measure.jurisdiction %></h6>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
        <strong>Measure Ballot Summary:</strong>
        <p><%= @measure.text %></p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
        <% if @measure.pdf.url.present? %><%= link_to "Download Full Measure", @measure.pdf.url, :class => "btn btn-primary", target: :_blank %><%end%>
        </div>
      </div>

      <div class="row">  
        <div class="col-auto">
            <strong>Type:</strong><br>
            <strong>Origin:</strong><br>
            <strong>Required Vote Threshold:</strong><br>
            <%if @measure.gop_support.present? %><br><strong class="gop-text">Republican Party:</strong><%end%>
            <%if @measure.dem_support.present? %><br><strong class="dem-text">Democratic Party:</strong><%end%>
        </div>
        <div class="col-auto">
          <%= @measure.measure_type %><br>
          <%= @measure.origin %><br>
          <%= number_to_percentage(@measure.threshold, precision: 2) %><br>
          <%if @measure.gop_support.present? %><br><%= @measure.gop_support %><%end%>
          <%if @measure.dem_support.present? %><br><%= @measure.dem_support %><%end%>
        </div>
      </div>

    </div>
  </div>    
</div>  
  <hr>
<% if current_user.subscribed? %>  
  <% if @measure.committees.present? %>
  <div class="container">
  <div class="row rounded primary-border p-4 shadow-sm mb-3">
  <h5 class="dark-red-supporting heavy">Committees Dedicated to Supporting / Opposing Measure <%= @measure.letter %></h5>
  <div class="table-responsive">
    <table class="table border-primary shadow-sm bg-white p-2">
      <thead>
      <tr>
        <th>Committee Name</th>
        <th>Support / Oppose</th>
        <th>Total Receipts</th>
        <th>Total Expenditures</th>
        <th>Cash-on-Hand </th>
      </tr>
    </thead>

    <tbody>
      <% @committees.each do |committee| %>
      <% report = committee.reports %>  
      <tr> 
        <td><%= link_to "#{committee.name}", committee %> </td>
        <td><% if committee.is_support?%>
            Support
            <%else%>
            Oppose
            <%end%> </td>
        <td><%= number_to_currency(committee.reports.sum(:period_receipts)) %> </td>
        <td><%= number_to_currency(committee.reports.sum(:period_disbursements)) %> </td>                   
        <td><%if committee.reports.present?%><span class="green-pill"><%= number_to_currency(committee.reports.order('period_end DESC').first.current_coh ) %></span><%end%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  </div>
    </div>
  </div>
  <%end%>

<% if @measure.expenditures.present? %>
<%= render 'expenditures_committee'%>
<%= render 'expenditures'%>
<%end%>

<%end%>
<% if  current_user.admin? %>
<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Delete Measure', @measure, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', measures_path %>
</div>
</div>
