
<%= bootstrap_form_for(@historical_candidate, label_errors: true) do |f| %>
<div class="form-inputs">
  <div class="col-md-9">
    <div class="row">
      <div class="col">
        <%= f.select(:person, Person.order('last_name ASC').all.collect { |v| [ " #{v.last_name}, #{v.first_name}", v.id ] }, {:include_blank => true}) %>
      </div>
      <div class="col">
        <%= f.text_field :first_name %>
      </div>
      <div class="col">
        <%= f.text_field :last_name %>
      </div>
      <div class="col">
        <%= f.number_field :votes %>
      </div>
    </div>
    <%= f.check_box :is_winner %>
      <div class="form-actions">
    <%= f.submit %>
  </div>
  <br>
  <%= link_to 'Back', historical_candidates_path %>
  </div>  
</div>


<% end %>
