<p id="notice"><%= notice %></p>

<h1>Historical Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Election history</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Votes</th>
      <th>Is winner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historical_candidates.each do |historical_candidate| %>
      <tr>
        <td><%= historical_candidate.election_history %></td>
        <td><%= historical_candidate.first_name %></td>
        <td><%= historical_candidate.last_name %></td>
        <td><%= historical_candidate.votes %></td>
        <td><%= historical_candidate.is_winner %></td>
        <td><%= link_to 'Show', historical_candidate %></td>
        <td><%= link_to 'Edit', edit_historical_candidate_path(historical_candidate) %></td>
        <td><%= link_to 'Destroy', historical_candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historical Candidate', new_historical_candidate_path %>
