<div class="container bg-white shadow-sm border rounded mt-2">
<%= bootstrap_form_for(@report, label_errors: true) do |f| %>

<div class="row p-3">
  <div class="col-md-3">
    <h5 class="heavy">Report Details</h5>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col">
      <%= f.date_field :period_begin, required: true, value: Admin.last.period_begin %>
      <%= f.date_field :period_end, required: true, value: Admin.last.period_end %>
      </div>
      <div class="col">
      <%= f.date_field :report_filed, required: true, value: (f.object.new_record? ? 
Date.today.strftime("%Y-%m-%d") : f.object.report_filed) %> 
      <%= f.select :cycle, ['2018', '2020', '2022'], :selected => Admin.last.current_cycle, required: true %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col border-right">
        <%= f.number_field :period_receipts, step: :any, required: true %>
        <%= f.number_field :loans_received, step: :any, label: "Loans Received", required: true %>
        <%= f.number_field :period_disbursements, step: :any, required: true %>
        <%= f.number_field :current_coh, step: :any, label: "Cash on Hand", required: true %>
        <%= f.number_field :current_debt, step: :any, label: "Debt", required: true %>
        </div>
      <div class="col">
        <%= f.select(:person_id, Person.order('last_name ASC').all.collect { |v| [ "#{v.last_name}, #{v.first_name}", v.id ] }, {:selected => params[:person_id], :include_blank => true},  label: "Candidate:" ) %>
        <%= f.select(:candidate_committee_id, CandidateCommittee.order('name ASC').all.collect { |v| [ v.name, v.id ] }, {:selected => params[:candidate_committee_id], :include_blank => true }, label: "Candidate Committee:" ) %>
        <%= f.select(:committee_id, Committee.order('name ASC').all.collect { |v| [ v.name, v.id ] }, {:selected => params[:committee_id], :include_blank => true }, label: "Non-Candidate Committee:" ) %>
        <%= f.check_box :is_amended, label: "Report is Amended" %>
        <br>
        <%= f.file_field :pdf, { label: "Upload Report" } %>
      </div>  
    </div>
  </div>

</div>



<br>
<%= f.submit %>
<%= link_to 'Back', reports_path, :class => "btn btn-outline-primary"  %>

<%end%>


<br>

</div>
