<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :period_begin, "Period Start Date" %>
    <%= form.date_field :period_begin %>
  </div>

  <div class="field">
    <%= form.label :period_end, "Period End Date" %>
    <%= form.date_field :period_end %>
  </div>

  <div class="field">
    <%= form.label :report_filed, "Date Report Filed" %>
    <%= form.date_field :report_filed %>
  </div>


  <div class="field">
    <%= form.label :period_receipts, "Receipts this period" %>
    <%= form.text_field :period_receipts %>
  </div>

  <div class="field">
    <%= form.label :period_disbursements, "Disbursements this period" %>
    <%= form.text_field :period_disbursements %>
  </div>  

  <div class="field">
    <%= form.label :current_coh, "Current Cash-on-Hand" %>
    <%= form.text_field :current_coh %>
  </div>

  <div class="field">
    <%= form.label :current_debt, "Current Debt" %>
    <%= form.text_field :current_debt %>
  </div>  

  <%= form.text_field :person_id, :value => params[:person_id]%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
