<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table class="table table-hover" id="reports">
  <thead>
    <tr>
      <th style="width: 20%;">Name</th>
      <th>Reporting Period Begin</th>
      <th>Reporting Period End</th>
      <th>Date report filed</th>
      <th>Period Receipts</th>
      <th>Period Disbursements</th>
      <th>Current Cash-on-hand</th>
      <th>Current debt</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to "#{report.person.first_name} #{report.person.last_name}", report.person  %></td>
        <td><%= report.period_begin %></td>
        <td><%= report.period_end %></td>
        <td><%= report.report_filed %></td>
        <td>$ <%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.current_coh, :delimiter => ',') %></td>
        <td>$ <%= number_with_delimiter(report.current_debt, :delimiter => ',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
