
<div class="container">

    <div class="row">
      <h3 class="primary-blue heavy m-4">Latest Campaign Finance Reports</h3>
      
    </div>


    <div class="row">
                     <!--PUT TOP FUNDRAISERS HERE -->
    </div>  
    





<br>
<div class="panel panel-default">
  <div class="table-responsive shadow bg-white rounded primary-border p-4">
    <table class="table table-sm" id="reports">
      <thead class="thead-light">
        <tr>
          <th>Name<br></th>
          <th>Start Date</th>
          <th>End Date</th>
          <th class="text-right">Receipts</th>
          <th class="text-right">Expenses</th>
          <th class="text-right">Cash on Hand</th>
          <th>View</th>
        </tr>
      </thead>

      <tbody>
        <% Report.where('created_at >= ?', Date.yesterday).order('created_at DESC').each do |report| %>
          
          <tr>
            
            <td class=""><%= link_to "#{report.committee.name}", report.committee  %></small><%if current_user.admin?%> - <%= link_to 'Edit', edit_report_path(report) %><%end%><br>
                </td>
            <td class=""><%= "#{report.period_begin.strftime("%b-%d-%y")}" %></td>
            <td><%= "#{report.period_end.strftime("%b-%d-%y")}" %></td>
            <td class=""><span class="float-end green-text"><%= number_to_currency(report.period_receipts) %></span></td>
            <td class=""><span class="float-end red-text"><%= number_to_currency(report.period_disbursements) %></span></td>
            <td class=""><%if report.net_coh < 0 %><span class="float-end gop-text">(<%= number_to_currency(report.net_coh) %>)</span><%else%><span class="float-end"><%= number_to_currency(report.net_coh) %></span><%end%></td>
            <td class><% if report.pdf.url.present? %><%= link_to "View", report.pdf.url, :class => "btn btn-primary", target: :_blank %><%end%></td>
          </tr>
          
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<br>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Report', new_report_path, :class => "btn btn-primary mr-2" %>
<%end%>
<% if params[:person_id] %>
<%= link_to "Back to #{Person.find(params[:person_id]).full_name}", Person.find(params[:person_id]), :class => "btn btn-primary mr-2" %>
<%end%>
</div>
<script>
    $( document ).on('turbolinks:load', function() {
    $('#reports').DataTable( {
      retrieve: true, 
      "order": [[ 1, "desc" ]]
    });
});
</script>
