<p id="notice"><%= notice %></p>

<h1>Reports</h1>
<br>
<table class="table small-table table-bordered table-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Reporting Period</th>
      <th>Date report filed</th>
      <th>Period Receipts</th>
      <th>Period Disbursements</th>
      <th>Current Cash-on-hand</th>
      <th>Current debt</th>
      <th>Cash on-hand minus debt</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>"><%= link_to "#{report.person.first_name} #{report.person.last_name}", report.person  %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>"><%= "#{report.period_begin.to_formatted_s(:long)} - #{report.period_end.to_formatted_s(:long)}" %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>"><%= report.report_filed.to_formatted_s(:long) %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.current_debt, :delimiter => ',') %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.net_coh, :delimiter => ',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
