
<div class="container">

    <div class="row">
      <h1 class="primary-blue heavy m-4">Campaign Finance Reports</h1>
    </div>
      <div class="row">
    <div class="col-lg-6">
        <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
          <div class="card-header">
              TOP CANDIDATE FUNDRAISERS<br> (PERIOD ENDING FEB 15, 2020)
          </div>
          <div class="table-responsive p-1">
            <table class="table table p-2 bg-white" style="width:100%">           
                  <thead class="thead-light">
                    <tr>
                      <th></th>
                      <th>Candidate<br></th>
                      <th>Period Receipts</th>
                    </tr>
                  </thead>
                  <% Report.where("candidate_report = ? AND period_begin = ?", true, Date.new(2020,1,19)).order(period_receipts: :DESC).limit(10).each do |report|  %>
                  <tbody>
                    <tr>
                      <td class="condensed-column text-center"><%= image_tag report.person.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %></td>
                      <td><% if report.person.running_reelection? %><%= link_to "#{report.person.first_name} #{report.person.last_name}", report.person  %><br><small><%= report.person.incumbent_district.name %>
                      <%else%><%= link_to "#{report.person.first_name} #{report.person.last_name}", report.person  %><br><small><%= report.person.district.name %><%end%></td>
                      <td><span class="float-right green-pill">$<%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></span></td>
                      <%end%>
                    <tr>
                    
                  </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
      <div class="card shadow-sm mb-3 bg-white rounded" style="max-width: 100%;">
        <div class="card-header">
            MOST-FUNDED COMMITTEES<br> (PERIOD ENDING FEB 15, 2020)
        </div>
        <div class="table-responsive p-1">
          <table class="table table p-2 bg-white" style="width:100%">           
                <thead class="thead-light">
                  <tr>
                    <th>Committee<br></th>
                    <th>COH</th>
                  </tr>
                </thead>
                <% Report.where("period_begin = ?", Date.new(2020,1,19)).limit(10).order(current_coh: :DESC).each do |report|  %>
                <tbody>
                  <tr>
                    <% if report.committee.present? %>
                    <td><%= link_to "#{report.committee.name}", report.committee  %><br><small><%= report.committee.jurisdiction.name %></td>
                    <td><span class="float-right green-pill">$<%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></span></td>
                    <%end%>
                  <tr>
                  <%end%>
                </tbody>
          </table>
        </div>
      </div>
  </div>
</div>  
    





<br>
<div class="panel panel-default">
  <div class="table-responsive shadow bg-white rounded border-primary p-4">
    <table class="table" id="reports">
      <thead class="thead-light">
        <tr>
          <th>Name<br><small>(Committee)</small></th>
          <th>Report Date</th>
          <th>Receipts</th>
          <th>Loans Received</th>
          <th>Disbursements</th>
          <th>COH</th>
          <th>DEBT</th>
          <th>NET COH</th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <% if report.person.present?%>
            <td class=""><%= link_to "#{report.person&.first_name} #{report.person&.last_name}", report.person  %><br>
                <% if report.person.running_reelection || report.incumbent_report? %>
                      <small>(<%= report.person.incumbent_district.name %>)</small>
                      <%else%>           
                      <small>(<%= report.person.district&.name %>)</small>
                      <%end%>
                <%else%>
                <td class=""><%= link_to "#{report.committee&.name}", report.committee  %>
                <%end%></td>
            <td class=""><%= link_to "#{report.report_filed.strftime("%b-%d-%y")}", report %><% if report.is_amended? %>*<%end%><br><small><%= "#{report.period_begin.strftime("%b-%d-%y")} -" %> <br> <%= "#{report.period_end.strftime("%b-%d-%y")}" %></small></td>
            <td class=""><span class="float-right green-text">$<%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></span></td>
            <td class=""><span class="float-right">$<% if report.loans_received.present? %><%= number_with_delimiter(report.loans_received, :delimiter => ',') %><%else%>0.00<%end%></span></td>
            <td class=""><span class="float-right red-text">$<%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></span></td>
            <td class=""><span class="float-right green-pill">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span></td>
            <td class=""><span class="float-right red-pill">$<%= number_with_delimiter(report.current_debt, :delimiter => ',') %></span></td>
            <td class=""><%if report.net_coh < 0 %><span class="float-right gop-text">($<%= number_with_delimiter(report.net_coh, :delimiter => ',') %>)</span><%else%><span class="float-right">$<%= number_with_delimiter(report.net_coh, :delimiter => ',') %></span><%end%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<br>
<% if current_user.admin? %>
<%= link_to 'New Report', new_report_path, :class => "btn btn-primary mr-2" %>
<%end%>    
</div>
<script>
    $( document ).on('turbolinks:load', function() {
    $('#reports').DataTable( {
      retrieve: true
    });
});
</script>
