<p id="notice"><%= notice %></p>
<% if user_signed_in? %>

<h1>Campaign Finance Reports</h1>
<br>
<table class="table small-table table-bordered table-sm table-hover" id="reports">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Reporting Period</th>
      <th>Date report filed</th>
      <th>Period Receipts</th>
      <th>Period Disbursements</th>
      <th>Current Cash-on-hand</th>
      <th>Current debt</th>
      <th>Cash on-hand minus debt</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <% if report.person.present?%>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>"><%= link_to "#{report.person&.first_name} #{report.person&.last_name}", report.person  %><br>
        <% if report.incumbent_report?%>
        (<%= report.incumbent_district.name %>)
        <%else%>
        (<%= report.district.name %>)
        <%end%>
        </td>
        <%else%>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>"><%= link_to "#{report.committee.name}", report.committee  %></td>
        <%end%>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>"><%= "#{report.period_begin.strftime("%b-%d-%y")} -" %> <br> <%= "#{report.period_end.strftime("%b-%d-%y")}" %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>"><%= link_to "#{report.report_filed.strftime("%b-%d-%y")}", report %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.period_disbursements, :delimiter => ',') %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.current_debt, :delimiter => ',') %></td>
        <td class="<%= report.is_amended? ? 'amended' : 'not-amended' %>">$<%= number_with_delimiter(report.net_coh, :delimiter => ',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin? %>
<%= link_to 'New Report', new_report_path %>
<%end%>    
<%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to 'Sign up', new_user_registration_path %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
<script>
    $( document ).on('turbolinks:load', function() {
    $('#reports').DataTable( {
      retrieve: true
    });
});
</script>
