
<div class="container">

    <div class="row">
      <h1 class="primary-blue heavy m-4">Campaign Finance Reports</h1>
    </div>
      <div class="row">
    <div class="col-lg-6">
        <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
          <div class="card-header">
              Top Candidate Fundraisers<br> (Period Ending June 30, 2020)
          </div>
          <div class="table-responsive p-1">
            <table class="table table p-2 bg-white " style="width:100%">           
                  <thead class="thead-light">
                    <tr>
                      <th></th>
                      <th>Candidate<br></th>
                      <th>Period Receipts</th>
                    </tr>
                  </thead>
                  <% Report.where("candidate_report = ? AND period_end = ?", true, Date.new(2020,6,30)).order(period_receipts: :DESC).limit(14).each do |report|  %>
                  
                  <tbody>
                    <tr>
                      <td class="condensed-column text-center"><%if report.person.image.present?%><%= image_tag report.person.image.url(:headshot), alt: 'headshot', :class => "avatar shadow-sm", size: "45x45"  %><%end%></td>
                      <td><% if report.person.running_reelection? %><%= link_to "#{report.person.first_name} #{report.person.last_name}", report.person  %><br><small><%= report.person.incumbent_district.name %>
                      <%else%><%= link_to "#{report.person.first_name} #{report.person.last_name}", report.person  %><br><small><%= report.person.district.name %><%end%></td>
                      <td><span class="float-right green-pill">$<%= number_with_delimiter(report.period_receipts, :delimiter => ',') %></span></td>
                    
                    <tr>
                    <%end%>
                  </tbody>
                  
            </table>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
      <div class="card shadow-sm mb-3 bg-white rounded primary-border" style="max-width: 100%;">
        <div class="card-header">
            Most-Funded Committees<br> (Period Ending June 30, 2020)
        </div>
        <div class="table-responsive p-1">
          <table class="table table p-2 bg-white" style="width:100%">           
                <thead class="thead-light">
                  <tr>
                    <th>Committee<br></th>
                    <th>COH</th>
                  </tr>
                </thead>
                <% Report.where("period_end = ?", Date.new(2020,6,30)).where("committee_id IS NOT NULL").order(current_coh: :DESC).limit(10).each do |report|  %>
                <tbody>
                  <tr>
                    <% if report.committee.present? %>
                    <td><%= link_to "#{report.committee.name}", report.committee  %><br><small><%= report.committee.jurisdiction.name %></td>
                    <td><span class="float-right green-pill">$<%= number_with_delimiter(report.current_coh, :delimiter => ',') %></span></td>
                    <%end%>
                  <tr>
                  <%end%>
                </tbody>
          </table>
        </div>
      </div>
  </div>
</div>  
    





<br>
<div class="panel panel-default">
  <div class="table-responsive shadow bg-white rounded primary-border p-4">
    <table class="table" id="reports">
      <thead class="thead-light">
        <tr>
          <th>Name<br><small>(Committee)</small></th>
          <th>Report Date</th>
          <th>Receipts</th>
          <th>Loans</th>
          <th>Expenses</th>
          <th>COH</th>
          <th>Debt</th>
          <th>Net COH</th>
          <th>View</th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <% if report.person.present?%>
          <tr>
            
            <td class=""><%= link_to "#{report.person&.first_name} #{report.person&.last_name}", report.person  %><br>
                <% if report.person.running_reelection || report.incumbent_report? %>
                        <% if report.person.incumbent_committee_name.present? %>
                        <small>(<%= report.person.incumbent_committee_name %>)</small>
                        <%else%>
                        <small>(<%= report.person.incumbent_district.name %>)</small>
                        <%end%>
                      <%else%>           
                      <small>(<%= report.person.district&.name %>)</small>
                      <%end%>
                <%else%>
                <td class=""><%= link_to "#{report.committee&.name}", report.committee  %>
                <%end%></td>
            <td class=""><%= link_to "#{report.report_filed.strftime("%y-%m-%d")}", report %><% if report.is_amended? %>*<%end%><br><small><%= "#{report.period_begin.strftime("%b-%d-%y")} -" %> <br> <%= "#{report.period_end.strftime("%b-%d-%y")}" %></small><%if current_user.admin?%><br><small><%= link_to 'Edit', edit_report_path(report) %></small><%end%></td>
            <td class=""><span class="float-right green-text"><%= number_to_currency(report.period_receipts) %></span></td>
            <td class=""><span class="float-right"><% if report.loans_received.present? %><%= number_to_currency(report.loans_received, :delimiter => ',') %><%else%>0.00<%end%></span></td>
            <td class=""><span class="float-right red-text"><%= number_to_currency(report.period_disbursements) %></span></td>
            <td class=""><span class="float-right green-pill"><%= number_to_currency(report.current_coh) %></span></td>
            <td class=""><span class="float-right red-pill"><%= number_to_currency(report.current_debt) %></span></td>
            <td class=""><%if report.net_coh < 0 %><span class="float-right gop-text">(<%= number_to_currency(report.net_coh) %>)</span><%else%><span class="float-right"><%= number_to_currency(report.net_coh) %></span><%end%></td>
            <td class><% if report.pdf.url.present? %><%= link_to "View", report.pdf.url, :class => "btn btn-primary", target: :_blank %><%end%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<br>
<% if current_user.admin? %>
<%= link_to 'New Report', new_report_path, :class => "btn btn-primary mr-2" %>
<%end%>    
</div>
<script>
    $( document ).on('turbolinks:load', function() {
    $('#reports').DataTable( {
      retrieve: true, 
      "order": [[ 1, "desc" ]]
    });
});
</script>
