<div class="container bg-white shadow-sm rounded primary-border p-4">

  <div class="row">
  
<div class="col-auto">
  Report Filer:<br>
  Report Filed:<br>
  Period Begin:<br>
  Period End:<br>
  <hr>
  Monetary Receipts:<br>
  Non-Monetary Receipts:<br>
  Loans Received:<br>
  Total Receipts:<br>
  <hr>
  Period Disbursements:<br>
  Cash-On-Hand:<br>
  Outstanding Debt:<br>
</div>
<div class="col-auto">
  <% if @report.candidate_committee.present? %>
    <%= link_to @report.candidate_committee.name, @report.candidate_committee %> 
    (<%= link_to @report.candidate_committee.person.full_name, @report.candidate_committee.person %>)
    <br>
  <% end %>
  <%= @report.report_filed.to_formatted_s(:long) %>
  <% if @report.is_amended? %> (Amended)<% end %>
  <br>
  <%= @report.period_begin.to_formatted_s(:long) %><br>
  <%= @report.period_end.to_formatted_s(:long) %>
  <hr>
  $<%= number_with_delimiter(@report.period_monetary_receipts, delimiter: ',') %><br>
  $<%= number_with_delimiter(@report.period_nonmonetary_receipts, delimiter: ',') %><br>
  $<% if @report.loans_received.present? %>
    <%= number_with_delimiter(@report.loans_received, delimiter: ',') %>
  <% else %>0.00<% end %>
  <br>
  $<%= number_with_delimiter(@report.period_receipts, delimiter: ',') %><br>
  <hr>
  $<%= number_with_delimiter(@report.period_disbursements, delimiter: ',') %><br>
  $<%= number_with_delimiter(@report.current_coh, delimiter: ',') %><br>
  $<%= number_with_delimiter(@report.current_debt, delimiter: ',') %>
  <br>
  <% if @report.pdf.url.present? %>
    <%= link_to "Download Report", @report.pdf.url %>
  <% end %>
</div>






  </div>
<br>




<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Delete Report', @report, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>

<script>

jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "currency-pre": function ( a ) {
        a = (a==="-") ? 0 : a.replace( /[^\d\-\.]/g, "" );
        return parseFloat( a );
    },
 
    "currency-asc": function ( a, b ) {
        return a - b;
    },
 
    "currency-desc": function ( a, b ) {
        return b - a;
    }
} );

$(document).ready(function () {
    $('table.display').DataTable({
        order: [[2, 'desc']],
        columnDefs: [
       { type: 'currency', targets: 2 }
     ],
    });
});
</script>
