<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand">
    <%= image_tag 'logos/ballot_logo_square.png', class: "logo", alt: 'The Ballot Book Logo' %>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <%= link_to 'Home', page_path('home'), class: 'nav-link' %><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/districts/">Districts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jurisdictions/">Jurisdictions</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="<%= search_path %>" method="get">
      <%= text_field_tag :q, nil, placeholder: "Search...", class: "form-control mr-sm-2", aria: { label: 'Search for Candidates and Elected Officials' } %>
      <%= button_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    </form>
    <!-- Add dropdown here if needed -->
  </div>
</nav>
