<!DOCTYPE html>
<html lang="en">
  <head>



    <%= display_meta_tags site: 'The Ballot Book' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/google_analytics' %>

    


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag asset_path('logos/ballot_logo_square.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body class="bg-white">



    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
       
        <%= msg %>
      </div>
    <% end %>
    <div class="container wrapper">



   <%= render '/layouts/subscriber_nav' %>



</div>


<div class="container wrapper ">
    
        
    

    <%= yield %>
      </div>
    <br>
  </body>



  <!-- FOOTER -->
  <footer class="container mt-3">
    <p class="float-end">                    
      <%= link_to "https://twitter.com/TheBallotBook", target: :_blank, aria: { label: 'Follow Us on Twitter' }   do %>
      <%= fa_icon "twitter" %>
      <% end %>

    <p>&copy; <%= Time.now.year %> The Ballot Book <br> Questions or Suggestions? <%= mail_to 'theballotbook@theballotbook.com', 'Send Us an E-Mail' %> </p>
  </footer>
</html>
