<!DOCTYPE html>
<html lang="en">
  <head>



    <%= display_meta_tags site: 'The Ballot Book' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Add Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    
    <%= render 'layouts/google_analytics' %>

    


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag asset_path('logos/ballot_logo_square.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body class="bg-white">



    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
       
        <%= msg %>
      </div>
    <% end %>
      <div class="alert alert-primary text-center" role="alert" style="background-color: #3c6484; color: white;">
    <%= link_to 'View March Primary Election Results', 'https://theballotbook.com/elections/2024-03-05', class: 'alert-link', style: 'color: white; font-size: 1.25em;' %>
  </div>
    <div class="container wrapper">



   <%= render '/layouts/subscriber_nav' %>



</div>


<div class="container wrapper ">
    
        
    

    <%= yield %>

    <!-- Add Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
      </div>
    <br>
  </body>



  <!-- FOOTER -->
  <footer class="container mt-3">
  <hr>
    <p class="float-end">                    
    Questions or Suggestions? <%= mail_to 'theballotbook@theballotbook.com', 'Send Us an E-Mail' %></p>
      

    <p>&copy; <%= Time.now.year %> The Ballot Book <br>  </p>
  </footer>
</html>
