<!DOCTYPE html>
<html lang="en">
  <head>



    <%= display_meta_tags site: 'The Ballot Book' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- Leaflet JavaScript -->
    <script src="//unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
    <%= render 'layouts/google_analytics' %>

    


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag asset_path('logos/ballot_logo_square.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body class="bg-white">



    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
       
        <%= msg %>
      </div>
    <% end %>
    <div class="container wrapper">



   <%= render '/layouts/subscriber_nav' %>



</div>


<div class="container wrapper ">
    
        
    

    <%= yield %>
      </div>
    <br>
  </body>



  <!-- FOOTER -->
  <footer class="container mt-3">
  <hr>
    <p class="float-end">                    
    Questions or Suggestions? <%= mail_to 'theballotbook@theballotbook.com', 'Send Us an E-Mail' %></p>
      

    <p>&copy; <%= Time.now.year %> The Ballot Book <br>  </p>
  </footer>
</html>
